[2018-09-10 21:28] willvlad opened #3 "Example fails to run"
When running `flutter packages get` the following error is returned:
[code]
Any workaround?

[2018-09-11 15:14] creativecreatorormaybenot opened #4 "Issue with gauriinfotech"
This Android dependency: https://github.com/miguelpruivo/plugins_flutter_file_picker/blob/1f83dfa776e667552cbc435690ca2cac7e5e9159/android/build.gradle#L37
It is causing an issue, which prevents the application to build, i.e. the following:

[code]

[code]

I am not sure for what this dependency is required, but this is definitely an issue. I also do not know if this is even fixable in the plugin

[2018-09-11 15:28] creativecreatorormaybenot opened #5 "Add different file types"
I do not understand why only PDF files are allowed.
Could you provide an option to select any type of file (any file ending or specified file ending)?

[2018-09-14 01:29] miguelpruivo commented on #4
Fixed on the last version. Dependency removed. It was only necessary to retrieve the path.

[2018-09-14 01:29] #4 closed

[2018-09-14 01:30] miguelpruivo commented on #3
Fixed. Meta needs to be at least at 1.1.5.

[2018-09-14 01:30] #3 closed

[2018-09-14 01:33] miguelpruivo commented on #5
That’s one of the future features. So far PDF was the only file supported (besides gallery and camera) since the reason why this plugin was created was the fact that I need a native file explorer for PDF files. Anyone is, however, free to submit a PR with more supporting types (on both iOS and Android).

[2018-11-15 04:17] zean00 opened #6 "Support handling com.google.android.apps.docs.storage"
Cannot handle document with URI: com.google.android.apps.docs.storage

Always result same file path `/data/user/0/com.example.omahdana/cache/Document`

[code]

[2018-11-22 15:39] sonathati opened #7 "Cannot open document with URI: com.android.providers.downloads.documents ."
Cannot open document with URI: com.android.providers.downloads.documents.
App crashes when attaching document of above URI with below error :
[code]

[2018-11-29 23:47] miguelpruivo commented on #6
What API version are you on? And what's the origin of the file, cloud?

[2018-11-30 00:06] miguelpruivo commented on #7
What's the source of the file?

[2018-12-01 06:34] gauravsingla05 opened #12 "Can not pick video files."
Please help me to pickup video files

[2018-12-03 04:08] NukanTran commented on #7
same issue

[2018-12-03 09:56] miguelpruivo commented on #7
@NukanTran what’s the path from the file you’re trying to load? Can you post your logs?

[2018-12-03 10:08] NukanTran commented on #7
I/FilePicker( 6736): Checking permission: android.permission.WRITE_EXTERNAL_STORAGE
I/FilePicker( 6736): URI:content://com.android.providers.downloads.documents/document/raw%3A%2Fstorage%2Femulated%2F0%2FDownload%2Fa.pdf
E/FilePathPicker( 6736): +++ API 19 URI :: content://com.android.providers.downloads.documents/document/raw%3A%2Fstorage%2Femulated%2F0%2FDownload%2Fa.pdf
E/FilePathPicker( 6736):

[2018-12-03 10:14] miguelpruivo commented on #7
@NukanTran Thank you. What’s the android version?

[2018-12-03 10:17] NukanTran commented on #7
Android 8.0 in Genymoution

[2018-12-03 10:31] #6 closed

[2018-12-03 10:31] miguelpruivo commented on #6
Dup of #7

[2018-12-06 12:19] miguelpruivo commented on #7
@NukanTran @sonathati apparently there are some files started with "raw" string that may lead to this issue on Android 8.0. Doesn't seem to happen on other version though.

I couldn't replicate the issue, however I'm PR a fix to the beta branch and maybe later today to a version 1.0 on the master.

Let me know if it worked for you.

[2018-12-06 20:50] sonathati commented on #7
@miguelpruivo I just tried 1.0.2 from pub and build fails

[code]

Flutter version:
`Flutter (Channel beta, v0.11.9, on Mac OS X 10.13.6 17G3025, locale en-IN)`

[2018-12-06 21:00] miguelpruivo commented on #7
@sonathati glad that you’ve spotted it. I know what it is, that’s something that shouldn’t had been committed. I’ll fix it later today.

[2018-12-13 14:31] I-am-original opened #16 "Documents only FileType"
It should not be hard to create FileType and filter files only by documents extensions. like pdf, doc(x), xml, txt, etc.

Is it possible to do?

[2018-12-16 09:52] sonathati commented on #7
@miguelpruivo I am not able to get the file name when picked from *open from* view. But Iam able to retrieve the file name when attached from *file manager* available in the drawer
[code]

[2018-12-16 11:32] miguelpruivo commented on #7
@sonathati I believe that is already fixed in the `beta` branch, could you give it a try? (You’ll need to add to your pubspec by using a git ref dependency).

[2018-12-17 15:18] Stnieder commented on #16
That would be awesome.

[2018-12-17 20:15] miguelpruivo commented on #16
Yes. That should be fine. I’ll work on it for a future update that should come later this month.

[2018-12-18 02:52] MarcelLamotheNH commented on #16
Along the same lines, it'd be useful if it could be restricted to selecting only directories.

[2018-12-19 12:24] hitanshu1 opened #17 "how to get the file ?"
i want to upload file to database ..how can i upload that file

[2018-12-19 13:04] rohaanhamid opened #18 "No file selected"
I tried it on an Android Emulator running Android Oreo and I don't get a valid path to the selected file. Instead I get the location of the cache folder {path_to_app}/cache/Documents/.

[2018-12-21 03:20] ened opened #19 "Permission callbacks called even when not requested"
My App needs a few permissions to work, like Location or "ReadExternalStorage".
I will use the simple_permissions plugin to gather the location permission.
However, once that permission is granted, the `file_picker` callback at https://github.com/miguelpruivo/plugins_flutter_file_picker/blob/e496cfc060d724b1da46f295e4085cb9748448d3/android/src/main/java/com/mr/flutter/plugin/filepicker/FilePickerP

[2018-12-23 03:54] rrarey02 commented on #19
I'm running into this issue as well in the same scenario and as a result am unable to use the plugin.

[2018-12-23 13:12] pushangupta opened #20 "Cancel picking a file and then pick again throws an error and breaks the app"
Try to cancel the first request of picking the file and then reopen the file picker. It throws a Platform Exception which, is not being caught in PlatformException

[code]

[2018-12-26 02:07] miguelpruivo commented on #17
You just need to create the `File` on the Dart side (Flutter app) with `File myFile = File(path)` where the path is the `String` that you get from this plugin.

[2018-12-26 02:07] #17 closed

[2018-12-26 02:11] miguelpruivo commented on #18
You're probably loading a file from a cloud (like GDrive). If so, that has already been fixed for a while on the `beta` branch. If not, just let me know so I can take a look. I'm looking to PR an updated version by this week.

[2018-12-26 02:11] #18 closed

[2018-12-26 02:30] miguelpruivo commented on #20
@pushangupta I've tried to re-create your issue even with your code and I can't seem to be able to replicate. Would you mind to add some logs?

[2018-12-26 02:42] miguelpruivo commented on #19
@rrarey02 @ened would you mind to add the plugin to your project using `beta` which is ahead of `master` and let me know if still happens?
dependencies:

 If so, some logs would be appreciated so I can fix it ASAP. I can't seem to replicate the issue which makes the task harder.

Any PR will also be welcome if you manage to fix it yourself.

[2018-12-26 03:13] ened commented on #19
@miguelpruivo thank you for the quick fix. I can confirm the issue is resolved in beta. Test was done on an actual device as before.

[2018-12-26 03:18] miguelpruivo commented on #19
I’m glad it solved. Still, I’m not quite sure what was causing the issue @ened. It was a blind hit and only changed the request code to use the class hashCode instead of static 0 as you suggested. But I can’t relate it to the stacktrace you’ve posted here.

[2018-12-26 14:37] rrarey02 commented on #19
@miguelpruivo, I just applied the fix and it is working great in Android Studio's emulator. Haven't tried in a device yet but I'll take @ened's word for it. Thank you so much!

[2018-12-26 16:32] kgamecarter commented on #19
has same issue at 1.0.3.
And git beta work for me

[2018-12-26 18:40] pushangupta commented on #20
@miguelpruivo

![screen shot 2018-12-27 at 12 08 54 am](https://user-images.githubusercontent.com/7023840/50454173-c4d5b000-096b-11e9-9319-e34f4550968c.png)
![screen shot 2018-12-27 at 12 09 15 am](https://user-images.githubusercontent.com/7023840/50454176-c901cd80-096b-11e9-933d-495c81126e7e.png)

These are logs after running on IOS simulator

[2018-12-26 18:42] pushangupta commented on #20
@miguelpruivo I think your ios delegate file misses to hit the "canceled by the user" case

[2018-12-26 21:42] miguelpruivo commented on #20
Thank you @pushangupta I've found the issue and it is already solved in the `beta`. I'm looking to release a new version to dart pub soon with this fixed and also new features such as custom file type filtering (between today and tomorrow).

[2018-12-26 22:10] pushangupta commented on #20
@miguelpruivo Glad to hear that. I am really looking forward for your release. Keep it up!

[2018-12-26 22:51] #20 closed

[2018-12-27 02:10] sonathati commented on #7
@miguelpruivo I have tried in beta branch by adding git ref dependency in my pubspec. But still not able to get the file name. Following are the logs

[code]

[2018-12-27 02:37] miguelpruivo commented on #7
Hi again, this seems to be a very specific/tricky issue that might be related to the path of downloads folder or a disabled download manager. Anyway, I've committed an update that tries to solve or, at least, try to understand the issue. Could you clean & build with the `beta` again, to give it a try?

Thank you.

[2018-12-27 07:46] kgamecarter opened #21 "Can I remove CAMERA permission?"
If I don't need FileType.CAMERA.
Can I remove CAMERA permission?

If my app has CAMERA permission. I need give google play privacy policy url.

[2018-12-27 08:16] kgamecarter commented on #21
I found camera permission is added by image_picker.
I think remove image_picker for FileType.IMAGE and FileType.CAMERA better.
Separate it for difference requirement.

[2018-12-27 09:30] miguelpruivo commented on #21
If you don’t need it you don’t have to provide those permissions as well. The image_picker is just re-used here in order to prevent two packages but I get your idea. I’ll take in consideration.

[2018-12-27 09:47] kgamecarter commented on #21
No. I don't give CAMERA permisiion in AndroidManifest.xml
But still appear CAMERA permission in app.
Untill I remove image_picker in my file_picker fork.

[2018-12-27 09:50] kgamecarter commented on #21
https://github.com/flutter/plugins/blob/master/packages/image_picker/android/src/main/AndroidManifest.xml
image_picker will auto add permission.

[2018-12-27 09:56] miguelpruivo commented on #21
That’s right, I forgot the `grantUriPermissions` is set to `true` on the image_picker.

[2018-12-27 12:40] miguelpruivo commented on #21
I'll reopen so others may see this. I would like to have more feedback since I get the point, that it would be fine to have it separated in both plugins, but I can also understand that this is more reliable for some users since they have to only import one plugin and it will handle picking all file types.

[2018-12-27 13:14] kgamecarter commented on #21
Just this
![1](https://i.imgur.com/UJtlkSV.png)
Google play asks me privacy policy
![2](https://i.imgur.com/PpsEXlM.png)

[2018-12-27 13:21] miguelpruivo commented on #21
Hum, I see. The privacy policies. [This](https://community.thunkable.com/t/learn-how-to-create-privacy-policy-for-your-apps/1392?source_topic_id=3766) may be useful in the meantime.

[2018-12-27 13:37] kgamecarter commented on #21
OK is a nice sample
[https://docs.google.com/document/d/14xHZa1PqxpgntwhStx0dnaiPOV1uDAY0RzQyF5GkPpw/edit](https://docs.google.com/document/d/14xHZa1PqxpgntwhStx0dnaiPOV1uDAY0RzQyF5GkPpw/edit)

But if some one just need pick document. remove useless permission better.

[2018-12-27 14:20] miguelpruivo commented on #19
Closing issue. Version 1.1.0 released. [See changelog](https://pub.dartlang.org/packages/file_picker#-changelog-tab-)

[2018-12-27 14:20] #19 closed

[2018-12-27 14:21] miguelpruivo commented on #16
Closing issue. Version 1.1.0 released with custom file extensions filter as suggested. [See changelog](https://pub.dartlang.org/packages/file_picker#-changelog-tab-)

[2018-12-27 14:21] #16 closed

[2018-12-27 16:54] miguelpruivo commented on #20
Released. [See changelog](https://pub.dartlang.org/packages/file_picker#-changelog-tab-)

[2018-12-27 21:14] I-am-original commented on #16
@miguelpruivo thanks ) great

[2018-12-28 07:33] sonathati commented on #7
@miguelpruivo I could see issue still exists with the latest update, `beta` branch.
Issue is not seen for the same file attached from different view. Attaching the logs for both

Working case:
[code]

Not working case:
[code]

[2018-12-28 12:39] miguelpruivo commented on #7
Can I ask you where actually you’re trying to load the second path? I remember having an issue where some androids would display email attachments on the recent fails but the files weren’t actually there, it was like a placeholder.

[2018-12-28 20:09] pushangupta commented on #7
@miguelpruivo I have noticed that this bug started from image_picker provide by flutter team. You are right about the disabled downloads manager. But one thing I noticed in your version was that file picker works great when the file type is set to any. But as soon as file type is set IMAGE, it fails and gives the fatal exception. I think when we fail to retrieve the file path, we must copy the fil

[2018-12-28 20:30] pushangupta commented on #7
@miguelpruivo FileType.IMAGE

[2018-12-28 20:47] pushangupta commented on #7
@miguelpruivo Brother I did a little experiment. I changed the FileType to CUSTOM and gave file extension as JPG and guess what.. It fetched the exact same file it was failing on. Just a quick suggestion. If multiple file types(like JPG, PNG, SVG or JPEG) could be supported at the same time it would be better

[2018-12-28 21:41] miguelpruivo commented on #7
@pushanguta that’s why it has the `FileType.IMAGE`, so it can filter all image file types at once, otherwise it wouldn’t make sense.

[2018-12-28 21:45] pushangupta commented on #7
@miguelpruivo I mean, FileType.IMAGE surely uses image_picker... right? I am trying to avoid image_picker. Moreover if, for example, I wanted to select docs of extensions pdf, docx or ppt only what can I do?

[2018-12-28 22:32] miguelpruivo commented on #7
@pushangupta right now you’d have to use `FileType.ALL` for that matter, but it’s a good suggestion that in a future update I add a `FileType.DOC` or so that will gather all of those file types in a filter at once.

[2018-12-29 22:47] kinex opened #23 "Add support for picking a directory"
Usage scenario: To export data from an app user must be able to select an output directory where to save the file. Tip for iOS implementation: see UIDocumentPickerMode.ExportToService

[2018-12-31 05:59] sonathati commented on #7
@miguelpruivo I had faced this issue with FileType.PDF
I have tried with file_picker: ^1.1.1 and its working fine for documents(using FileType.CUSTOM and fileExtension:'pdf') and for other FileTypes except for FileType.IMAGE.

For FileType.IMAGE my App crashes when trying to upload image, with following error:

[code]

[2019-01-01 19:00] kinex opened #24 "FileType.CUSTOM does not work with any file extension"
In my app I need support for .csv and .dat file extensions (dat is a backup format in my app, it is actually a zip but I want to separate it from other zip files by file extension). Neither csv or dat seems to work with file_picker (tested in Android). Is there some platform limitation for that "custom" is not actually custom, but it is still limited to few well known file types like pdf, zip etc.

[2019-01-01 19:13] miguelpruivo commented on #24
Hi. I understand what you’re trying to achieve, but for that a custom File Provider and explorer would probably be needed, which isn’t actually the purpose of this plugin.

This is intended to use the native explorers with filters for the supported MIME types on Android or UTI’s on iOS.

If the file you want to open is not supported, you can always choose ALL which will display all the files witho

[2019-01-01 19:19] kinex commented on #24
OK I understand. I think I can live with this limitation, I will use ALL as you suggested.

[2019-01-05 15:08] afamobius opened #25 "doesn't work on older android versions supported by flutter 16+"

[2019-01-05 15:12] miguelpruivo commented on #25
Can you be clear about which version you’re referring to?

[2019-01-05 15:36] miguelpruivo commented on #25
Can you fork it and give it a try? I’m not able at the moment. If it works make a PR.

Thank you.

[2019-01-05 20:32] afamobius commented on #25
okay I will try

[2019-01-08 18:22] kgamecarter commented on #23
Android implementation
[https://github.com/googlesamples/android-DirectorySelection](https://github.com/googlesamples/android-DirectorySelection)

[2019-01-08 19:59] afamobius commented on #25
didn't help , android 16 17 18 are not working with this plugin

[2019-01-10 13:38] afamobius commented on #25
I found a solution , it is a problem with android itself , below android 5 lollipop , phones have Downloads app not File Manger app , so to use apps that use this plugin , the phone needs to have a file manager like ES File Manager , I'm gonna close this issue since I found a solution

[2019-01-10 13:38] #25 closed

[2019-01-10 13:41] miguelpruivo commented on #25
Yes, thank you for pointing that. I forgot to mention that the phone always need a FileExplorer to handle the intent that is made, after api 19 there is a native explorer provided with Android which should always be the preferred one for this plugin.

There are however, one issue reported from an user that has a custom FileProvider from a custom rom (I believe a lenovo rom from a Moto phone) which

[2019-01-12 22:06] tiholic commented on #7
_info_: related issue from image_picker repo: https://github.com/flutter/flutter/issues/21863

[2019-01-16 22:31] miguelpruivo commented on #7
@tiholic thank you for pointing it. It may be a possibility, I'll take a look when I have sometime, feel free to give it a try and PR if you find it fixing the problem while keeping all of the required features.

[2019-01-16 22:49] tiholic commented on #7
Sure, I'll try and let you know

[2019-01-16 23:42] tiholic commented on #7
It works great. I've tested for images, videos and pdf's.

https://github.com/miguelpruivo/plugins_flutter_file_picker/pull/26

[2019-01-16 23:44] miguelpruivo commented on #7
@tiholic does it fixes this specific issue?

[2019-01-16 23:44] miguelpruivo commented on #7
@tiholic does it fix this specific issue?

[2019-01-16 23:47] tiholic commented on #7
Yes, now we can pick all types of files from downloads

[2019-01-18 16:56] ChiefWiggum opened #27 "New feature: Multiple file picker"
It would be great to have a method `getFilePaths` which allows the selection of multiple files, if the native picker allow this behaviour (not sure).
This method would then not return a single path, but a list/array of paths.

Does anyone know if the native file explorers support this behaviour?

[2019-01-18 17:52] ChiefWiggum commented on #27
Looking at the [UIDocumentPickerViewController](https://developer.apple.com/documentation/uikit/uidocumentpickerviewcontroller) it seems to support selecting multiple files when setting `allowsMultipleSelection` to `true` on **iOS**.

On **Android** it might be possible by using [EXTRA_ALLOW_MULTIPLE](https://developer.android.com/reference/android/content/Intent#EXTRA_ALLOW_MULTIPLE).

But we wou

[2019-01-18 17:54] miguelpruivo commented on #27
Yes, there is a way on both platform that supports multiple file picking, however that wasn't the first purpose of this plugin. However is a nice to have that may be added in a future update.

[2019-01-20 03:12] tiholic commented on #7
https://github.com/flutter/flutter/issues/21863

[2019-01-23 07:32] kinex opened #28 "FilePickerPlugin.java does not close the output/input streams it opens"
FilePickerPlugin.java does not close any of the output or input streams it opens. For a sample how to do this correctly, see e.g. https://javarevisited.blogspot.com/2014/10/right-way-to-close-inputstream-file-resource-in-java.html

I think this is quite high level issue in this plugin. I see some random FileNotFoundExceptions in my app (for some users/devices this happens always). This is most pro

[2019-01-26 18:02] xyzbilal opened #30 "Errors while building on android device"
Hi, I m receiving errors while building project for android devices. I searched for the solution but no idea about it. any idea?

/Users/bilalsimsek/Desktop/Flutter/flutter/.pub-cache/hosted/pub.dartlang.org/file_picker-1.1.1/android/src/main/java/com/mr/flutter/plugin/filepicker/FilePickerPlugin.java:10: error: cannot find symbol
import android.support.v4.app.ActivityCompat;

[2019-01-26 21:04] miguelpruivo commented on #30
It seems that it can't find the plugin somehow.

Run `flutter clean` and then `flutter build apk` if it doesn't work post your logs.

[2019-01-27 20:08] xyzbilal commented on #30
hi, thank you for your concern, I did exactly what you said. It runs on ios without problem but not on android. here are the logs.

`flutter build apk
Initializing gradle...                                           1,3s
Resolving dependencies...                                        4,0s
Gradle task 'assembleRelease'...
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(Fil

[2019-01-27 21:53] miguelpruivo commented on #30
What’s the minimum and target version of your app `build.gradle`?

[2019-01-27 22:07] xyzbilal commented on #30
Dear Miguel,
Problem occurs when I set  true like`android.enableJetifier=true` in gradle.properties because  firebase_messaging 2.2.0 requires that. if I remove this and set firebase_messaging 2.1.0  I can successfully build the apk. it is ok for me for  me to use these versions but for future I thing this problem should resolve. I m using target version 28.
I really thankfull for your effort.

[2019-01-28 10:42] miguelpruivo commented on #30
Would you mind to try the `beta` branch and see if it still happens?

Replace your file picker dependency in the `pubspec.yaml` with:

[code]

[2019-01-30 10:38] flowhorn opened #31 "Migrate to Android X"
Many plugins on pub migrated to Android X. It would be very useful if the dependecies could be updated to use Android X instead of the Support Library.

[2019-01-30 10:45] miguelpruivo commented on #31
This is already done on `beta`, can you give it a try and see if it's working for you?

Change the dependency in the pubspec to:

[code]

[2019-01-30 10:45] #31 closed

[2019-02-04 10:35] miguelpruivo commented on #30
@xyzbilal is this still happening with the solution provided?

[2019-02-04 21:10] blaneyneil commented on #30
@miguelpruivo i was having exactly the same problem.  a Flutter upgrade forced me to target sdk 28 and to set the `android.enableJetifier=true` in order for Firestore packages to work.   your git beta solved the errors above (after i installed image_picker_modern) but i can't yet confirm that everything works because now image_cropper is broken.

[2019-02-04 21:32] blaneyneil commented on #30
and i should note iOS builds now fail too, with:

`[!] No podspec found for `image_picker_modern` in `.symlinks/plugins/image_picker_modern/ios``

i can't tell if that's a result of the image_picker_modern package itself or whether it's missing from the beta git branch.

[2019-02-04 21:35] xyzbilal commented on #30
I'm sorry I was focused to finish a project. in couple of days I will  try it.

[2019-02-05 16:43] Hussain-AlBayyat commented on #30
Hey,

I would like you to know that I was facing the same problem but after trying the beta branch the error disappeared. However, now image_picker_modern is broken.

[2019-02-05 18:02] blaneyneil commented on #30
possible to use image_picker as the dependency and not image_picker_modern?  the former has already handled the androidX migration:

https://pub.dartlang.org/packages/image_picker#-changelog-tab-

[2019-02-05 18:16] miguelpruivo commented on #30
@blaneyneil @Hussain-AlBayyat I just reverted it back to `image_picker` back again on `beta`.

Could you clean your project and see if it is working now? Thank you.

[2019-02-05 18:43] blaneyneil commented on #30
i removed my .pub-cache and ran packages get again, cleaned, and still got this trying to build android:

The following Dart file:
  /Users/neil/flutter/.pub-cache/git/plugins_flutter_file_picker-ad71c0d940e2ed271f8f1ee6c5680bd72351df33/lib/file_picker.dart
...refers, in an import, to the following library:
  package:image_picker_modern/image_picker_modern.dart
That library is in a package that is

[2019-02-05 19:01] miguelpruivo commented on #30
@blaneyneil no, it's not there actually as you can see [here](https://github.com/miguelpruivo/plugins_flutter_file_picker/blob/beta/pubspec.yaml) and [here](https://github.com/miguelpruivo/plugins_flutter_file_picker/blob/beta/lib/file_picker.dart).

Maybe try to run `flutter pub get` after cleaning. Seems like you've something stuck there.

[2019-02-05 19:33] blaneyneil commented on #30
yes, this is working.  thanks much.  the git repo was cached so kept pulling in the old beta.  and then another package broke because of androidX...

[2019-02-05 19:36] miguelpruivo commented on #30
Good to know, I'll try to update `master` and Dart pub with this (and probably a few other) updates when I have sometime.

Leaving this issue open as of now so others can see it.

[2019-02-07 16:53] mit-73 opened #32 "New feature: Transform fileExtension to List<String>"
It would be good to be able to use multiple extensions in fileExtension,  for example: `getFilePath(type: FileType.CUSTOM, fileExtension: ['pdf', 'doc', etc.]);`

[2019-02-07 17:50] miguelpruivo commented on #32
This is quite related to #27. It's already possibility for a future update.

[2019-02-07 17:50] #32 closed

[2019-02-08 07:36] xyzbilal commented on #30
Works nicely thank you for your effort.

[2019-02-08 07:36] #30 closed

[2019-02-12 12:06] miguelpruivo commented on #31
[Version 1.2.0](https://pub.dartlang.org/packages/file_picker) is now out on `master` and Dart Pub. You can use it with `file_picker: ^1.2.0`.

[2019-02-12 12:06] miguelpruivo commented on #30
[Version 1.2.0](https://pub.dartlang.org/packages/file_picker) is now out on `master` and Dart Pub. You can use it with `file_picker: ^1.2.0`.

[2019-02-13 00:33] sarbagyastha opened #35 "Consider upgrading to image_picker 0.5.0+3"
Newer version fixes few crashes while switching to & fro through platform channel. So, may be you could upgrade image_picker to 0.5.0+3 and re-publish the package.
Thank you!

[2019-02-13 08:53] miguelpruivo commented on #35
Having the carrot version `^0.5.0` should pick the build +3 as well.

[2019-02-13 08:53] #35 closed

[2019-02-20 06:45] 1abzar commented on #21
hi , I have this problem too, I want to remove the camera permission, plz help.

[2019-02-20 08:46] miguelpruivo commented on #21
This is a tricky one because the plugin supports picking files from camera so it will always have to have that permission.
One option will be removing this feature entirely and let users use this along with `image_picker` if needed.

[2019-02-22 07:59] ditheshthegreat opened #36 "Error while building on android device"

[2019-02-22 08:04] ditheshthegreat opened #37 "Error while building on android device : Saying -this dependencies aren't compatible with AndroidX."
Recently I updated flutter package and after that i cant build my app.

`D8: Program type already present: android.support.v4.media.MediaBrowserCompat$CallbackHandler
         *********************************************************
WARNING: This version of image_picker will break your Android build if it or its dependencies aren't compatible with AndroidX.
         See https://goo.gl/CP92wY for

[2019-02-22 08:06] #36 closed

[2019-02-22 09:19] miguelpruivo commented on #37
This doesn’t look like an actually issue with this plugin.

By your stack trace either you have an incompatibility in your app with android X or look like somehow one of the plugins you’re using has a duplicated flutter.jar library in its `build.gradle` which usually results in that exception.

[2019-02-22 09:19] #37 closed

[2019-02-22 10:32] nambv opened #38 "File type ANY crash in iOS"
- Set file type: ```FileType.ANY``` make app crashes in iOS devices

[2019-02-22 10:33] miguelpruivo commented on #38
Post your logs please, thank you.

[2019-02-22 10:34] nambv commented on #38
@miguelpruivo :

[code]

[2019-02-22 10:36] miguelpruivo commented on #38
@nambv I was referring more to the crash log but that's welcome too.

[2019-02-22 10:39] nambv commented on #38
@miguelpruivo btw, can you tell me what min iOS version that your lib is supporting?

[2019-02-22 11:24] miguelpruivo commented on #38
@nambv iOS 8+

[2019-02-23 03:07] bradyt opened #39 "Crashes if other file manager is selected"
I'm working in the android emulator, I have Simple File Manager installed from F-Droid, and if I try to select a file from there, my app crashes.

Here is a screenshot of the File Manager selector being on left.

<img src="https://user-images.githubusercontent.com/6107051/53280794-53984c00-36d3-11e9-8a00-cf62b6b64f26.png" width=300>

So if I select say `Documents/cone/.cone.ledger.txt`, the app cr

[2019-02-23 04:40] bradyt commented on #40
[code]

[2019-02-23 04:40] bradyt opened #40 "Does not get absolute paths as claimed. Cannot write to a .txt file"
I don't understand what this can and can't do.

Can it be used to write to files? I'm getting errors? You say it returns absolute file paths, but that does not look to be true. It seems to copy the filename only, not the path, and put it in private external storage, especially, cache.

So this is not really a file picker. It only copies files temporarily to cache?

[2019-02-23 10:11] miguelpruivo commented on #39
Some file explorers manipulate and create their own URI which makes it really hard to handle all of those. That’s why the plugin description tells you that is made to be used with the native file explorer, which should work fine. If you use your own file explorer the it may or not work.

[2019-02-23 10:15] miguelpruivo commented on #40
This is not an issue. It’s a feature actually and that’s the normal behavior. You are trying to load the absolute file path from a cloud file. Cloud files doesn’t have any actual paths until a copy is cached into the device.

If you need to open a cloud file, the picker will load it from you (thus caching) and then you are free to use it and save it if modified.

Also you can’t delete files from c

[2019-02-23 10:15] #40 closed

[2019-02-23 10:17] miguelpruivo commented on #38
@nambv any news on this?

[2019-02-23 23:42] bradyt commented on #40
The same occurs for Documents folder.

[2019-02-24 02:08] #38 closed

[2019-02-24 02:09] #7 closed

[2019-02-28 05:05] datvtwkm opened #41 "Add release version tag in github project"
Please add release version tag in github project
So that people can follow what commit for what release version
Thank you

[2019-02-28 12:18] miguelpruivo commented on #41
Thank you for the suggestion. Done for `1.2.0`.

Closing.

[2019-02-28 12:18] #41 closed

[2019-03-01 13:43] SJente opened #42 "Multiple File Types"
Hello Miquel,

I'm working on an application where i want to allow different kind of file types as described in <a class="issue-link js-issue-link" data-error-text="Failed to load issue title" data-id="400808216" data-permission-text="Issue title is private" data-hovercard-type="issue" data-hovercard-url="/miguelpruivo/plugins_flutter_file_picker/issues/27/hovercard" href="https://github.com/migue

[2019-03-07 01:34] miguelpruivo commented on #42
Hi. Thank you for your suggestion, this was already been requested in #27 as you've correctly mentioned and it's being worked on - actually it's already done on iOS and, at the time of this answer, it's being implemented on Android as well.

This will be deployed along with some other requested improvements in the `1.3.0` probably by the end of the week.

Thank you for your patience.

[2019-03-07 09:26] nagoya0 opened #43 "Lack of cancel handling in Android, possibly memory leaks"
Hello Miguel,

I'm working on an application using this excellent plugin, and I noticed that FilePicker does not callback if I close file picker in Android.

Because of this, await FilePicker.getFilePath() function call never returns, and occurs memory leaks.

https://github.com/miguelpruivo/plugins_flutter_file_picker/blob/master/android/src/main/java/com/mr/flutter/plugin/filepicker/FilePickerPl

[2019-03-07 09:31] miguelpruivo commented on #43
Hi. Looks like a dup of #28. This is already being done. Looking forward a new version with this and more later this week.

Thank you.

[2019-03-07 10:46] nagoya0 commented on #43
Thank you for your quick response.

I checked issue #28 and branch #Roadmap-1.3.0, but it looks like another issue.

Main cause of this issue is, program doesn't call result.success(null) when (resultCode == Activity.RESULT_CANCELED).

[2019-03-07 11:08] miguelpruivo commented on #43
Ok. That's actually when you dismiss the picker and the event is not handled. This is already being handled on iOS but not on Android. I'll add it to the coming update too since it doesn't add much overhead.

Re-opening.
Thank you for the feedback.

[2019-03-07 12:03] SJente commented on #42
Great to hear @miguelpruivo, i'm looking forward to using this plugin in my application!

[2019-03-10 14:53] woozbooz opened #45 "App crashes if use file_picker on iPhone 5c"
Hello.
I want to use file_picker plugin in my flutter application.
In my App i use following code:
`_filePath=await FilePicker.getFilePath(type: FileType.ANY, fileExtension: 'bin');`

On iPad 64 it works fine, but when i run my App on iPhone 5c (iOS 10.3.3) and
try to pick a file - my App crashes with error message in debug:
`Assertion failure in -[UIDocumentPickerViewController _commonInitWithCom

[2019-03-10 15:04] miguelpruivo commented on #45
Hello,

Hum, I’m glad it happened to you. I forgot to restrict document picker (by file extension) to iOS 11 and above. That is only supported by those versions since the iCloud file explorer was only introduced in the iOS 11. You can’t use that option on iOS 10.

I’m releasing a version 1.3.0 that adds a few features to the plugin such picking multiple files at once and audio files from music lib

[2019-03-10 15:08] miguelpruivo commented on #45
Hello again,

Forgot my last answer to your email. I was thinking about other error. Just make sure you have iCloud Documents capabilities active in your app. See the image attached.

[enter image description here]
Com os melhores cumprimentos,
Miguel Ruivo

No dia 10/03/2019, às 14:53, woozbooz <notifications@github.com<mailto:notifications@github.com>> escreveu:

Application initializing documen

[2019-03-10 15:24] woozbooz commented on #45
Thank you for answer. Sorry, but i can't find no images attached in your letter.

[2019-03-10 23:35] miguelpruivo commented on #45
Hi again,

Basically you need to be using an Apple Developer Program account to sign your app in order to enable CloudKit for your under iOS 11 apps as mentioned here: https://developer.apple.com/library/archive/documentation/DataManagement/Conceptual/CloudKitQuickStart/EnablingiCloudandConfiguringCloudKit/EnablingiCloudandConfiguringCloudKit.html

Then you should be able to access the file explor

[2019-03-12 01:33] miguelpruivo commented on #21
Version 1.3.0 was deployed on dart pub and fixes this, alongside with other requested features and bug fixes. See [changelog](https://pub.dartlang.org/packages/file_picker#-changelog-tab-).

Thank you all for your feedback.

[2019-03-12 01:33] #21 closed

[2019-03-12 01:36] miguelpruivo commented on #27
**Version 1.3.0** was deployed on dart pub and adds this, alongside with other requested features and bug fixes. See full [changelog](https://pub.dartlang.org/packages/file_picker#-changelog-tab-).

Make sure you clean and change your pubspec to the latest version: `file_picker: ^1.3.0`

Thank you all for your feedback.

[2019-03-12 01:36] #27 closed

[2019-03-12 01:39] miguelpruivo commented on #42
**Version 1.3.0** was deployed on dart pub and adds this, alongside with other requested features and bug fixes. See [changelog](https://pub.dartlang.org/packages/file_picker#-changelog-tab-).

Make sure you clean and change your pubspec to the latest version: `file_picker: ^1.3.0`

Thank you for your feedback.

[2019-03-12 01:39] #42 closed

[2019-03-12 01:39] miguelpruivo commented on #28
**Version 1.3.0** was deployed on dart pub and fixes this, alongside with other requested features and bug fixes. See [changelog](https://pub.dartlang.org/packages/file_picker#-changelog-tab-).

Make sure you clean and change your pubspec to the latest version: `file_picker: ^1.3.0`

Thank you for your feedback.

[2019-03-12 01:39] #28 closed

[2019-03-12 01:40] miguelpruivo commented on #43
**Version 1.3.0** was deployed on dart pub and fixes this, alongside with other requested features and bug fixes. See [changelog](https://pub.dartlang.org/packages/file_picker#-changelog-tab-).

Make sure you clean and change your pubspec to the latest version: `file_picker: ^1.3.0`

Thank you for your feedback.

[2019-03-12 01:40] #43 closed

[2019-03-12 01:41] #45 closed

[2019-03-12 01:50] miguelpruivo commented on #23
This was actually wip to the current deployed version `1.3.0`, however, this should be more discussed as Android actually allows it but iOS don't.

In iOS we usually either use the share capabilities to save/send some data or we use the app's data container to keep it. If we want to retrieve some directory it is possible but I believe that a concrete file pick is always required.

I was trying to

[2019-03-13 04:08] repetitions opened #48 "App crashes if both image_picker and file_picker 1.3.0 are installed"
The file_picker appears to be working fine, but any attempt to use the image_picker causes the app to crash, which will happen after a file is selected or captured by the camera, or when the user cancels selection or capture.

D/AndroidRuntime(12668): Shutting down VM
E/AndroidRuntime(12668): FATAL EXCEPTION: main
E/AndroidRuntime(12668): Process: app, PID: 12668
E/AndroidRuntime(12668): java.lang

[2019-03-13 09:27] miguelpruivo commented on #48
Hi. This is quite weird since they aren’t related in any way at the moment.

Can you described the steps to fully reproduce this? Does it happen on both platforms?

Thank you.

[2019-03-13 10:17] repetitions commented on #48
Hi, here are the steps to reproduce:

1) Add both image_picker and file_picker to your dependencies.
2) Make a call to ImagePicker.pickImage()

The app will stop the moment a file is selected or cancelled.

I currently running on Android only, so I'm not sure if this happens on iOS.

[2019-03-13 11:52] miguelpruivo commented on #48
Somehow, I'm glad that you've experienced this issue so quickly as it could lead some other users to come across this exception. A result callback was trying to be invoked when it shouldn't.

It was a minor fix, yet important. If you are using `^1.3.0` clean & update packages so it fetches the `1.3.1` that is now on (dart pub)[https://pub.dartlang.org/packages/file_picker#-changelog-tab-]. You sho

[2019-03-13 11:52] #48 closed

[2019-03-13 12:36] repetitions commented on #48
It's working perfectly now. Thank you for your prompt response and pushing out a fix so quickly.

[2019-03-14 00:58] ivanchaukn opened #50 "Multiple dex files define Landroid/support/v4/os/ResultReceiver;"
I have been getting this error when I include file_picker in my project and would like some help! I tried removing file_picker and seems like everything builds successfully.

[code]

[code]

[code]

[2019-03-14 01:13] miguelpruivo commented on #50
Hi. This doesn’t seem to be directly related to the `file_picker` package but likely to some conflict with other dependencies. Did you run `flutter clean`?

[2019-03-14 01:55] ivanchaukn commented on #50
I ran `flutter clean` before compiling every time and tried removing `.pub_cache `but unfortunately still doesn't work

[2019-03-14 01:59] miguelpruivo commented on #50
There's not enough details so that I can help you. The exception doesn't seem to point to any issue with the package itself.

Can you try with a previous version (eg. `1.2.0`)?

[2019-03-14 03:02] ivanchaukn commented on #50
I narrow down the problem to the `firebase_core` plugin and it seems like that's what's causing the conflict. I tested it in a brand new project to weed out any potential external factors.

[code]

[2019-03-14 09:31] miguelpruivo commented on #50
Glad that you’ve found it. Therefore I’m closing this issue.

Feel free to re-open if you are still having problems.

[2019-03-14 09:31] #50 closed

[2019-03-14 11:55] ivanchaukn commented on #50
Do you think it's something you can take a look? I have been trying to fix this issue for couple days and would like to get my app running.

[2019-03-15 23:12] Footmau commented on #40
So why we need WRITE_EXTERNAL_STORAGE permission?
I agree that the feature to get direct path is more impotant that feature to get a copy.
In Android you can return content provider path and user will able even to write into Google Drive and so on.

[2019-03-16 01:20] miguelpruivo commented on #40
Because cloud files need caching before having a path. If you want to actually access a file within Flutter, you need to have its data saved somewhere and not virtualized. Let’s say you want to modify it, how would you modify a file that is in the cloud?

This package is all about let the user access files, not actually pick paths to write despite though that being possible anyway.

[2019-03-16 06:56] pjkroll opened #54 "Removing the need of WRITE permission"
Dart:
[code]

Android:
[code]

IOS:
`???`

[2019-03-16 09:59] Footmau commented on #40
@miguelpruivo Of course, thanks for that features.
But you can [improve](https://developer.android.com/guide/topics/providers/document-provider) it:

[2019-03-16 11:23] miguelpruivo commented on #54
You can’t remove the permission to write files because if somebody wants to actually modify a remote file (such as files in google drive) you need them to first be cached. You can’t open a file descriptor for a URI of a remote file.

[2019-03-16 11:30] miguelpruivo commented on #40
Once more, that’s hard to handle. That would make sense for an Android only plugin. iOS behaviors completely different.

I have trying to keep it as much as possible to keep the same flow experience and functionalities so less experienced users don’t get confused about why one side supports and other don’t, having to create themselves, in app workarounds.

This is also happening for getting direct

[2019-03-16 13:57] pjkroll commented on #54
This is the whole idea of openable content.
[code]
You don't have to have access to all the files if you want only the content of the file picked by the user. The user gives you explicit permission to this one file.
Extracting the path from content:/  uri is just the trick. And it is the wrong way to do it. It won't always work.

By starting the intent you are only guaranteed that you will have ac

[2019-03-16 14:07] miguelpruivo commented on #54
I’m aware of that approach. However for
API > 15 & < KitKat you still need to ask for permissions.

The problem with that, is if the user wants to extract the absolute path of the file, let’s say, to save some other files in that directory, I’m not sure if that will be possible using the content resolver.

[2019-03-16 14:28] pjkroll commented on #54
[code]

Or if the user doesn't provide destinationPath, you can just call getPath() in the old way.
But the getPath() is always a path to a file that should be treated as temporary. The FileProvider can remove it at any time.

You should be aware that URI could be something like this: content://com.google.drive/files/document.pdf
You won't ever have access to this file.

[2019-03-16 15:22] miguelpruivo commented on #54
This is something that is already being made somehow. Check the android `FileUtils.java` source.

[2019-03-16 15:49] pjkroll commented on #54
That is great! It is everything you need to create this feature. But the decision is up to you, if you want it. I don't have right now the possibility to test it and make a pull request.

[2019-03-18 15:20] TheHemantKaushik opened #56 "Platform exception: Can only use lower 16 bits for requestCode"
Hi,

**I am getting following error when I try to select any file:**

I/FilePicker(13338): Checking permission: android.permission.WRITE_EXTERNAL_STORAGE
I/FilePicker(13338): Requesting permission: android.permission.WRITE_EXTERNAL_STORAGE
E/MethodChannel#file_picker(13338): Failed to handle method call
E/MethodChannel#file_picker(13338): java.lang.IllegalArgumentException: Can only use lower 16 b

[2019-03-18 15:29] miguelpruivo commented on #56
What is the `file_picker` version that you are using?

[2019-03-18 15:32] TheHemantKaushik commented on #56
1.3.2

[2019-03-18 15:40] miguelpruivo commented on #56
Does this happen always? Can you give it a try in the Android 8 (API 27) and let me know if it is working? Thank you.

[2019-03-18 15:54] TheHemantKaushik commented on #56
I am trying all file types, with or without giving storage permissions. Same is happening on API 27, here is the details of my emulator:

[✓] Connected device (1 available)
    • Android SDK built for x86 • emulator-5556 • android-x86 • Android 8.1.0 (API 27) (emulator)

[2019-03-18 15:55] miguelpruivo commented on #56
@TheHemantKaushik thank you for the insight. Is this happening if you use `FileType.IMAGE`?

[2019-03-18 15:58] TheHemantKaushik commented on #56
Yes, it is happening with `FileType.IMAGE` as well as `FileType.AUDIO` and `FileType.VIDEO`.

[2019-03-18 16:02] miguelpruivo commented on #56
Ok. I may take a look into it later today, if I have some time.

[2019-03-20 08:01] xyzbilal opened #57 "Chose image from camera"
Hi,
this is not an issue but a need I think at least for me. I m using  file from camera and with new update its removed so I cant upgrade to latest version. its possible add it again. I dont want to additional package for this purpose. thanks.

[2019-03-20 08:57] miguelpruivo commented on #57
Hi. I’m sorry , this was actually a feature request and removed intentionally because when you are publishing your app doesn’t make sense to have camera permissions enabled when you don’t need them.

If you want to stick with the camera and file picker, just either use both `file_picker` and `image_picker` or use an older version such as 1.2.0 (`file_picker: 1.2.0`).

Thank you for your compreenhs

[2019-03-20 08:57] #57 closed

[2019-03-21 10:16] Boehrsi opened #58 "Selecting a single image from Google Photos does not work"
If FilePicker.getFilePath() is used and an image is added via the default file chooser + Google Photos an error occurs.

`E/flutter: [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: type 'List<dynamic>' is not a subtype of type 'String'`
`#0      FilePicker.getFile (package:file_picker/file_picker.dart:42:18)`

The reason for this problem is Google Photos and not this plugin. Even

[2019-03-21 10:40] miguelpruivo commented on #58
Thank you for your input, can you post your full log and the steps to reproduce?

[2019-03-21 13:55] Boehrsi commented on #58
1. Call await FilePicker.getFilePath(type: fileType, fileExtension: extension);
2. Select Google Photos (see Screenshot)
3. Select any image
4. See error

![Screenshot_20190321-144535_Files](https://user-images.githubusercontent.com/7944013/54756749-2616c380-4be9-11e9-8ff2-cbf4375a379a.jpg)

Error:
[code]

[2019-03-22 00:49] miguelpruivo commented on #58
I've already fixed this in `beta`. Looking to deploy a version to pub dart with this and #56 fixed until the weekend.

Thank you for your feedback.

[2019-03-22 08:19] Boehrsi commented on #58
Okay nice thank you, have a nice weekend. :+1:

[2019-03-23 15:44] miguelpruivo commented on #56
@TheHemantKaushik I'm looking into it to understand what is actually happening. Can you tell me what is your `targetSdk` of your main app?

Thank you.

[2019-03-23 16:47] miguelpruivo commented on #56
Also @TheHemantKaushik, can you post your app’s `build.gradle`? This looks like a very version related issue. Thank you.

[2019-03-24 13:53] miguelpruivo commented on #58
Fixed on [1.3.3](https://pub.dartlang.org/packages/file_picker#-changelog-tab-).

[2019-03-24 13:53] #58 closed

[2019-03-27 11:12] prasant10050 opened #61 "[FilePicker] Unsupported operation. MissingPluginException"
[FilePicker] Unsupported operation. Method not found. The exception thrown was: MissingPluginException(No implementation found for method __CUSTOM_pdf on channel file_picker)

[2019-03-27 11:13] miguelpruivo commented on #61
Hi. This is too vague. Can you provide the steps? It looks like you are trying to pick a pdf which should be ok.

[2019-03-27 11:17] miguelpruivo commented on #56
This is fixed in `1.3.3`. However I would still like to have the info I've asked for so I could further investigate what was causing the issue.

[2019-03-27 11:17] #56 closed

[2019-03-27 17:27] prasant10050 opened #62 "FileName and Path is showing null"
_openFileExplorer() async {
    if (_pickingType != FileType.CUSTOM || _hasValidMime) {
      try {
        if (_multiPick) {
          _path = null;
          _paths = await FilePicker.getMultiFilePath(type: _pickingType, fileExtension: _extension);
        } else {
          _paths = null;
          _path = await FilePicker.getFilePath(type: _pickingType, fileExtension: _extension);
        }

[2019-03-28 01:09] #61 closed

[2019-03-28 01:10] prasant10050 commented on #61
done

[2019-03-28 01:10] prasant10050 commented on #62
its urgent, anyone can fix this issue.

[2019-03-28 01:47] miguelpruivo commented on #61
Did it fixed for you?

[2019-03-28 01:48] miguelpruivo commented on #62
@prasant10050 I may take a look into it tomorrow, but at a first glance it looks like you don’t gave the right permissions.

What are the steps to reproduce this?

[2019-03-28 03:12] prasant10050 commented on #61
Yeah. I fixed

On Thu, 28 Mar, 2019, 07:17 Miguel Ruivo, <notifications@github.com> wrote:

[2019-03-28 03:12] prasant10050 commented on #62
I have already add Read and Write permission .

On Thu, 28 Mar, 2019, 07:18 Miguel Ruivo, <notifications@github.com> wrote:

[2019-03-28 03:19] prasant10050 commented on #62
_openFileExplorer is called by onTap() method of Gesturedetector , before
it is called I added permission in iOS and Android.

On Thu, 28 Mar, 2019, 07:18 Miguel Ruivo, <notifications@github.com> wrote:

[2019-03-29 11:45] miguelpruivo commented on #62
I need further information on this. Do you have both given permissions in runtime and manifest file?

Have you tried to clean your project, add `file_picker: 1.3.3` and then rebuild and see if it is working for you? If not, can you post step by step what you are doing and also the output of `flutter doctor -v`?

Thank you.

[2019-03-29 11:47] miguelpruivo commented on #39
This might be fixed as of `1.3.3`. Feel free to reopen it if it isn't since I wasn't able to replicate this issue.

Thank you.

[2019-03-29 11:47] #39 closed

[2019-04-01 10:24] anhtu0101 opened #63 "How to get URL file"
After I select a file from Google Drive, DropBox, is there a way for me to get url for image?
Ex: Url Image: https://drive.google.com/file/d/10qJfAEHCPaVC9o-Xbz6K__0NRCWwMa9d/view
Many Thank

[2019-04-01 10:28] miguelpruivo commented on #63
Hi @anhtu0101 , I'm afraid that currently not. When you select a remote file what happens is that this file will be cached locally so you can actually access its absolute path and work with it (eg. modify, upload it, etc.).

What you are looking for is a remote URI for that file. It's a bit out of what this package does and may lead to users expecting an absolute path and instead loading a remote,

[2019-04-01 10:55] anhtu0101 commented on #63
@miguelpruivo Thank you for your support, this is a great Packages...

[2019-04-02 10:56] sarbagyastha opened #64 "Add support for limiting file selection"
It will be great if limit for maximum number for files could be enforced in multi file picker option.

[2019-04-02 11:03] miguelpruivo commented on #64
Hi @sarbagyastha, currently, and to provide a seamless experience across platforms, I don't believe that's possible with native pickers. Either you limit to one item or any. But you can always protect this within your app side by discarding N+ elements, displaying a message to the user, etc.

An alternative would be to use a custom picker, but that's not the purpose of this package.

Nevertheless,

[2019-04-02 11:03] #64 closed

[2019-04-02 13:59] lucien-theron opened #65 "Error with permission checker and android_alarm_manager"
Hi,

I'm getting the following error when I have both file_picker and android_alarm_manager packages installed:

`E/MethodChannel#file_picker( 3336): java.lang.NullPointerException: Attempt to invoke virtual method 'int android.content.Context.checkPermission(java.lang.String, int, int)' on a null object reference
E/MethodChannel#file_picker( 3336): 	at androidx.core.content.ContextCompat.checkSel

[2019-04-02 14:04] miguelpruivo commented on #65
Hi, thanks for reporting.

At a first glance the issue seems to come from `ContextCompat.checkSelfPermission(activity, permission);` that is called from `file_picker` layer but then a null pointer happens on the android x compat side. Maybe due to some conflict? Is the alarma manager on the android x as well?

I'm afraid that this can't be handled by `file_picker`'s side.

[2019-04-02 14:10] miguelpruivo commented on #62
@prasant10050 this will be closed due to no further info. Feel free to re-open it with more details. Thank you.

[2019-04-02 15:03] lucien-theron commented on #65
Hi, yes android_alarm_manager is on android x. I will try and track down the issue as well.

[2019-04-02 15:28] lucien-theron commented on #65
Could I also suggest removing the permission checking, or making it optional. I know it's convenient, but this package should not take on that responsibility in my opinion.

[2019-04-02 17:47] miguelpruivo commented on #65
It needs to check because it will ask for permission if you don’t have it already. That’s the only reason why.

[2019-04-02 19:14] lucien-theron commented on #65
Hi no problem, just a thought. I found the cause to be similar to what happened here: https://github.com/flutter/plugins/pull/1125. Adding the following fixed it:
`        if (registrar.activity() == null) {
            return;
        }`

[2019-04-06 08:59] ektelat opened #67 "No Back Button"
no back button in the picker bar

[2019-04-06 09:48] miguelpruivo commented on #67
This is not an issue. This is the system’s file picker responsibility. This package is only calling the native file picker.

Anyway, you can always go back by pressing the back button (I suppose you are referring to Android).

Thank you.

[2019-04-06 09:48] #67 closed

[2019-04-09 22:30] ghxstdev opened #68 "Multiple file extensions when using getMultiFilePath()"
Hey, I've seen 2 issues before me, #42 and #32 .
The questions are both closed but I can't seem to find a mention of this feature being added in the changelog.

For clarification, I'm looking to pick multiple files of a pre-defined extension (for example .jpg and .mp4).

Maybe I have missed it somewhere, if so, apologies.

[2019-04-09 22:56] miguelpruivo commented on #68
Hi. If you want to pick images or videos you can use `FileType.IMAGE` or `FileType.VIDEO` respectively. However, picking both images (jpg) and video (mp4) at the same time isn’t currently supported, for that I suggest you to use `FileType.ALL` that lets you pick anything and then you can quickly check if any of the picked files are not jpg/mp4.

Thank you for the suggestion.

[2019-04-09 23:12] ghxstdev commented on #68
Thank you for the clarification, I will follow your advice and use FileType.ALL for the time being, I hope to see multiple file extensions implemented in the future. If I may, I would like to suggest the solution discussed in #32 or a delimiter such as 'jpg|mp4' so it doesn't break existing code.

Thank you for the great work.

[2019-04-09 23:30] miguelpruivo commented on #68
I will take this in consideration if possible for both platforms.

As a note, I always try to avoid making a feature only available to a specific platform to make the experience as seamlessly as possible. Android, in general, is more flexible and supports more options that iOS, however, it is also more tricky to handle for the available scenarios.

So if sometimes I don't add a requested feature,

[2019-04-14 09:24] ayalma opened #69 "Screen Turn to black when selecting big file"
Hi and Thank you for you'r plugin
When trying to select big file in android screen turn's to black. (app not responding like act)

[2019-04-14 10:22] miguelpruivo commented on #69
Hi @ayalma are you selecting it from cloud?

[2019-04-14 12:12] ayalma commented on #69
No , i selecting it from my local storage

[2019-04-14 12:46] miguelpruivo commented on #69
If you give it sometime, does it load the path? If it was from a cloud it would make sense because you have to give it sometime (

[2019-04-14 13:05] ayalma commented on #69
When i'm selecting small file's the black screen not appearing
And when i'm selecting big file after giving a enough time it load file path but screen turn's to black when the caching stuff runs in app

The example application in you'r repo is reproduce the error just select big file
And for flutter output
[code]

Thank you in advance

[2019-04-14 13:13] miguelpruivo commented on #69
Well, as of now this is the correct behavior because the file needs to be fully loaded before actually accessing it, that’s why this is synchronous and you see the black screen while it’s awaiting the path to load.

Can I ask you how big the file is? Nevertheless, I may take a look into it later.

[2019-04-15 06:35] ayalma commented on #69
I tested it with file size about 300 mb
and i get this log
[code]
It's somthing about permission
and i have this
 ``` <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>```
in my manifest

[2019-04-15 09:59] miguelpruivo commented on #69
Hi @ayalma, it has nothing to do with permission. At this point, you should be fine only with `WRITE_EXTERNAL_STORAGE` because I'm assuming that your app already has the `INTERNET` permission, if not, you may add it as well.

Nevertheless, by looking at your log I can see that it is actually caching the file (thus, creating a file of 300 MB, that's why it takes longer) probably because the device

[2019-04-15 10:59] ayalma commented on #69
Hi , I have Internet permission
I'm selecting file form downloads folder
For testing purpose i cloned and tested [this repo](https://github.com/sidlatau/flutter_document_picker)
and when i'm selecting big file there is no black screen

[2019-04-15 11:13] miguelpruivo commented on #69
And are you getting the same path with that? As I pointed before, looks like the file is being copied locally (300 mb) so that's why it takes longer as this process is made synchronously.

Would you mind to copy that file to another local folder and select it again (from other folder, instead donwloads)? Let me know if it works.

[2019-04-15 11:15] miguelpruivo commented on #65
@lucien-theron is this fixed already? I saw that [#156](https://github.com/Lyokone/flutterlocation/issues/156) is already closed. If so, feel free to close this as well.

[2019-04-15 12:57] ayalma commented on #69
The library i mentioned above act same as your lib and copy data to cache , but it cache files  asynchronously i think

[2019-04-15 13:49] miguelpruivo commented on #69
@ayalma can you try to do what I've asked to?

It would help me to understand more precisely what's actually happening.

Thank you.

[2019-04-16 08:19] ayalma commented on #69
Hi I  done what you said . And result is no black screen !

On Mon, Apr 15, 2019, 18:19 Miguel Ruivo <notifications@github.com wrote:

[2019-04-16 09:43] miguelpruivo commented on #69
@ayalma ok, so basically, the downloads folder that you are using hasn't the file locally stored and has to download it again, that's why it takes sometime and thus the black screen.

Making it async, would mean that an user could potentially use the path without the file being yet completely loaded, which would lead to undefined behaviors (or mostly an exception).

What if you don't use `await ge

[2019-04-17 09:58] lucien-theron commented on #65
@miguelpruivo that was for another plugin having the same issue. The fixed it the same we I did the above PR I made. So if you can merge that PR then we good to go.

[2019-04-17 10:00] miguelpruivo commented on #65
Right. As long as the iOS side is done as well it can be merged.

Waiting for that. If you don't have experience with iOS/Obj-C I may look into it later.

Thank you.

[2019-04-17 11:20] lucien-theron commented on #65
Okay thanks, I think its an Android specific issue but you are welcome to look into it. Reason for issue was highlighted here: https://github.com/transistorsoft/flutter_background_fetch/issues/22#issuecomment-481658481

[2019-04-17 11:36] miguelpruivo commented on #65
@lucien-theron thank you for pointing out a reference.

[2019-04-20 16:22] miguelpruivo commented on #65
Merged and [published](https://pub.dartlang.org/packages/file_picker#-changelog-tab-).

Thank you for contributing.

[2019-04-20 16:22] #65 closed

[2019-04-20 23:47] hchris0 opened #72 "Cannot build for Android (version 1.3.4)"
Trying to build with version 1.3.4 and getting the following error:

`FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all files for configuration ':file_picker:debugCompileClasspath'.

`

Project builds fine with version 1.3.3.

[2019-04-21 01:16] miguelpruivo commented on #72
Thank you for noticing and reporting this so fast. I published for the pub.dartlang a version that had a local dependency in the `build.gradle` when it shouldn't and this would cause every Android build that uses `1.3.4` to fail.

A fix is [already deployed](https://pub.dartlang.org/packages/file_picker#-changelog-tab-) with version `1.3.4+1`.

Just let me know if it's all working as it should aga

[2019-04-21 01:16] #72 closed

[2019-04-21 01:30] hchris0 commented on #72
Thank you for the fast fix :)

It is now working again as intended.

[2019-04-29 12:41] VyasPrachi commented on #69
Hello,
When I had clicked on the button there is nothing happen. Please help me out

[2019-04-29 13:48] miguelpruivo commented on #69
@VyasPrachi this is too vague. I need more info in order to help you. Is it related to this issue?

@ayalma since I don't have a reply from you, I'll close this issue in the upcoming days.

[2019-04-30 05:06] vitulgoyani opened #74 "Can't pick photo from google photos, can it possible?"
I was tried to pick a photo from Google photos but it generates an error

[2019-04-30 05:36] VyasPrachi opened #75 "File Picker window not open"
Hello @miguelpruivo,

I have applied the same code from example but I am getting given below error:

**I/flutter ( 7186): [FilePicker] Unsupported operation. Method not found. The exception thrown was: MissingPluginException(No implementation found for method ANY on channel file_picker)**

Please help me out.

[2019-04-30 05:55] VyasPrachi commented on #69
Hello @miguelpruivo,
Sorry for the late reply. Photo clicked by the back camera is not taking but the photo clicked by the front camera is taken. So maybe I think this is an image size issue.

[2019-04-30 07:23] miguelpruivo commented on #75
@VyasPrachi looks like you haven’t imported the package at all to your app (only the Dart part).

Can you show me how you’re importing it in your `pubspec.yaml`?

Thank you.

[2019-04-30 07:26] VyasPrachi commented on #75
Hi @miguelpruivo,

I have attached my pubspec.yaml code below:

`name: file_picker
description: A new Flutter project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by

[2019-04-30 07:30] miguelpruivo commented on #69
@VyasPrachi how many issues do you have? You should move this to your own issue.

Which version are you using? This package doesn’t supports picking for camera since [1.3.0](https://pub.dartlang.org/packages/file_picker#-changelog-tab-).

[2019-04-30 07:32] miguelpruivo commented on #74
@vitulgoyani hi. Would you mind post your logs? Also which version from the picker are you using?

Just make sure beforehand that you’ve internet connection and the internet permission in your iOS/Android plist/manifest file respectively.

[2019-04-30 07:36] VyasPrachi commented on #69
Hi @miguelpruivo,
Sorry for the trouble but I am new in flutter development. So I have asked when I am facing any problem.

[2019-04-30 07:37] miguelpruivo commented on #75
Thank you @VyasPrachi. Looks like I’ve found your problem. You are importing it wrongly.

You should add this under the normal dependencies and not the dev ones like so:
[code]

And remove this:
[code]

[2019-04-30 07:45] VyasPrachi commented on #75
Hi @miguelpruivo,

If I am using like this it gives the error :

**Error on line 22, column 3 of pubspec.yaml: A package may not list itself as a dependency.

  file_picker: 1.3.4+1

  ^^^^^^^^^^^
pub get failed (65)
exit code 65**

[pubspec.txt](https://github.com/miguelpruivo/plugins_flutter_file_picker/files/3130307/pubspec.txt)

[2019-04-30 07:52] miguelpruivo commented on #75
@VyasPrachi you can’t have the app itself with the same name. Change the first line where you have `name: file_picker` to the name of your app.

[2019-04-30 08:07] VyasPrachi commented on #75
Hello @miguelpruivo,

Thank You So much it is working when I have changed my project name.

[2019-04-30 08:07] #75 closed

[2019-04-30 10:21] miguelpruivo commented on #69
@VyasPrachi is this fixed for you?

[2019-04-30 10:22] VyasPrachi commented on #69
Hi @miguelpruivo,
I am not able to capture an image using the back camera.

[2019-04-30 10:56] miguelpruivo commented on #69
@VyasPrachi what do you mean by _capture_? This package doesn't allow taking pictures at all. Are you talking about _selecting_ the file?

[2019-04-30 11:00] VyasPrachi commented on #69
Hello @miguelpruivo,
I am talking about the plugin that is not allowed to take the file from picker but when I have given storage permission it gives access. So Now my issue is solved. Thank You for your response.

[2019-04-30 11:11] miguelpruivo commented on #69
Yes @VyasPrachi , you must give storage access permission.
Glad that is working now.

@ayalma feel free to reopen this if you are still experiencing any issue.

[2019-04-30 11:11] #69 closed

[2019-05-01 05:50] apps-transround opened #76 "column '_data' does not exist when picking from Dropbox"
When picking from Dropbox on Android there is a deterministic crash with ...MainActivity}: java.lang.IllegalArgumentException: column '_data' does not exist

I guess this is the same issue as it was for image picker:
[https://github.com/flutter/plugins/pull/772](https://github.com/flutter/plugins/pull/772)
Fix:
[https://github.com/flutter/plugins/pull/772/commits/8e380534f1f0b7f25219b23288d1c2dd27

[2019-05-01 12:16] vitulgoyani commented on #74
I/flutter (14598): [FilePicker] Unsupported operation. Method not found. The exception thrown was: NoSuchMethodError: The method 'split' was called on null.
I/flutter (14598): Receiver: null
I/flutter (14598): Tried calling: split("/")

And I used the latest version from git

[2019-05-01 12:18] vitulgoyani commented on #74
it was working fine with google drive but not work with google photos

[2019-05-01 12:30] miguelpruivo commented on #74
@vitulgoyani  looks like a dup of #58 that should have already been fixed. What are the steps to replicate the issue?

[2019-05-01 13:04] miguelpruivo commented on #76
Probably will be the same, since they share underlying platform code for picking files. I'll add this for the 1.4.0 roadmap.

Thank you for reporting.

[2019-05-08 06:00] zouzhenglu opened #77 "Custom filter rule."
May I custom a rule to filter the result? Such  as, I want to filter the maximum size of the file.

[2019-05-08 07:39] miguelpruivo commented on #77
in theory, you could. But that wouldn’t prevent the files from showing up. I would only not allow files bigger than X to be loaded, but the user would always be able to select them before hand.

[2019-05-09 01:11] premtemp1 opened #78 "How do you select file from dropbox"
Hello,
 How can I use this plugin to get file from dropbox or iCloud Drive

[2019-05-09 01:40] miguelpruivo commented on #78
Hi @premtemp1 you may want to check the README file. There’s plenty examples there of how to setup and use this package. Anyway, a simple usage that allows you to pick files from clouds is:

[code]

This will let you pick anything but feel free to use some extension filters if needed.

Closing as this isn’t actually an issue.

[2019-05-09 01:40] #78 closed

[2019-05-11 05:49] BrackRat opened #79 "Flutter run failed"
Initializing gradle...                                              1.1s
Resolving dependencies...
* Error running Gradle:
ProcessException: Process "D:\BrackRat\Flutter\item\bandbox\android\gradlew.bat" exited abnormally:

Project evaluation failed including an error in afterEvaluate {}. Run with --stacktrace for details of the afterEvaluate {}
error.

FAILURE: Build failed with an exception.

*

[2019-05-11 11:21] miguelpruivo commented on #79
@BrackRack looks like your connection failed while building.

I suggest you to `flutter clean` and then `flutter run` again (make sure you have data connection available).

[2019-05-11 11:45] BrackRat commented on #79
I executed Flutter clean.
But it still happens before.I'm sure I'm online.

[2019-05-11 14:39] miguelpruivo commented on #79
Go to your home folder and delete the `.pub_cache` folder (if you’re on a Mac, on windows should have the same name). But I quite doubt is related to it. By the logs looks like a connection issue when trying to fetch the dependency.

[2019-05-12 07:45] BrackRat commented on #79
I have not found any .pub_cache files.
The configuration in build.gradle is correct.
The problem still exists.

`* Error running Gradle:
ProcessException: Process "D:\BrackRat\Flutter\item\bandbox\android\gradlew.bat" exited abnormally:

Project evaluation failed including an error in afterEvaluate {}. Run with --stacktrace for details of the afterEvaluate {} error.

FAILURE: Build failed with an

[2019-05-12 08:56] miguelpruivo commented on #79
There must be something related directly to your build that isn’t allowing fetching the right dependency. If that was a gradle issue from the package itself, it wouldn’t run on any machine and certainly you wouldn’t be the only experiencing this.

The errors are pretty straightforward: failed to get due to connection timeout.

What’s the minimum and target sdk of your Android app?

[2019-05-12 11:19] BrackRat commented on #79
I am trying to bypass the Great Wall firewall to build.
I can run the sample program, but the above error will occur as soon as the file_picker is introduced.

[2019-05-12 12:39] miguelpruivo commented on #79
@BrackRat so you are able to run the example app, but not yours?

Can you post your app’s build.gradle?

[2019-05-13 14:50] aachan13 opened #80 "Cancelling the explorer app crashes.."
File picker works well..

but when i Try to cancel the first request of picking the file. It throws a Platform Exception which, is not being caught in PlatformException. is there something wrong with my code?
Im using the newest file picker already.

[code]

[2019-05-13 15:17] miguelpruivo commented on #80
Hi @aachan13 , that's because it's already being catch in the package itself [see here](https://github.com/miguelpruivo/plugins_flutter_file_picker/blob/master/lib/file_picker.dart#L56).

You should look for the `null` return which usually indicates a cancel event or any other exception.

[2019-05-13 15:32] aachan13 commented on #80
Thanks for your fast response!

im sorry i really not experienced on this.. what should i do? it keep crashing my app :(

![image](https://user-images.githubusercontent.com/26079577/57633765-98e36000-75d6-11e9-8e31-9245046c18b6.png)

[2019-05-13 15:37] miguelpruivo commented on #80
@aachan13 this doesn't look directly related to the package. You should look to your `basename()` method and see where are you calling the `isNotEmpty` getter which seems to be `null`.

[2019-05-13 15:40] aachan13 commented on #80
ohhh i see! finally found it.. ._.

thank you mr miguel!

[2019-05-13 15:40] #80 closed

[2019-05-15 13:28] roidy opened #81 "Fails under VS Code"
Fails under VS Code complaining about AndroidX. My code works perfectly when file_picker is remover from pubspec.yaml

[2019-05-15 13:32] miguelpruivo commented on #81
H. @roidy, this kind of bug is usually related to project dependencies or conflicts between them, otherwise it wouldn't build for any other user. Using the VS Code shouldn't have any impact, it's just the build process.

Can you show me your `android/app/build.gradle` file? Also, can you try to run the package's example app and see if it builds for you?

[2019-05-15 13:34] miguelpruivo commented on #79
Closing this due to inactivity. Feel free to reopen it if the issue still persists.

[2019-05-15 13:34] #79 closed

[2019-05-15 13:34] miguelpruivo commented on #74
@vitulgoyani is this still a problem for you?

[2019-05-15 13:40] roidy commented on #81
I've narrowed the fail down to also including simple_permissions: ^0.1.9 in pubspec.yaml

[code]

[2019-05-15 15:16] miguelpruivo commented on #81
This line likely explains where the problem is:

`Program type already present: android.support.v4.os.ResultReceiver$1`

[2019-05-15 17:25] roidy commented on #81
Yes, I saw that as well. So is there a fix?

[2019-05-15 18:15] miguelpruivo commented on #81
No problem, I was going to suggest to check your `gradle.properties` file and make sure that you have these two lines below there:
[code]
Anyway, since you've found a solution, I'm going to close this. Feel free to reopen if you still find any issue related to this.

[2019-05-15 18:15] #81 closed

[2019-05-19 09:35] rockgecko-development commented on #23
When I select a directory via `getMultiFilePath` via iCloud Drive, I get a folder containing `.<orig name>.icloud` files, of 175 bytes each.
I suppose this is because iCloud doesn't download the entire directory when you select it, unlike for individual files. But what do i do with these `.icloud` files, and how do I get the originals?

[2019-05-19 10:39] miguelpruivo commented on #23
@rockgecko-development you are saying that you are able to select a folder when multi picking files?

[2019-05-19 11:46] rockgecko-development commented on #23
@miguelpruivo yes.
Steps to reproduce:
iPhone 6, iOS 12
Call `getMultiFilePath` (it's not possible to select a folder in iCloud Drive with `getFilePath`)
Under *Locations*, choose iCloud Drive, then in the top bar press *Select*, which displays checkboxes for each item. Select a folder, then *Open*
In the result map, you get a folder which contains the `.<orig name>.icloud` placeholder files. Do y

[2019-05-19 15:42] miguelpruivo commented on #23
Thank you @rockgecko-development. Definitely I wasn’t expecting folders to be able to of being picked in iOS so that’s probably the issue.

I’ll certainly look forward this in a future update.

[2019-05-20 03:48] Loisgenesis opened #82 "I/flutter (10973): [FilePicker] Unsupported operation. Method not found. The exception thrown was: MissingPluginException(No implementation found for method IMAGE on channel file_picker)"
I am using   file_picker: ^1.3.4+1 , I have also pasted the example code and ran it but it keeps printing   [FilePicker] Unsupported operation. Method not found. The exception thrown was: MissingPluginException(No implementation found for method ANY on channel file_picker)
My project name is different, pls assist thanks

[2019-05-20 08:55] miguelpruivo commented on #82
Looks like a dup of #75. Just make sure you have your project name right within your pubspec.

[2019-05-20 10:40] Loisgenesis commented on #82
`flutter clean`  made it work, thanks a lot

[2019-05-20 10:50] #82 closed

[2019-05-21 06:05] karnadii commented on #24
+1 I need to pick .json file too

[2019-05-21 08:49] miguelpruivo commented on #24
@karnadii you should be able to pick json extension by doing:
[code]
Have you already tried?

[2019-05-21 09:45] karnadii commented on #24
@miguelpruivo i have ,
[code]

[2019-05-21 11:47] miguelpruivo commented on #24
@karnadii, that’s weird because json is supported content file type. Is this happening on iOS, Android, or both? Can you check that?

Thank you.

[2019-05-21 12:29] karnadii commented on #24
@miguelpruivo using android, yes i use `FileType.ALL` and then validate it within the app

[2019-05-21 12:30] karnadii commented on #24
I dont have iOS so I can only confirm for android

[2019-05-21 13:00] miguelpruivo commented on #24
Right. I’ll take a look into it whenever I got some time. Thank you @karnadii.

[2019-05-22 05:03] RAMSHEER opened #83 "ios- Picking multiple images and videos directly from Gallery."
Hi guys, I am trying to Pick Multiple Images and Videos from the gallery. In ios its only opening files folder. Is there a way to open gallery and pick multiple images? Thanks.

[2019-05-22 08:27] miguelpruivo commented on #83
Hi @RAMSHEER, not at this point. Right now you are only able to pick multiple files from the files app in iOS. In android you are free to choose whatever folder you want.

I may add this possibility in the future. As of now, to pick from gallery, you must select files individually with `FileType.IMAGE`.

Thank you.

[2019-05-23 03:38] abc873693 opened #84 "Support flutter_web"
flutter_web is currently available, will you support it in future?
Thank~

[2019-05-23 08:43] miguelpruivo commented on #84
It’s a possibility. But not in a near future.

[2019-05-23 16:02] PINHOf commented on #83
@RAMSHEER +1
@miguelpruivo I'm having the need as well for picking multiple-images in the Gallery of iOS.

Thanks

[2019-05-23 18:29] abc873693 opened #85 "Support desktop platform"
Although it has not been released yet, maybe you can try it out.
https://github.com/flutter/flutter/wiki/Desktop-shells#macos-1

[2019-05-25 01:48] miguelpruivo commented on #74
Closing due to no further info. Feel free to reopen it if you still experience the same issue.

[2019-05-25 01:48] #74 closed

[2019-05-28 14:07] IsaNascimento opened #86 "App crashes on ios 10.3.3"
App crashes when trying to pick a document with `FileType.ANY`. I have already enabled icloud and cloudkit as shown in the image attached.

The error I get is this:

`2019-05-28 10:57:44.467621-0300 Runner[337:25602] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[FilePickerPlugin documentPicker:didPickDocumentAtURL:]: unrecognized selector sent to instance 0

[2019-05-28 14:59] miguelpruivo commented on #86
Hi @IsaNascimento, which iOS version are you building on? Also, can you try enabling iCloud Documents?

Thank you.

[2019-05-28 16:50] IsaNascimento commented on #86
Hi @miguelpruivo I am on IOS 10.3.3. I tried enabling iCloud Documents, got the same error.

[2019-05-28 17:12] miguelpruivo commented on #86
Do you even see the File Picker opening or you get the immediate exception? I know that for iOS versions below 11 you need to have the CloudKit enabled.

[2019-05-28 17:13] IsaNascimento commented on #86
I see it opening and I can navigate it but as soon as I click to "choose" a file, it closes, I get that exception and the app crashes or freezes.

[2019-05-28 17:57] miguelpruivo commented on #86
I may have to take a look on this. Thank you for reporting.

[2019-05-29 11:54] IsaNascimento commented on #86
@miguelpruivo just to let you know, I tried with a clean project (your example project) and the same thing happens.

[2019-05-29 11:58] miguelpruivo commented on #86
@IsaNascimento that may be possible. I confess that I've not digging much about running it on versions below 11.0 because I don't even have `CloudKit` enabled.

[2019-05-29 12:13] miguelpruivo commented on #86
I'm looking into it @IsaNascimento. I'll keep you updated.

[2019-05-29 12:14] IsaNascimento commented on #86
Alright, thank you @miguelpruivo.

[2019-05-29 12:21] miguelpruivo commented on #86
@IsaNascimento I've found the issue and have already fixed it. I'm going to deploy a new version in a while.

[2019-05-29 12:23] IsaNascimento commented on #86
That's great @miguelpruivo! Thank you so much! Also, what was the issue? I was starting to debug your code to try to help but obj-c isn't really my thing.

[2019-05-29 12:44] miguelpruivo commented on #86
@IsaNascimento it was due to not having the correct delegate for the iCloud Drive in versions below iOS 11.

Can you please confirm that is working properly by replacing your `file_picker` dependency in the `pubspec` pointing to  `beta`?
[code]

If everything is fine, just let me know, so I can deploy it to the dart pub.

Thank you!

[2019-05-29 12:52] IsaNascimento commented on #86
@miguelpruivo just tested it and it's working.

[2019-05-29 13:06] miguelpruivo commented on #86
@IsaNascimento all done. The [1.3.5](https://pub.dev/packages/file_picker#-changelog-tab-) is out.

You can now use it normally as before (`file_picker: ^1.3.5`).

Thank you for your feedback.

[2019-05-29 13:06] #86 closed

[2019-05-29 14:05] nguyenxuankiet262 opened #88 "Multi image picker"
I turned on multi pick but it not work.

[2019-05-29 14:07] miguelpruivo commented on #88
@nguyenxuankiet262 I need more details. Platform? Version? Which type are you trying?

Remember that in some Android versions you must hold for a while the file, in order to make the multi selection appear.

[2019-05-29 14:09] nguyenxuankiet262 commented on #88
Oh god! Tks for early replying. I forgot this " some Android versions you must hold for a while the file". Sorry my bad

[2019-05-29 14:09] #88 closed

[2019-06-02 09:17] aachan13 opened #89 "display a file instead of file path"
Hello.. is it possible to display the file instead of the file path? ex: i want to display my picked pdf file..

[2019-06-02 09:40] miguelpruivo commented on #89
@aacham13 it sure it will, if you use a plugin for displaying/opening for example, pdf files.

It wouldn’t make sense at all to have all the file the possibilities in this plugin, because after all, it’s just a file picker. You do what you want afterwards with the file.

For example, if you use [flutter_full_pdf_viewer](https://pub.dev/packages/flutter_full_pdf_viewer#-readme-tab-) it will open pd

[2019-06-02 09:40] #89 closed

[2019-06-02 10:12] Peltoche commented on #62
Hi,

I'm workink with the version `^1.3.5` and it seems that the issue still exists.

If I run:
[code]
and I select several files, I have the log:
[code]
and the results variable is null.

If you need more information don't hesitate.

[2019-06-02 10:17] miguelpruivo commented on #62
@Peltoche can you tell me which Android version are you running on? Does that happen in the example app as well?

Thank you.

[2019-06-02 10:31] Peltoche commented on #62
Yep, I can reproduce with the example.

For the emulator:
[code]

For the flutter version:
[code]

[2019-06-02 10:37] miguelpruivo commented on #62
@Peltoche and you're selecting multiple pdf files, right? I'll check this ASAP and keep you updated.

Thank you.

[2019-06-05 03:08] premtemp1 opened #91 "Only allow to pick file from iCloud, not Dropbox or google drive"
Hello,
 On iOS , I only see the iCloud option. How do get from Google drive and Dropbox to available options

Thanks

[2019-06-05 03:45] premtemp1 commented on #78
@miguelpruivo ,
  I can pick the file from iCloud , However, gDrive nor dropbox
does not show  as an option on iOS

[2019-06-05 04:11] Stephen-Cronin commented on #40
I know this is closed, but will add my situation in here too.

I'm trying to select a file from the device and store the path so that I can reopen the file again next time the app loads. The file is likely to have changed in the meantime, so loading it from the cache location is no good. I either need the original file path or the user needs to use the picker every time (which isn't a great experi

[2019-06-05 08:44] miguelpruivo commented on #78
@premtemp1 you’ve to have the Dropbox and/or google drive apps installed as well.

[2019-06-05 08:45] miguelpruivo commented on #91
Replied in #78.

[2019-06-05 08:45] #91 closed

[2019-06-05 22:57] premtemp1 commented on #91
Thanks .. Do you have an example of how to read the content of the file

[2019-06-06 00:01] miguelpruivo commented on #91
@premtemp1 what do you mean?

[2019-06-06 03:27] premtemp1 commented on #91
Sorry man... but I know this maybe outside the scope..

I get the file name from your plugin
/Users//Library/Developer/CoreSimulator/Devices/A509517C-AC3F-4F87-856A-145F61075E8B/data/Containers/Data/Application/FC2B634B-F7BD-48EB-9B80-920476E20DE8/tmp/com.xyx-Inbox/myfile.doc'

Now I want to read the content and this is my code

File file =  new File(path);

  Stream<List> inputStream = file.openR

[2019-06-06 08:27] miguelpruivo commented on #91
You want to extract the text from the doc file?

[2019-06-06 15:37] kamrancr7 opened #92 "Lost connection to device"
It's open the recent files by default but when i go to the Files option and then Download and then i pick any file then my application is closed and Lost connection to device message is showing in console

D/libEGL  (21035): ARC_TRACE: ARCASM_eglMakeCurrent(ctx:0x0)
D/Surface (21035): Surface::disconnect(this=0x73666d1000,api=1)
D/Surface (21035): Surface::disconnect(this=0x73666d1000,api=-1)
D/li

[2019-06-06 18:04] miguelpruivo commented on #92
Hi, @kamrancr7, I’m sorry, but I can’t seem to find anything related to the package itself in the stacktrace.

May I ask you to run in another device/emulator and see if it’s still happening?

Thank you.

[2019-06-10 13:57] mrzasoltani opened #93 "AndroidX error"
when i build project , get this error :
The Gradle failure may have been because of AndroidX incompatibilities in this Flutter app.

[2019-06-10 14:11] miguelpruivo commented on #92
@kamrancr7 do you still have this issue?

[2019-06-10 14:12] miguelpruivo commented on #93
@mrzasoltani you need to set your Android app’s build.gradle target version to 28.

[2019-06-10 15:54] mrzasoltani commented on #93
target is 28!
I did not find a solution for it 😕

[2019-06-10 17:52] miguelpruivo commented on #93
You need to post your error so I can try to help you.

[2019-06-11 14:09] miguelpruivo commented on #93
@mrzasoltani any news on this?

[2019-06-11 14:10] miguelpruivo commented on #92
Since no further information was provided, I'll assume that you've resolved your issue. Feel free to reopen it otherwise.

[2019-06-11 14:10] #92 closed

[2019-06-12 05:26] mrzasoltani commented on #93
i get this messages and errors :

Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
D8: Program type already present: android.support.v4.os.ResultReceiver$MyResultReceiver

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

  Learn how to resolve the issue at http

[2019-06-12 05:29] mrzasoltani commented on #93
i get this messages and errors :

Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
D8: Program type already present: android.support.v4.os.ResultReceiver$MyResultReceiver

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

  Learn how to resolve the issue at http

[2019-06-12 08:36] miguelpruivo commented on #93
Thank you. Looks like the issue is in the qr code package, not in this one.

[2019-06-12 11:48] mrzasoltani commented on #93
its my sample project name! its a test for using qrcode in flutter , and i use flutter_file_picker too!
i'm not a amateur developer 😕
when used file picker in a new project , still i get same error

[2019-06-12 12:36] miguelpruivo commented on #93
@mrzasoltani
My bad, I didn't notice that it was the project's name. Can you show me your Android's `build.gradle`?

[2019-06-13 04:33] mrzasoltani commented on #93
App's build.gradle >>

`def localProperties = new Properties()
def localPropertiesFile = rootProject.file('local.properties')
if (localPropertiesFile.exists()) {
    localPropertiesFile.withReader('UTF-8') { reader ->
        localProperties.load(reader)
    }
}

def flutterRoot = localProperties.getProperty('flutter.sdk')
if (flutterRoot == null) {
    throw new GradleException("Flutter SDK not f

[2019-06-13 04:35] mrzasoltani commented on #93
Project's build.gradle :

    ext.kotlin_version = '1.3.31'
    repositories {
        google()
        jcenter()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:3.2.1'
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
    }
}

allprojects {
    repositories {
        google()
        jcenter()
    }
}

rootProject.buildDir = '../build'
subpr

[2019-06-13 08:29] miguelpruivo commented on #93
Thank you. Can you also post the full log when you try to build it with the package?

[2019-06-15 05:50] GauravPatni commented on #62
hi @miguelpruivo ,

I am facing the same issue of File Path = null .

Please refer attached screenshots for more details
![step 1](https://user-images.githubusercontent.com/30209336/59547569-9cb02c80-8f5e-11e9-997d-80cfa25ba25c.png)

![step 2](https://user-images.githubusercontent.com/30209336/59547570-9cb02c80-8f5e-11e9-91d9-518745db7aa2.png)

![step 3](https://user-images.githubusercontent.com/3

[2019-06-15 10:01] miguelpruivo commented on #62
@GauravPatni thank you for your feedback. Is this a custom file manager (aka 3rd party) installed on the device? Because if it is, there are known issues where the file manager itself, handles the path differently and doesn’t returns it as it should, and thus, I return `null` instead to prevent wrong handling of the file.

[2019-06-15 14:28] Peltoche commented on #62
Nop, I don't think so.

[2019-06-15 14:51] miguelpruivo commented on #62
@Peltoche, I’m not able to reproduce your issue. Can you screen record it so I can get a deeper understanding of what may be causing it?

Thank you.

[2019-06-15 20:28] Row7 opened #94 "FilePicker crashing only on API 29"
Hello, my program is crashing when I select an audio file on API 29. It works fine with API 28 and lower versions.

pubspec: `file_picker: ^1.3.5`

Im using this line to open the file picker and I have not any problem until API 29:

`File file = await FilePicker.getFile(type: FileType.AUDIO);`

I tried with file names without special characters and changing FileType to FileType.ANY but it didn't w

[2019-06-15 20:36] miguelpruivo commented on #94
Hi, there’s no support yet for api 29 in the package, since api 29 is in a beta stage. The maximum currently supported is the 28 or below.

Thank you.

[2019-06-15 20:38] miguelpruivo commented on #93
Hi, any news on this @mrzasoltani?

[2019-06-15 20:40] Row7 commented on #94
Thanks for your quick response, regards.

[2019-06-15 20:40] #94 closed

[2019-06-16 04:47] mrzasoltani commented on #93
sorry, i was busy yesterday
ok, i send you <Run Console log> and <Logcat> result.

///////////////////////////////// Run Console Log /////////////////////////////////
Launching lib\main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
D8: Program type already present: android.support.v4.app.INotificationSideC

[2019-06-16 04:53] mrzasoltani commented on #93
when i removed "barcode_scan: ^0.0.3" from dependencies,project built successfully and worked fine.🤔

[2019-06-16 10:29] miguelpruivo commented on #93
@mrzasoltani well it might indicate that you’ve found your issue.

Use the `barcode_scan: ^1.0.0` instead, as they have the 0.0.3 pointed in the readme file but the version is currently at 1.0.0, so there might be a bug in that version.

Anyway, it doesn’t seem related at all with the `file_picker`.

Just let me know if it worked for you.

[2019-06-17 06:47] mrzasoltani commented on #93
This problem has not been resolved!
Any dependency with it will be a problem :/

[2019-06-17 06:47] mrzasoltani commented on #93
This problem has not been resolved!
Any dependency with it will be a problem :/

[2019-06-17 08:50] miguelpruivo commented on #93
@mrzasoltani if any dependency with it would cause a build to fail, certainly, this package would be unusable for everyone, I’d say.

You’re using a `0.0.3` version of `barcode_scan`, which is too old as of now. You should use `1.0.0`. If you still experience the same issue with the later, I recommend you to report on their package.

You’ve told yourself that you can run it without that package, s

[2019-06-17 10:33] mrzasoltani commented on #93
Well, thanks for the good support you had 🙂

[2019-06-17 10:49] miguelpruivo commented on #93
@mrzasoltani no problem, sorry that I can help you any further than this. Feel free to reopen it if you find that is directly related to this package.

Thank you.

[2019-06-17 10:49] #93 closed

[2019-06-17 18:21] ederbaum opened #95 "Incompatibility with firebase_messaging - Android"
The firebase_messaging is causing a lot of problemas when using plugins like file_picker. The error is very simple to reproduce:

That's my pubspec.yaml:

[code]
Just use the command "flutter build apk" to see the error bellow:
Just remove the firebase_messaging plugin (or file_picker) and the error disappear.

[code]

The error is very similar in this plugin: https://github.com/crazecoder/open_fi

[2019-06-17 22:28] miguelpruivo commented on #95
Hi @ederbaum, what let you think that this is this plugin’s fault?

If this is happening with multiple plugins and Firebase, probably is related with some incompatibility with the Firebase plugin itself. The one you posted as a reference has a dependency resolution fix, does that work for you?

Have you tried another Firebase version anyway?

I would like to help you, but this are one of the cases

[2019-06-18 03:43] altherat commented on #95
I'm also getting a similar error using this library with [flutter_zxing](https://github.com/trevorwang/flutter-zxing). Not sure which library is at fault but considering that there's this issue and #93, I'd have to guess this library is the culprit if it's having so many problems with others.

[2019-06-18 09:57] Peltoche commented on #62
I have stopped my project and I don't think I will have the time soon, sorry. Maybe one week-end I will put a video or a PR.

[2019-06-18 16:53] Dancovich opened #97 "Crash on Android when there is no app for file extension"
On Android if the device doesn't have an app that can respond to the generated Intent the plugin will cause the app to crash instead of returning the error to Dart or dealing with the exception itself.

I'm using version 1.3.6.

How to reproduce:

- Create an emulated device with API 16 and without Google Play Services (or use a device with no apps that can deal with application/pdf MIME type).
-

[2019-06-18 17:09] miguelpruivo commented on #97
Hi @Dancovich. Well, I believe this is the desired behavior. Prior to `1.3.6` I was handling the exceptions in the plugin itself without rethrowing it to the user app's layer, now you can handle it yourself despite being interpreted in the plugin before.

If the device can't handle that file type, is expected to throw an exception to let you know, and handle it accordingly. You need to add a `try-

[2019-06-18 17:11] miguelpruivo commented on #95
@ederbaum you need to have Android X compatibility as @altherat pointed out. This may lead to some confusion when packages are mixed out, since some have already migrated and others don't (although at this point, they all should).

Just let me know if it solved for you as well.

[2019-06-18 17:38] Dancovich commented on #97
I did several tests, tried running `flutter clean`, made absolutely sure I was using version 1.3.6 and even took a look into your code (indeed you do capture the exception and just return a specific message I'm assuming you treat on your dart code and rethrows the exception).

Unfortunately the code still crashes on the specified platform even though I'm placing my code inside a try/catch block. T

[2019-06-18 17:41] miguelpruivo commented on #97
Did you try to also catch the `PlatformException` on your side?
[code]

[2019-06-18 17:50] Dancovich commented on #97
About the version, I was running 1.3.5 before and it crashed the same way. I actually updated to 1.3.6 in hopes it would fix the issue but alas (although I'm not entirely convinced that the SDK isn't just trolling be and failing to do a clean build).

About the exception, I tried with your code and got the same result: app crashed.

I'm still new to Flutter, is there a difference between specifyin

[2019-06-18 17:51] ederbaum commented on #95
Exactly.
I followed these steps and it worked: https://medium.com/@swhussain110/how-to-migrate-your-flutter-app-to-androidx-9a78eaaa924b

And after: "flutter clean"

[2019-06-18 17:51] #95 closed

[2019-06-18 17:53] miguelpruivo commented on #97
@Dancovich yes, there's actually a difference. PlatformException is made to communicate a fail with a platform plugin (see more [here](https://api.flutter.dev/flutter/services/PlatformException-class.html)) however, it's happening because the underlying (Android) platform is killing the app, that's why you can't prevent it.

I'll look into it, and fix it in the next version (aka `1.3.7`).

Thank y

[2019-06-18 18:11] Dancovich commented on #97
Thanks, if you need more information feel free to message me.

[2019-06-19 00:58] miguelpruivo commented on #97
Just released a fix for this in `beta`. Could you please give it a try and let me know if it's working for you? Just replace the `file_picker: 1.3.6` in your pubspec.yaml with the following:
[code]

Thank you!

[2019-06-19 00:58] miguelpruivo commented on #76
@apps-transround  just released a fix for this in `beta`. Could you please give it a try and let me know if it's working for you? Just replace the `file_picker: 1.3.6` in your pubspec.yaml with the following:
[code]

Thank you!

[2019-06-19 04:51] bayuramadeza commented on #76
i have tried this way, but nothing changes. it crashes again if i choos dropbox

[2019-06-19 08:23] miguelpruivo commented on #76
@bayuramadeza you need to make sure you do a flutter clean and then rebuild.

Also, if the same happens post your logs please. It shouldn’t happen with that version as the fix is already applied.

Thank you.

[2019-06-19 08:52] bayuramadeza commented on #76
So, after i tried, this is happened

E/AndroidRuntime( 6869): 	at android.database.AbstractCursor.getColumnIndexOrThrow(AbstractCursor.java:339)
E/AndroidRuntime( 6869): 	at android.database.CursorWrapper.getColumnIndexOrThrow(CursorWrapper.java:87)
E/AndroidRuntime( 6869): 	at com.mr.flutter.plugin.filepicker.FileUtils.getDataColumn(FileUtils.java:133)
E/AndroidRuntime( 6869): 	at com.mr.flutter.

[2019-06-19 09:19] robinmaass commented on #62
Hi
Same issue here.
Single file picker works fine. If I select multiple files, I get an error.
Using native file manager.
Target sdk version 28 (I assume that's the problem as with >= 24 you should use FileProvider.
Your example app has the same problem.
Tested with Galaxy Tab S4 and Note 8

Maybe have a look here:
https://stackoverflow.com/questions/53240556/opening-file-via-intent-using-uri-on-a

[2019-06-19 09:39] bunnywrote commented on #62
Video: [file_picker_issue.zip](https://github.com/miguelpruivo/plugins_flutter_file_picker/files/3305297/file_picker_issue.zip)

It seems, I have the same problem on my device

As you can see in the video (attached as zip), if I select just one file in file_picker dialog it works, but where I try to add 3 files (in this case) with multiple select no one will be added and I see this error in the co

[2019-06-19 09:45] miguelpruivo commented on #76
@bayuramadeza thank you for you fast response. Just committed a new fix, can you `flutter clean` and build again and let me know if it's working now? Also, I would suggest you to remove the `.pub_cache/git` to make sure it is fetching the new version.

[2019-06-19 09:58] miguelpruivo commented on #62
@bunnywrote I've removed the writing/reading permissions in `1.3.6`, can you try with `file_picker: 1.3.5` and let me know if it's working for you?

Thank you.

[2019-06-19 10:18] bayuramadeza commented on #76
Thank you, it's work now.

[2019-06-19 10:33] bunnywrote commented on #62
I downgraded file_picker package to 1.3.5, but have the same error, BUT if try to select mutiple files **not in Downloads folder** (Camera in my case) it works

[2019-06-19 10:41] miguelpruivo commented on #62
@bunnywrote and with `1.3.6`?

[2019-06-19 12:07] bunnywrote commented on #62
It works with 1.3.6 as well. Also in my case it seems to be an issue just for multiselect in **Downloads** folder.

[2019-06-19 13:21] Dancovich commented on #97
@miguelpruivo Worked like a charm! Now catching a PlatformException will handle the exception with code `FilePicker` and the message `"Can't handle the provided file type."`.

[2019-06-19 14:20] miguelpruivo commented on #97
@Dancovich glad to know. I'll deploy it on pub.dev later this week in an upcoming version, I'm just working in another issues as well.

Just let me know if you experience any other issue.

[2019-06-19 14:21] miguelpruivo commented on #97
@Dancovich glad to know. I'll deploy it on pub.dev later this week in an upcoming version, I'm just working in another issues as well.

Just let me know if you experience any other issue.
Thank you.

[2019-06-19 19:40] kw2019ltd opened #98 "pls add feature where in code i will gave the path and type and get list of files."

[2019-06-19 20:41] miguelpruivo commented on #98
Hi, thank you for the suggestion, but I don’t quite get what you’re asking for.

May you provide an example?

[2019-06-20 02:14] miguelpruivo commented on #76
I thank you @bayuramadeza for your cooperation. Glad it’s working now.

Just let me know if you find any other issue. I’ll deploy a new version on pub.dev with this and other fixed by the end of the week and close this afterwards.

Once more, thank you for reporting.

[2019-06-20 15:46] miguelpruivo commented on #54
This has been already done in `1.3.6`. Thank you.

[2019-06-20 15:46] #54 closed

[2019-06-20 15:48] miguelpruivo opened #99 "Suggestion Box"
# Suggestions Box
Please, if you have any suggestion add it here and I'll try to keep track of those, as well we can try to discuss which will make sense to implement or not in the package.

The list order is from the most likely to be added to the less.

## To-do list

- [ ] Support Flutter desktop (#85) - Currently implemented with go-flutter as an alternative 🎉
- [x] Allow multiple extensions a

[2019-06-20 15:49] miguelpruivo commented on #85
Moved to #99.

[2019-06-20 15:49] #85 closed

[2019-06-20 15:49] miguelpruivo commented on #84
Moved to #99.

[2019-06-20 15:49] #84 closed

[2019-06-20 15:49] miguelpruivo commented on #77
Moved to #99.

[2019-06-20 15:49] #77 closed

[2019-06-20 15:49] miguelpruivo commented on #68
Moved to #99.

[2019-06-20 15:49] #68 closed

[2019-06-20 15:50] miguelpruivo commented on #23
Moved to #99.

[2019-06-20 15:50] #23 closed

[2019-06-20 15:53] miguelpruivo commented on #63
Moved to #99.

[2019-06-20 15:53] #63 closed

[2019-06-20 17:38] davidmartos96 commented on #99
+1 For Flutter desktop support

[2019-06-21 03:07] bayuramadeza commented on #76
hai @miguelpruivo i think there is a new issues while we pick a file from (Oppo colorOS) Filemanager, it is happening now
Fatal Exception: java.lang.RuntimeException
Failure delivering result ResultInfo{who=null, request=39027, result=-1, data=Intent { act=android.intent.action.SEND dat=content://com.coloros.filemanager/file_share/storage/emulated/0/AGroupCompressPDF/2019_test.pdf flg=0x1 (has ext

[2019-06-21 08:43] miguelpruivo commented on #76
@bayuramadeza this have happened before with some other custom rom and actually doubt if I can do anything about it as of now.

Those file managers from those roms handle the file in a way that don’t return a valid path of the picker file.

You can try to install a different file explorer and see if by using it, it works for you.

Thank you.

[2019-06-21 18:50] arnold-parge opened #100 "APP CRASHES: requires android.permission.READ_EXTERNAL_STORAGE, or grantUriPermission()"
**Error says `requires android.permission.READ_EXTERNAL_STORAGE, or grantUriPermission()`, I added `<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />`, yet I get the same error.**

Full stack:
[code]

Flutter doctor:
[code]

[2019-06-21 19:14] miguelpruivo commented on #100
Hi, can you try to use `file_picker: 1.3.5` instead and see if it’s working for you? Thank you.

[2019-06-21 21:21] miguelpruivo commented on #100
@arnold-parge please let me know if it worked for you because if so, I may have to rollback a commit and add the runtime read external storage permissions again.

Thank you.

[2019-06-22 14:53] arnold-parge commented on #100
Putting specific version `file_picker: 1.3.5` works. You may need to rollback.
Thanks @miguelpruivo

[2019-06-22 14:53] #100 closed

[2019-06-23 23:15] miguelpruivo commented on #62
@bunnywrote @robinmaass can you please check the fix already on `beta`? Change your `file_picker` dependency to the following:
[code]
Don't forget to `flutter clean` first and then let me know if it's working for you. 👍

Thank you.

[2019-06-24 08:04] robinmaass commented on #62
Hey Miguel

Happy to tell you that beta works now on android with multiselect (also from download folder and also with different file types). Tested on Tab s4. Great work. Thank you!

[2019-06-24 09:44] #97 closed

[2019-06-24 10:23] miguelpruivo commented on #76
Fixed in [`1.3.7`](https://pub.dev/packages/file_picker#137).

[2019-06-24 10:23] #76 closed

[2019-06-24 10:25] miguelpruivo commented on #62
Fixed in [`1.3.7`](https://pub.dev/packages/file_picker#137).

Feel free to reopen it if you still find any issue related to this.
Thank you all.

[2019-06-24 10:25] #62 closed

[2019-06-24 10:25] miguelpruivo commented on #97
Fixed in [`1.3.7`](https://pub.dev/packages/file_picker#137).

[2019-06-24 10:28] miguelpruivo commented on #100
Fixed in [`1.3.7`](https://pub.dev/packages/file_picker#137).

Thank you.

[2019-06-25 07:05] chunhunghan commented on #99
Please add directory selection, so go-flutter-desktop file_picker plug-in can add this new feature.
Please see the follwing comments.
https://github.com/go-flutter-desktop/plugins/pull/3#issuecomment-492788827

[2019-06-25 23:31] miguelpruivo commented on #98
Since there's not enough info on this, I'm closing it. Feel free to reopen if you have more details of what you're suggesting.

Thank you.

[2019-06-25 23:31] #98 closed

[2019-06-27 01:20] bradyt commented on #40
If I pick a Dropbox file with this plugin, and write to it, should I see the changes on Dropbox?

[2019-06-27 06:58] miguelpruivo commented on #40
@bradyt no. You don’t have write permissions with it, neither you can have a URI that points to a remote path. Remote files will be loaded and cached for you to use.

Afterwards, you can export it and let the user decide where to save to.

[2019-06-27 07:31] bradyt commented on #40
Thank you for clarifying.

Do you think I should be able to set up some sort of seamless experience for Android users, by following your project as a tutorial (tutorial in Java ecosystem, Platform Channels, etc), and using concepts from https://developer.android.com/guide/topics/providers/document-provider? I saw the following statement there.

I am under the impression you used SAF in your `file_

[2019-06-27 08:25] miguelpruivo commented on #40
@bradyt thank you for your suggestion and I've already thought of that, but that means that it would act more like a _file manager_ instead.

The purpose of this plugin is to act just as a _file picker_ providing a seamless experience between iOS and Android. With that said, you don't have a similar concept in iOS and that would mean that devs would have to handle the flow in a different way for b

[2019-06-27 08:28] miguelpruivo commented on #40
@Stephen-Cronin sorry for being late in response, probably I've might missed it. If your files are being cached, that's probably because they're being loaded from a remote URI (eg. GDrive, Dropbox, etc.) and you _can't_ get an absolute path for those files, that's why they're all cached.

However, IMO, you can handle that yourself by creating an app's content directory and when the user loads/pick

[2019-06-27 08:35] bradyt commented on #40
Sorry I knew I wasn't going to make sense there. What I meant to say was, am I close to accomplishing this if I fork the project?

[2019-06-27 08:39] miguelpruivo commented on #40
@bradyt I'd say yes, but you'll need to work out the Android side implementation side. Also, currently it is supporting all API (from 16 to 28) which makes it also very flexible. Using document provider only, would limit access to API 19 and above.

[2019-06-27 08:52] bradyt commented on #40
Oh, I assumed you were using this. Thank you for the help and pointing out the caveats. I think making progress on storage options for my app will outweigh that drawback. But maybe I'll explore a more complete solution in the future.

[2019-06-30 11:34] Stephen-Cronin commented on #40
@bradyt Thanks for the response. In my case, I am trying to load a file created by a third party game and stored in the phone's Documents folder (on Android). This is the path to the file on my phone:

`/storage/emulated/0/Documents/Sports Interactive/Football Manager 2019 Mobile/normal/games/fm_save4.dat`

It's not a remote URI, it's on the phone, but file_picker is caching it to:

`/data/user/0/

[2019-06-30 12:42] miguelpruivo commented on #40
This is happening probably because it’s being stored within other apps private content folder (in this particular scenario, the game). Nevertheless, might to post the full log when you pick the path so I can check the full trace as well as your `flutter doctor`? Also, make sure you’re running the latest `file_picker` version (1.3.7).

Thank you.

[2019-07-01 09:21] Stephen-Cronin commented on #40
@miguelpruivo Thank you!

I was on `file_picker` version 1.3.4+1, not 1.3.7. I updated pubspec.yaml to say 1.3.7 and ran both `flutter pub upgrade` and `flutter packages upgrade` (because I'm paranoid), so I assume I'm on 1.3.7 now - though I can't see an easy way to verify that. Anyway, still having the issue.

I've attached the log from debug console and the `flutter doctor -v` output:

[flutter

[2019-07-01 10:35] miguelpruivo commented on #40
@Stephen-Cronin would you mind to run in on a difference device or emulator and see if it's still happening? It looks like you have a _this party_ file explorer installed and its acting as document provider, thus, the URI is handled like an external file (so that explains the caching process).

It's not quite easy on Android to cover all the API/ROM when they use _third party_ explorers, that's wh

[2019-07-01 11:35] Stephen-Cronin commented on #40
@miguelpruivo I'd have to set up the emulator (install the game, wait for the data to download etc), so I removed FX file explorer (no change) and Plece (change) from my phone. I am on a Samsung Galaxy S7 so it has the Samsung file explorer rather than the default Android one, but not much I can do about that easily (or can expect my users to do).

Anyway, now the file URI line is as follows:

[co

[2019-07-02 02:45] bayuramadeza opened #103 "Crash in some devices Caused by: java.lang.IllegalArgumentException:"
I have so many issues with this error. but i don't understand what's wrong?
The output is:
Caused by: java.lang.IllegalArgumentException:
  at android.database.AbstractCursor.getColumnIndexOrThrow (AbstractCursor.java:333)
  at android.database.CursorWrapper.getColumnIndexOrThrow (CursorWrapper.java:87)
  at com.mr.flutter.plugin.filepicker.FileUtils.getDataColumn (FileUtils.java:132)
  at com.mr.

[2019-07-02 06:36] miguelpruivo commented on #103
Hi @bayuramadeza, could you please also add the output of your `flutter doctor -v` as well as describing what’s the step to replicate the issue?

Thank you.

[2019-07-02 10:49] Stephen-Cronin commented on #40
@miguelpruivo I tried with an emulator using a stock standard Nexus 5 and got the same thing:

[code]

So it looks like it is indeed because the Documents folder is treated as external (unless the one for your app). I guess I'm out of luck. Thanks anyway for your help, it's much appreciated.

[2019-07-02 11:06] miguelpruivo commented on #40
@Stephen-Cronin when you use the `content://com.pleco.chinesesystem.localstorage.documents/document/%2Fstorage%2Femulated%2F0%2FDocuments%2FSports%20Interactive%2FFootball%20Manager%202019%20Mobile%2Fnormal%2Fgames%2Ffm_save4.dat` directly, does that work for you?

[2019-07-03 07:40] kitoko552 opened #104 "App crashes on Android by thrown java.io.FileNotFoundException: (File name too long)"
I found app crashes on Android when I pick a file named too long.

In getUriFromRemote() in FileUtils.java, when a file has too long name, FileOutputStream throws FileNotFoundException and `fos.close()` in the catch statement can throw NullPointerException but it is not catched anywhere so app will crash.

[code]

Thanks.

## Logs

[code]

## flutter doctor

[code]

[2019-07-03 08:55] miguelpruivo commented on #104
Good catch @kitoko552! However, it’s weird that it won’t load because of a big name.

How can you replicate it?

Thank you.

[2019-07-03 10:06] kitoko552 commented on #104
Thank you for your reply!
My app is for Japanese so the crash is occurred by picking a Japanese named file.
It is replicated when you pick a file named about 200 Japanese characters from Google Drive.
Something like this.

[code]

I know it is not usual naming actually but it is possible so I think it is better to be fixed.

Thank you.

[2019-07-03 10:08] miguelpruivo commented on #104
@kitoko552 thank you. I'll see what I can do about it.

[2019-07-03 11:05] miguelpruivo commented on #40
@Stephen-Cronin  when you use the `content://com.pleco.chinesesystem.localstorage.documents/document/%2Fstorage%2Femulated%2F0%2FDocuments%2FSports%20Interactive%2FFootball%20Manager%202019%20Mobile%2Fnormal%2Fgames%2Ffm_save4.dat` directly, does that work for you?

It would be great if you could check it directly with that URI, so I can further debug this. Also, can you give me with the steps to

[2019-07-05 03:00] bayuramadeza commented on #103
I don't know what's the step to replicate it, but it happened in specific devices.
<img width="953" alt="Screen Shot 2019-07-05 at 09 58 32" src="https://user-images.githubusercontent.com/32892647/60695357-a26cb280-9f0b-11e9-9e47-7cf69e33fbc2.png">

[2019-07-05 09:03] miguelpruivo commented on #103
@bayuramadez looks like it happens only in OPPO devices with API 24. Maybe due to a custom rom that is using a custom file explorer and handling the paths by itself.

Since it’s happening only with one brand and API and you can’t also give the steps to replicate (hopefully in some emulator) this is quite hard to debug as I don’t have the model as well and I’m afraid I can’t emulate it as well, I’m

[2019-07-05 09:03] #103 closed

[2019-07-05 09:03] miguelpruivo commented on #103
@bayuramadeza looks like it happens only in OPPO devices with API 24. Maybe due to a custom rom that is using a custom file explorer and handling the paths by itself.

Since it’s happening only with one brand and API and you can’t also give the steps to replicate (hopefully in some emulator) this is quite hard to debug as I don’t have the model as well and I’m afraid I can’t emulate it as well, I’

[2019-07-05 23:26] miguelpruivo commented on #104
@kitoko552 somehow, I can't replicate the issue. I've given to a file the exact same name and tried to load it using the example app and it works just fine:
[code]

Can you give me more details about how to exactly replicate it?

Thank you.

[2019-07-08 05:32] kitoko552 commented on #104
How about this?

[code]

The issue is replicated in my Nexus 5x(Android 8.1.0) and Xperia XZ2(Android 8.0.0).

[2019-07-08 10:12] miguelpruivo commented on #104
@kitoko552 Thank you, I'll try to emulate the Nexus 5x with Android 8 and see if I can replicate it. I'll keep you updated.

[2019-07-10 17:30] nguyenxuankiet262 opened #105 "App crashs on some Android 9.0 devices"
I cannot upload image from gallery. This is my logcat
FileSystemException: Cannot open file, path = '/storage/emulated/0/zalo/picture/IMG_UPLOAD_20190711_000720.jpg' (OS Error: Permission denied, errno = 13)

[2019-07-10 17:50] miguelpruivo commented on #105
Hi, Android 9.0 isn’t yet supported.

Thank you.

[2019-07-10 18:27] nguyenxuankiet262 commented on #105
Hope you soon upgrade this package!

[2019-07-10 18:34] #105 closed

[2019-07-12 02:01] miguelpruivo commented on #105
Hi again @nguyenxuankiet262 somehow I was thinking in API 29 (Android Q) and not 9.0 (API 28) which is supported for a while now.

So, that means you shouldn’t experience any issue, but by looking at your logs looks like you didn’t provide read permissions for accessing that file. Do you have the `READ` permission it on your manifest file?

If so, just make sure you’re on the latest version of the

[2019-07-12 14:40] nguyenxuankiet262 commented on #105
I tested on many devices. Only android 9.0 devices get this issuse

[2019-07-12 14:56] nguyenxuankiet262 commented on #105
Oh no sorry. It's not working on any devices, it just shows but cannot be uploaded. My manifest have READ Permission.

[2019-07-12 15:24] nguyenxuankiet262 commented on #105
My fault!!! I really apologize to you because my function resize image when i upload image

[2019-07-15 02:16] da140110 opened #106 "Plugin not working with Flutter View - Flutter Module on Android existing app!"
i have flutter module use file-picker plugin, on flutter app it work fine but when add flutter module to existing android when picked a file or picture it not return anything. i created a flutter view to add module to android app

i found this code on file-picker it's mean that it can not return file to flutter View only work with FlutterActivity
public static void registerWith(PluginRegistry.Regi

[2019-07-15 09:01] miguelpruivo commented on #106
Hi @da140110, have you tried to load your FlutterView inside another Android Activity?

[2019-07-15 12:23] Dancovich opened #107 "NullPointerException on FilePickerPlugin$1.onActivityResult in certain Android devices"
My app is crashing in some Android devices with a NullPointerException.

Unfortunately I've been unable to reproduce the issue in my device. The crash logs came from Google's Developer Console and points to a NPE in `FilePickerPlugin$1.onActivityResult` but without a line number.

Taking a look into this method on version 1.3.7 pointed me to this suspect piece of code. On line 59  of `com.mr.flutt

[2019-07-15 12:32] miguelpruivo commented on #107
Hi @Dancovich handling file paths can be tricky to debug to Android fragmentation (and with this, the custom roms) that’s why this kind of issues 95% of the time happen on Android and not iOS. There are times where custom roms use their own file explorers and handle the path themselves, hence, sometimes not returning the path in the activity result when it should.

Sometimes it’s so hard to reprod

[2019-07-16 00:07] #104 closed

[2019-07-16 00:27] miguelpruivo commented on #104
I was able to reproduce and fix the issue with that file name @kitoko552. The exception that was being thrown is indeed related to the file name being too long.

Anyway, this is now fixed in [`1.3.8`](https://pub.dev/packages/file_picker#138).

Thank you for reporting.

[2019-07-16 02:22] kitoko552 commented on #104
Thank you for fixing!

[2019-07-16 11:15] Dancovich commented on #107
Hi @miguelpruivo

The struggle of dealing with buggy apps that return unusual intent configurations is real.

Play Console lists this device: jfltexx running Android 7.1. From what I could gather this is a Samsung Galaxy S4 running some kind of custom ROM like LineageOS, which is quite an unusual configuration and could explain the error.

I forked your repo and did a few changes to protect the co

[2019-07-16 11:26] miguelpruivo commented on #107
Thank you @Dancovich, feel free to issue a PR, however, have in mind that your solution should be sdk-agnostic and any modification, even though might fix a specific device issue, should not affect others.

Just let me know when you're done testing with your updates. 👍

[2019-07-17 22:45] tolstenko commented on #99
Flutter Desktop support would be amazing! :-)

[2019-07-19 14:42] Dancovich commented on #107
I've done several tests on the affected device and on others. So far the issue seems to be solved. I've also tested some Android models to check if the change affects some of the negatively but so far normal behavior of the plugin seems to be unchanged.

I'll issue a PR with my change. Please let me know if it needs some adjusting before it gets accepted.

[2019-07-19 20:56] miguelpruivo commented on #107
Fixed with #111.

[2019-07-19 22:12] Dancovich commented on #107
No problem. Thanks for the quick response.

[2019-07-22 07:29] thejacer87 opened #112 "add option for FileType.AUDIO to *not* open apple music"
I want my iOS users to be able to search the Files app for audio, not apple music files, to avoid DRM stuff.

problem with using .CUSTOM is I can't filter multiple extensions at once, at least until #68 is implemented.

so at the moment .ANY with custom handling on the app side is the only way. which seems more cumbersome than

basically this issue is moot if #68 is on the horizon, otherwise it wo

[2019-07-25 03:03] Ca1iburn opened #113 "Depending on File Picker causes app to not build"
If I add File Picker to my dependencies the app is no longer able to build to an android emulator.

My debug console returns:
` D8: Program type already present: android.support.v4.os.ResultReceiver$MyResultReceiver

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

//list of numbered debug.jars

Pro

[2019-07-25 04:07] Ca1iburn commented on #113
I didn't find the exact issue but I imagine it's on Simple Permissions due to it having not been updated in quite a while. I found an alternative to SP (that actually looks like it'll be better) with Permission Handler.

[2019-07-25 05:51] pavanvora commented on #99
Please add support for multiple fileType in singleFilePath.

e.g.
I want to select a single file which can be either IMAGE or PDF. I know I can use CUSTOM fileType but I don't user to select any other fileType then IMAGE and PDF.

[2019-07-25 16:06] omuomugin opened #114 "Filtering with Multiple File Type"
Hi, thanks for your great plugin.

Is there any way to filter file type like below?

[code]

I don't want to target drives and other cloud files but I want to target Image, video and audio.

[2019-07-25 16:29] miguelpruivo commented on #114
Hi, right now you can achieve with the type `FileType.ALL` as it will let you pick any file. To provide a seamless experience between iOS and Android, it's hard to not say impossible, to let pick _video_, _images_. and _ audio_ at the same time because _audio_ will use the Music app to let you pick the files.

However, _image_ and _video_ together might be a possibility as it will open the gallery

[2019-07-25 16:31] miguelpruivo commented on #113
So, basically @Ca1iburn, this has nothing to do directly with this package right? If so, feel free to close the issue or let it open otherwise.

Thank you.

[2019-07-25 16:34] miguelpruivo commented on #112
This is in a way a duplicate of #68. Please, use the #99 to upvote on features.

Thank you!

[2019-07-25 16:34] #112 closed

[2019-07-25 16:35] miguelpruivo commented on #106
Due to no response for a while, I'm assuming you might have found a solution for this. Feel free to reopen otherwise.

[2019-07-25 16:35] #106 closed

[2019-07-25 16:38] thejacer87 commented on #99
+1 for #68

[2019-07-25 17:09] miguelpruivo commented on #99
@tolstenko desktop is already in progress, see discussion [here](https://github.com/go-flutter-desktop/go-flutter/issues/205#issuecomment-515034149).

[2019-07-25 22:52] stuartmorgan commented on #99
The discussion you linked to is about the go-flutter-desktop project. The Flutter desktop support that was requested in #85 specifically referred to [the Flutter project's in-development support for desktop](https://github.com/flutter/flutter/wiki/Desktop-shells) (which is probably what people referring to Flutter desktop are likely to mean unless they specifically mention a community project like

[2019-07-25 23:00] omuomugin commented on #114
Ok, I can understand that.
I will insert some dialog to choose file type instead.

[2019-07-26 00:39] miguelpruivo commented on #99
@stuartmorgan oh, right! Now I get why you were referring to _desktop-go_ instead of just _desktop_.

That’s great anyway, somehow I thought you were already developing a file picker for a desktop flutter shell and you’d want to merge it with this package.

[2019-07-26 03:03] gerryhigh opened #115 "Crash on Android selecting a PDF file"
I am using the file picker with type set to FileType.ANY on a Pixel 3. If I select a file of type PDF then I get a crash as shown below:

java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=33115, result=-1, data=Intent { dat=content://com.android.providers.downloads.documents/document/msf:2507 flg=0x1 }} to activity {}:
java.lang.NumberFormatException: For input str

[2019-07-26 04:55] stuartmorgan commented on #99
There is actually already [a file picker plugin for desktop Flutter](https://github.com/google/flutter-desktop-embedding/tree/master/plugins) (macOS and Linux so far, Windows to be implemented). It may actually become part of Flutter for desktop itself in the future, but in the meantime if someone wants to make (non-Go) desktop implementations of this plugin for API compatibility reasons it could

[2019-07-26 07:34] hey24sheep opened #116 "Deprecated code error on flutter build"
FilePicker have deprecated code error on latest flutter AndroidX build, I am using latest version 1.3.8 in my pubspec.

First deprecation error on
[code]

Second error on

[code]

[2019-07-26 08:57] miguelpruivo commented on #115
Hi,

What’s the target API of your app and also what’s the emulator version? Where are you trying to select the file (which folder)? Can you try with a different pdf a let me know if it works for you?

Thank you.

[2019-07-26 09:00] miguelpruivo commented on #116
Hi, thank you for pointing it out. Which API version are you targeting and also running on?

Nevertheless, it shouldn’t prevent its correct usage right now.

Thank you.

[2019-07-26 09:45] hey24sheep commented on #116
I was targeting 27 and I changed it to 28 and 29, I get error on all, usage is not a problem but deprecated code gives warnings which are treated as errors on CI-CD. Which causes build fails. I might fix it and create a pr for the same if I get the time.

[2019-07-26 11:56] gerryhigh commented on #115
Target API is 28. It is failing on my phone, not the emulator (my test on the emulator it worked fine as well). My phone is running Android Q B5. It appears to only crash when accessing certain PDF files. These files are in the downloads folder and were downloaded from the browser. I can open these files fine using the built-in viewer.

[2019-07-26 12:33] gerryhigh commented on #115
A few other notes. The crash is fatal and shuts down the VM and thus can't be wrapped in a try/catch. A few more lines of the logcat.

[code]

[2019-07-26 12:48] miguelpruivo commented on #115
Thank you for the details @gerryhigh, can you post the output of your `flutter doctor -v` with the running emulador (where the issue happens)?

Also, if you can give me with the steps to replicate it, it would be fine as it is quite hard to replicate some of these issues due to Android fragmentation.

Thank you.

[2019-07-26 17:29] gerryhigh commented on #115
Output:

`[√] Flutter (Channel master, v1.8.2-pre.181, on Microsoft Windows [Version 10.0.18362.239], locale en-US)
    • Flutter version 1.8.2-pre.181 at c:\projects\flutter
    • Framework revision c15cfdd6af (2 days ago), 2019-07-24 22:44:12 -0700
    • Engine revision 72341ed032
    • Dart version 2.5.0 (build 2.5.0-dev.1.0 0c97c31b6e)

[√] Android toolchain - develop for Android devices (Andr

[2019-07-29 18:31] bradyt commented on #40
I've started a plugin that allows writing to a .txt file from local or cloud storage, at https://github.com/bradyt/uri_picker/. Currently it is licensed for public domain, I hope that allows other plugins such as this one to add similar features.

[2019-07-29 23:57] miguelpruivo commented on #40
@bradyt thank you. You should be able to write/read any file with `file_picker`, however to write, typically you use the `File(path)` handler from there. But I can understand that for cloud files, this isn't currently supported and I strongly would like to add to it some of the requested features in #99, problem is I haven't had much time lately.

[2019-07-30 00:03] miguelpruivo commented on #113
Looks like you managed to solve it. Closing due to no further response.

[2019-07-30 00:03] #113 closed

[2019-07-30 00:18] bradyt commented on #40
I'm confused. So your stance is that when I write to the `File(path)`, that for example the contents of a file in the `Documents/` folder will update? I thought the file you're returning is only cached or in app memory. Not writing to the file shared at `Documents/` folder.

[2019-07-30 00:35] miguelpruivo commented on #40
@bradyt if you're picking a file from Documents folder or any other folder, and write directly into to exact same location, it should stay there. However, for some files, such as remote files (GDrive), it will be cached files, and in this particular scenario, you can't write directly in the same folder.

I've checked your implementation and you can allow it because you're writing it directly on th

[2019-07-30 00:46] bradyt commented on #40
This seems misleading.

You are using `ACTION_PICK` and `ACTION_GET_CONTENT`.

Reading from https://developer.android.com/guide/topics/providers/document-provider.

[2019-07-30 00:51] bradyt commented on #40
Ah, maybe you mean that you can get the content, then use a different means to write back to the original location, like some separate library that does share or export.

[2019-07-30 00:51] miguelpruivo commented on #40
@bradyt sure, the problem with the document provider, is that is only available after API 19, which somehow will remove the 100% coverage that the plugin currently has (starting with API 16). So that's the reason the `ACTION_GET_CONTENT` is being used instead and the path is then extracted from it based on its origin.

[2019-07-30 00:52] bradyt commented on #40
Yes, I agree, the version limitation, as well as getting things to work across platforms, especially to iOS, will take some thought. I hope that my efforts will help one of any of our packages in the ecosystem to take on more functionality.

[2019-07-30 00:55] bradyt commented on #40
I'm very confused by your use of cloud vs local. It really seems to conflict with what I've been trying to clarify.

[2019-07-30 00:55] miguelpruivo commented on #40
Yes, that's another thing that I value and want to keep as long as possible, a seamless experience across each platform, without having some features that works in one but not the other that would make the dev to be aware of such limitations and implement workarounds himself.

If it wasn't because of this, some features like picking only a directory (which Android supports but  I believe to be at

[2019-07-30 00:57] bradyt commented on #40
@miguelpruivo Can you tell me precisely which additional functionality your app provides in local files vs cloud files?

[2019-07-30 01:00] miguelpruivo commented on #40
@bradyt your assumption is correct, tl;dr:

I let the user pick a file locally, and then extract the absolute path from it so it can be manipulated with Dart directly, whenever it's possible.

When you pick a file from a Dropbox, GDrive, etc. you _must_ cache it in order to have a local file to work with. It can be confusing because you may expect to edit directly that file as you have a path, I a

[2019-07-30 01:20] bradyt commented on #40
Okay, I'll have to try it again soon. Thank you for clarifying.

[2019-07-30 07:19] dsourav opened #117 "Display the selected images"
hello i am getting multiple images from file picker and i want to show it to gridview any help will be helpful

[2019-07-30 08:00] dsourav opened #118 "limit the maximum selected file"
i want to add limit so that user can select according to the limit

[2019-08-01 08:21] timordu opened #120 "please fix this bug"
I/FilePicker(24101): [SingleFilePick] File URI:content://com.huawei.hidisk.fileprovider/root/storage/emulated/0/Android/data/com.android.family_bill/files/family_bill.backup
E/FilePickerUtils(24101): Getting for API 19 or abovecontent://com.huawei.hidisk.fileprovider/root/storage/emulated/0/Android/data/com.android.family_bill/files/family_bill.backup
E/FilePickerUtils(24101): NO DOCUMENT URI - CO

[2019-08-01 08:49] miguelpruivo commented on #120
Hi, how are you picking the file?  I need a few more details so I can help you.

Thank you.

[2019-08-01 09:36] timordu commented on #120
`File file = await FilePicker.getFile(type: FileType.ANY, fileExtension: 'backup');'

'String jsonStr = await file.readAsString();`

The above is my calling code. and  the phone is huawei nova youth (WAS-AL00),  android version is 8.0.0, emui version is 8.0.0 .

I wonder if the above information can help you.

[2019-08-01 09:54] miguelpruivo commented on #120
Would you mind to try on a different phone and see if still happens? (Or you can just drop the file in an emulator with version 8.0 and see if its working).

Thank you.

[2019-08-01 09:58] miguelpruivo commented on #118
Hi @dsourav, currently this is not possible according to the [docs](https://developer.android.com/reference/android/content/Intent.html#EXTRA_ALLOW_MULTIPLE).

Basically, there's only a `boolean` option that either allows the user to pick multiple files or not. You have to handle that limit on your end with something like showing the user an info regarding the limit and discarding the others.

Tha

[2019-08-01 09:58] #118 closed

[2019-08-01 10:00] miguelpruivo commented on #117
See [this example](https://flutter.dev/docs/cookbook/lists/grid-lists) from the Flutter cookbook. Instead of placing a `Text`, just place your `File.image(path)` there, where the path is the one retrieved from the plugin.

[2019-08-01 10:00] #117 closed

[2019-08-01 17:07] dsourav commented on #118
why are you closing the issue.Give some proper example.

[2019-08-01 17:15] miguelpruivo commented on #118
@dsourav there's no proper example to be given, I've explained in my previous answer that currently that is not possible due to Android API limitation.

[2019-08-01 17:15] miguelpruivo commented on #118
@dsourav there's no proper example to be given, I've explained in my previous answer that currently that is not possible due to an Android API limitation.

[2019-08-01 17:23] dsourav commented on #118
then i think the issue must not be closed.

[2019-08-01 17:51] miguelpruivo commented on #118
@dsourav this one should because it's something that native Android API is restricting. Leaving this open would feel that is something directly related to **_this_** plugin and that should be fixed by it, when it's not.

[2019-08-01 17:55] dsourav commented on #118
ok i got this. thanks for your contribution..

[2019-08-01 21:28] premtemp1 opened #121 "File picker default page"
Hello,
  The default landing page for the picker on iOS phones is iCloud and the local browser for android.. This seems to be the last page that visited

is there an option to have the landing page be be the main page for the browser that shows the user all the file picker option(dropbox , gdrive etc)

Thanks

[2019-08-01 22:51] miguelpruivo commented on #121
Hi @premtemp1, I’m afraid that this is not possible as it is automatically handled by the OS itself, after the intent is sent and based on the file extension filters.

[2019-08-02 01:24] timordu commented on #120
i try it on emulator and xiaomi mix 2s, it`s ok .  only on huawei nova youth report error,   maybe it's compatibility.

[2019-08-02 01:38] miguelpruivo commented on #120
@timordu, this are the kind of issues that are tough to follow, but I’ll try my best.

- Does the devices where it works fine, have the same android version?
- Did you use the exact same file?
- If the answers to the previous questions are both true, in the Huawei nova youth, does that happen with **_all_** files, or just that one?

Thank you.

[2019-08-05 06:29] Zeeshan0201 opened #122 "Dependency path 'android:app:unspecified' --> 'com.mr.flutter.plugin.filepicker:file_picker:1.0-SNAPSHOT' --> 'androidx.appcompat:appcompat:1.0.0-beta01'"
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:lintVitalRelease'.

     Required by:
         project :app

           Dependency path 'android:app:unspecified' --> 'com.mr.flutter.plugin.filepicker:file_picker:1.0-SNAPSHOT' --> 'androidx.appcompat:appcompat:1.0.0-beta01'
           Constraint path 'android:app:unspecified' --> 'androidx.appcompat:appc

[2019-08-05 06:31] Zeeshan0201 commented on #122
@miguelpruivo can you please check this? getting build error due to some of incompatibilities with file_picker..

[2019-08-05 07:51] miguelpruivo commented on #122
Looks like you don’t have Android X compatibility in your app. See [here](https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility)

[2019-08-05 07:55] Zeeshan0201 commented on #122
@miguelpruivo my app is compatible with Android X, I already checked that docs..

[2019-08-05 07:57] miguelpruivo commented on #122
What’s the minimum and target version of your Android app?

[2019-08-05 10:16] Zeeshan0201 commented on #122
@miguelpruivo   minSdkVersion 16, targetSdkVersion 28

[2019-08-05 10:18] Zeeshan0201 commented on #122
@miguelpruivo i am able to run and build debug app, only logs error came when i was trying to release build.

[2019-08-05 10:19] miguelpruivo commented on #122
@Zeeshan0201 that's odd. What's the copile version in the `build.gradle` as well?

[2019-08-05 10:21] Zeeshan0201 commented on #122
@miguelpruivo
![Screenshot from 2019-08-05 15-51-46](https://user-images.githubusercontent.com/45591301/62457681-f2ec5f80-b798-11e9-98a7-224408d23f94.png)

[2019-08-05 10:22] Zeeshan0201 commented on #122
and @miguelpruivo thanks for your quick response..

[2019-08-05 10:23] miguelpruivo commented on #122
@Zeeshan0201 not that `build.gradle`, the one in your app folder. 👍

[2019-08-05 10:24] Zeeshan0201 commented on #122
@miguelpruivo yes i edited it :smile:  **compileSdkVersion 28**

[2019-08-05 10:26] miguelpruivo commented on #122
Mind to `flutter clean` and `flutter build apk --release` again? That's somehow weird.

[2019-08-05 10:30] Zeeshan0201 commented on #122
@miguelpruivo it's taking time for build,will inform once it's complete.

[2019-08-05 10:31] Zeeshan0201 commented on #122
![Screenshot from 2019-08-05 16-00-49](https://user-images.githubusercontent.com/45591301/62458316-34c9d580-b79a-11e9-88d7-b82e714de3b9.png)
still coming :con]

[2019-08-05 10:42] miguelpruivo commented on #122
Can you please show me your `android/app/build.gradle`? You are showing the `android/build.gradle`.

[2019-08-05 10:48] Zeeshan0201 commented on #122
@miguelpruivo please check :arrow_up:

[2019-08-05 11:37] engdinesh opened #123 "Not opening Picker dailog"
I am getting this error :

I/FilePicker( 7260): Checking permission: android.permission.READ_EXTERNAL_STORAGE
I/FilePicker( 7260): Requesting permission: android.permission.READ_EXTERNAL_STORAGE

[2019-08-05 11:40] miguelpruivo commented on #122
Replace those two
[code]
 with one line only of
[code]

Also, I don't get why you have a `flutter` dependency there.

Make sure you `flutter clean` before building again, after these changes.

[2019-08-05 11:41] Zeeshan0201 commented on #122
@miguelpruivo okay,checking

[2019-08-05 11:43] miguelpruivo commented on #123
Hi @engdinesh you must give read external permissions (when the dialog pops) to access those file locations. If you've already dismissed it, you may have to uninstall/reinstall the app again for it to show up again.

Also, you can easily go to the app permission's settings and give the permission manually.

[2019-08-05 11:43] #121 closed

[2019-08-05 11:43] miguelpruivo commented on #120
Bumping this @timordu.

[2019-08-05 11:44] miguelpruivo commented on #116
@hey24sheep I'll take a look into it. Thank you.

[2019-08-05 11:48] Zeeshan0201 commented on #122
This is taking an unexpectedly long time. @miguelpruivo

[2019-08-05 11:49] Zeeshan0201 commented on #122
and yeah it's done without error :small_airplane:

[2019-08-05 11:49] Zeeshan0201 commented on #122
but slightly it's size increases, by the way thanks a lot ! :pray:  @miguelpruivo

[2019-08-05 11:51] #122 closed

[2019-08-05 11:52] miguelpruivo commented on #122
@Zeeshan0201 glad that it worked for you. As for the size itself, you must look to your dependencies and see which ones you really need to. You may not need that dependency at all, if you're not going to do unit tests for that Android project.

[2019-08-05 11:53] miguelpruivo commented on #122
@Zeeshan0201 glad that it worked for you. As for the size itself, you must look to your dependencies and see which ones you really need to. You may not need that dependency at all, if you're not going to run unit tests for that Android project.

[2019-08-06 06:53] hey24sheep commented on #116
@miguelpruivo Thank you so much. If you know the solution, let me know I will fix it. I need it in my prod environment.

[2019-08-09 11:50] YourksChan opened #124 "ld: library not found for -lfile_picker"

[2019-08-09 11:55] miguelpruivo commented on #124
I need more details on this... thank you.

[2019-08-09 11:56] miguelpruivo commented on #120
Closing since no further information was given. Feel free to reopen if the problem is still on. Thank you.

[2019-08-09 11:56] #120 closed

[2019-08-09 12:20] YourksChan commented on #124
`
Showing Recent Messages
Ld /Users/yourks/Library/Developer/Xcode/DerivedData/Runner-biktrvawzdnbbscsigvkpphrbadd/ArchiveIntermediates/Runner/IntermediateBuildFilesPath/Runner.build/Release-iphoneos/Runner.build/Objects-normal/arm64/Runner normal arm64 (in target: Runner)
    cd /Users/yourks/AndroidStudioProjects/flutter_build_ios_err/ios
    export IPHONEOS_DEPLOYMENT_TARGET=8.0
    /Applicatio

[2019-08-09 12:21] YourksChan commented on #124
Flutter 1.8.5-pre.96 • channel master • https://github.com/flutter/flutter.git
Framework • revision 2368b9657b (7 hours ago) • 2019-08-09 01:27:36 -0400
Engine • revision dd735c9179
Tools • Dart 2.5.0 (build 2.5.0-dev.1.0 f29f41f1a5)

[2019-08-09 12:21] YourksChan commented on #124
pod --version
1.7.5

[2019-08-09 12:21] YourksChan commented on #124
Xcode 10.2.1
Build version 10E1001

[2019-08-09 12:22] YourksChan commented on #124
I just create a flutter project, import the file_picker plugin, and package the ipa

[2019-08-09 12:25] miguelpruivo commented on #124
How are you adding the plugin to your project? Can you show me?

[2019-08-09 12:29] YourksChan commented on #124
<img width="1183" alt="image" src="https://user-images.githubusercontent.com/50285055/62778961-6e754600-bae4-11e9-98fd-0bae1739a6cd.png">

[2019-08-09 12:34] miguelpruivo commented on #124
Ok, that looks correct. Mind to `flutter clean` and `flutter build ios` in the console?

[2019-08-09 12:36] YourksChan commented on #124
flutter build ios Is the right.

But I want to generate a.ipa file because I don't know how to distribute the.app

[2019-08-09 12:37] miguelpruivo commented on #124
What if you do `flutter build ios --release`? It will create the .ipa file you're looking for.

[2019-08-09 12:39] YourksChan commented on #124
<img width="712" alt="image" src="https://user-images.githubusercontent.com/50285055/62779414-bfd20500-bae5-11e9-9f3a-c2841becd4bb.png">

It's a.app..

[2019-08-09 12:41] miguelpruivo commented on #124
You need to archive after that. You may be doing something wrong while archiving.

[2019-08-09 12:42] YourksChan commented on #124
May I have your contact information?
I don't know how to solve this problem at present..

[2019-08-09 13:10] miguelpruivo commented on #124
Make sure you are archiving in the generic emulator selected.

[2019-08-09 13:37] miguelpruivo commented on #123
Is this solved @engdinesh ?

[2019-08-09 15:37] thomasycf opened #125 "Android - got ClassCastException from checkPermission() and requestPermission()"
I got below error when I tried to call FilePicker.getFilePath().
java.lang.ClassCastException: com.example.pick_video.MainActivity cannot be cast to androidx.appcompat.app.AppCompatActivity

When I stack trace the AppCompatActivity object in these 2 function- checkPermission() and requestPermission(), both return NullPointerException.

So I changed the activity object type from AppCompatActivity t

[2019-08-09 15:38] miguelpruivo commented on #125
Yes, you need to have full Android X support as mentioned [here](https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility).

[2019-08-09 15:48] thomasycf commented on #125
Thanks very much for prompt reply

[2019-08-10 04:57] prasant10050 opened #126 "File 0:null"
I am using this plugin and m getting issue when i pick any file or files from Download section of File explorer in Nokia 5.1 plus handset but when i m picking image or images from gallery it's working fine.
I am attaching my console when i pick file from Download.
Min SDK version : 19
Compile and Target SDK version : 28

-----------------------------------------------------------------------------

[2019-08-10 06:23] prasant10050 commented on #62
I m facing this issue again

java.lang.IllegalArgumentException: Unknown URI: content://downloads/public_downloads/335
E/FilePickerUtils(14128): Something went wrong while retrieving document path: java.lang.SecurityException: Permission Denial: reading com.android.providers.downloads.DownloadProvider uri content://downloads/all_downloads/335 from pid=14128, uid=10330 requires android.permission.A

[2019-08-10 11:37] #125 closed

[2019-08-10 11:39] miguelpruivo commented on #124
I'm closing this since it is out of the plugin's scope. Feel free to keep the discussion on if you still have any _offtopic_ question related to this.

[2019-08-10 11:39] #124 closed

[2019-08-22 00:22] wreppun commented on #120
I just got a similar StackTrace on a chromebook HP x360 `Android 7.1.1 (API 25)`:

[code]

A quick google of the exception turned up this post on stackoverflow:
https://stackoverflow.com/questions/42508383/illegalargumentexception-column-data-does-not-exist/42508921

It recommends using a `ContentResolver -> InputStream` instead of a `ContentResolver -> Cursor`

[2019-08-22 07:34] kleyos opened #127 "Dialog is opened two times and requires android.permission.ACCESS_ALL_DOWNLOADS"
When I try to pick the document I can see in console the messagesI
[code]
I've already granted all permissions
`    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS"/>
`
And I can pick the file from the second time only

[2019-08-22 08:03] miguelpruivo commented on #127
Hi. This is a known issue that I’m looking into.

Interesting that it works at the second time for you. What if you remove the access all downloads permission, does it work? Can you post your flutter doctor for that issue? I need more details of the device’s Android version and model.

Thank you.

[2019-08-22 08:29] kleyos commented on #127
@miguelpruivo Hi. it works without ACCESS_ALL_DOWNLOADS. I added it because supposed it will work normally. but this permission does not affect.
![photo_2019-08-22 11 28 41](https://user-images.githubusercontent.com/20066108/63499243-271d8b00-c4d0-11e9-8959-bf0aa90b3701.jpeg)

[2019-08-22 08:42] miguelpruivo commented on #127
Does that happen in a simulator too or only a real device?

[2019-08-24 01:09] NewITCorp commented on #99
+1 for Picking directory please

[2019-08-24 05:58] m7mdra commented on #115
same error here, pdf files causes a crash in android.

[2019-08-24 06:05] miguelpruivo commented on #115
@m7mdra in which device? There are some device/version specific issues that have been very hard to replicate so they can be fixed.

Thank you.

[2019-08-24 06:14] m7mdra commented on #115
@miguelpruivo
im using pixle running android Q, i think that might be the problem.
its working fine in a real device but not when using emulator.
Thanks.

[2019-08-24 06:20] m7mdra commented on #115
After testing on android P i can confirm its working fine.
 thanks for the good job

[2019-08-24 06:56] miguelpruivo commented on #115
@m7mdra usually I can’t replicate this issue on an emulator as it typically happens on real devices. If you are able to reproduce this issue on an emulator, would you mind to fully post your logs and the output of your `flutter doctor -v` with that emulator on?

Thank you!

[2019-08-24 10:50] kleyos commented on #127
On the simulator the same. I noticed picker opens modal dialog twice. That's why I have to pick file two times

[2019-08-24 11:19] m7mdra commented on #115
@miguelpruivo for unobvious reason restarting the emulator fixed the bug, i tried to reproudced it but it worked so i guess its all good.

Thanks for following up.

[2019-08-27 11:03] Zeeshan0201 opened #128 "How can i get multiple file object ?"

[2019-08-27 11:56] miguelpruivo commented on #128
You don’t, but the `getFile` is just a helper method that wraps the picked path into a `File(path)`. Nothing else. So you can iterate for all the path values that you get from the `getMultiPath` and populate a `List<File>` yourself.

[2019-08-27 12:29] Zeeshan0201 commented on #128
@miguelpruivo I need to copy multiple files into getApplicationDocumentsDirectory as I did for the single file using `getFile` Method like this  ` await file.copy('$savedDir/$fileName');` but now not able to copy multiple files just because I am getting paths instead of files...

[2019-08-27 13:03] miguelpruivo commented on #128
You need to create a `File()` with the path for each path, as such: `File(path)`

[2019-08-27 13:04] Zeeshan0201 commented on #128
@miguelpruivo okay trying with it!

[2019-08-27 14:54] adlucio87 opened #129 "SetState Conflict"
Hi,

i'm using this plugin in my app and it is amazing. thanks for your work.

I'have an issue, i am not sure if i cause this issue with my code or is this plugin that cause it.
My issue is relative on setstate command for rebuilding ui.

After reciving file path:
filepath = await FilePicker.getFilePath
i need to process file and i like to make a loading animation.
so i use setstate but it does'nt

[2019-08-27 15:53] miguelpruivo commented on #129
Hi!

This _probably_ has nothing to do with the plugin itself, but it’s ok to help you anyway.

Your file picking step is ok, then, I assume that you’ll do some kind of processing, in which you should be using some kind of animation. That should be possible, but just make sure that you aren’t calling setState when your widget tree is rebuilding.

[2019-08-27 18:05] adlucio87 commented on #129
Hi,
thanks for your quickly reply, it was my issue. I solve it :)
Sorry but i am nubie in flutter, i call asyn process method without waiting so setstate update and reupdate interface too quik.
thanks
Andrea

[2019-08-27 18:05] #129 closed

[2019-08-28 07:44] manhnt79 opened #130 "Pick file from cloud"
I pick file from google drive ( about 40Mb). App does not response with black screen until file download complete.

[2019-08-28 10:29] lifenautjoe commented on #83
Yes please!

Tested all these packages

-     https://pub.dev/packages/photo_manager
-     https://pub.dev/packages/photo
-     https://pub.dartlang.org/packages/multi_image_picker
-     https://pub.dartlang.org/packages/flutter_multiple_image_picker
-     https://pub.dartlang.org/packages/custom_multi_image_picker
-     https://pub.dartlang.org/packages/multiple_image_picker

None of them support

[2019-08-28 10:35] miguelpruivo commented on #130
Yes. That’s a known issue. Because it’s a blocking action that runs on the UI thread. I’ll try to see if there’s anything that can be done here.

[2019-08-28 10:35] #128 closed

[2019-08-28 10:37] miguelpruivo commented on #83
@lifenautjoe none of those support it? They look like they’re exactly what you’re looking for. 👀

Anyway, this is a requested feature that might be implemented in the feature.

[2019-08-28 10:39] lifenautjoe commented on #83
None of them do, the only one that I could have used to build my own multi image picker: https://pub.dev/packages/photo_manager , has a critical memory management bug ... Could you provide some orientation into how would you build this?

Perhaps I can give it a try, not really an iOS dev though 😬

[2019-08-28 17:53] miguelpruivo commented on #123
Closing this to no further details. Feel free to reopen if the problem still persists.

[2019-08-28 17:53] #123 closed

[2019-08-28 19:06] nousath opened #131 "Black Screen"
Select large size of files comes black screen and late response

[2019-08-28 19:35] miguelpruivo commented on #131
This is a dup of #130. I’ll take a look into this.

[2019-08-29 05:32] nousath commented on #131
okay

[2019-08-29 17:37] miguelpruivo commented on #131
I'm already working on a solution for this, feel free to follow #130 to keep updated. Thank you.

[2019-08-29 17:37] #131 closed

[2019-08-29 17:38] miguelpruivo commented on #127
Hi, I can't replicate the dialog opening twice, can you tell me the steps to reproduce this? It only seems to open once for me, as it should.

[2019-08-29 17:38] miguelpruivo commented on #126
@prasant10050 what kind of file are you picking? Does this happen to all kind of files? Thank you.

[2019-08-29 17:46] miguelpruivo commented on #128
Hi, just to let you know that in the next release there will be a `getMultiFile` method that will do that work for you, based on your suggestion.

Thank you.

[2019-08-29 17:52] Zeeshan0201 commented on #128
@miguelpruivo haha, thanks a lot ! 😊

[2019-08-29 19:20] miguelpruivo commented on #128
@Zeeshan0201 done, can you check the `beta` branch on your project and see if its working for your needs? Replace in the pubspec.yaml like so:
[code]

[2019-08-29 19:21] miguelpruivo commented on #130
This should be fixed right now in the `1.4.0` that is yet on `beta`. Could you please try replacing in your **pubspec.yaml** like so:
[code]
and let me know if it's working for you?

Thank you.

[2019-08-29 19:22] miguelpruivo commented on #116
@hey24sheep this should be fixed right now in the `1.4.0` that is yet on `beta`. Could you please try replacing in your **pubspec.yaml** like so:
[code]
and let me know if it's working for you?

Thank you.

[2019-08-29 19:22] Zeeshan0201 commented on #128
@miguelpruivo great ! Will try and respond 👍

[2019-08-29 19:22] miguelpruivo commented on #115
@gerryhigh this should be fixed right now in the `1.4.0` that is yet on `beta`. Could you please try replacing in your pubspec.yaml like so:
[code]
and let me know if it's working for you?

Thank you.

[2019-08-30 05:16] Zeeshan0201 commented on #128
@miguelpruivo it's working awesome :+1: ready for release new version :rocket:

[2019-08-30 05:31] nousath opened #133 "If Possible"
Size Restrictions and comma separator format selection

[2019-08-30 05:33] stuartmorgan commented on #99
Just to re-iterate from my comment above: you've marked #85 as done in the checklist, but what was landed in the recent PR is not what was requested in #85.

[2019-08-30 08:56] miguelpruivo commented on #99
Yes I’m aware of that @stuartmorgan. It’s not the flutter desktop but it’s a desktop implementation anyway, that’s why in the details it is mentioned that is done through go-flutter.

[2019-08-30 09:36] miguelpruivo commented on #133
Multiple format selection can actually be possible and there is feature request for it in the [SuggestiionBox)[#99]. Size restrictions can't be done seamless on both platforms and as of now, should be handled by the user in the app side.

 Thank you.

[2019-08-30 09:36] #133 closed

[2019-08-30 09:38] #114 closed

[2019-08-30 21:28] stuartmorgan commented on #99
So does that mean #85 is a wont-fix?

[2019-08-30 22:42] miguelpruivo commented on #99
@stuartmorgan I got you. No, it isn’t. It might be implemented anyway, but fortunately now we’ve a good desktop solution.

[2019-08-31 14:14] #107 closed

[2019-08-31 14:34] miguelpruivo commented on #107
[Version 1.4.0](https://pub.dev/packages/file_picker#140) published with these changes. Thank you for your contribution. 🎉

[2019-08-31 14:34] miguelpruivo commented on #107
@Dancovich [version 1.4.0](https://pub.dev/packages/file_picker#140) published with these changes. Thank you for your contribution. 🎉

[2019-08-31 14:37] miguelpruivo commented on #115
[Version 1.4.0](https://pub.dev/packages/file_picker#140) published with these changes. Thank you for reporting. 🎉

[2019-08-31 14:37] #115 closed

[2019-08-31 15:18] miguelpruivo commented on #116
[Version 1.4.0](https://pub.dev/packages/file_picker#140) published with a fix for this. Thank you for reporting. 🎉

[2019-08-31 15:18] #116 closed

[2019-08-31 15:19] miguelpruivo commented on #130
[Version 1.4.0](https://pub.dev/packages/file_picker#140) published with a fix for this. Thank you for reporting. 🎉

[2019-08-31 15:19] #130 closed

[2019-08-31 15:25] miguelpruivo commented on #83
This could be implemented in the future, but currently it will have to wait as I don't have much time right now for it. 😞  I'm closing this because it is already mentioned in the #99.

[2019-08-31 15:25] #83 closed

[2019-09-01 07:16] kleyos commented on #127
For example, I press a button to pick a file and don't pick it, just press the back button. I have to press two times because two dialogs are opened

[2019-09-01 10:57] miguelpruivo commented on #127
@kleyos yesterday `1.4.0` was released with some Android improvements, could you please give it a try and see if it has fixed that for you? Thank you.

[2019-09-01 13:31] kleyos commented on #127
HI. the same behavior. Just other messages
`I/FilePicker(17864): [SingleFilePick] File URI:content://com.android.providers.downloads.documents/document/4905
E/FilePickerUtils(17864): Getting for API 19 or abovecontent://com.android.providers.downloads.documents/document/4905
E/FilePickerUtils(17864): Document URI
E/FilePickerUtils(17864): Downloads External Document URI
D/DecorView(17864): onWindo

[2019-09-01 13:31] kleyos commented on #127
android.permission.READ_EXTERNAL_STORAGE  are granted

[2019-09-01 15:15] miguelpruivo commented on #127
Yes, if you hadn’t the permission, it would fail on picking the file at all.

Anyway, could you please try with a different emulator? It might be on your implementation side as this seems to happen only with you, so far. Are you awaiting for the picker to pick the file or registering a callback?

[2019-09-01 15:39] kleyos commented on #127
As far as I got it is the problem of Android 9. for lower versions works correctly.

[2019-09-01 15:40] kleyos commented on #127
[how_it_works.zip](https://github.com/miguelpruivo/flutter_file_picker/files/3563660/how_it_works.zip)
here the video

[2019-09-01 17:16] miguelpruivo commented on #127
@kleyos thank you. That's odd. Could you try with the example app provided with the plugin? Because I can't really seem to be able to replicate that, it can be something related to the custom rom (Oxygen) used in the OPO phones.

[2019-09-01 19:57] RenanDelfanti opened #135 "[Erro] Cannot retrieve length of file"
Hello, after upgrading to new version (1.4.0), I have the following problem on android via emulator:
I / flutter (17036): The following FileSystemException was thrown building:
I / flutter (17036): Cannot retrieve length of file, path =
I / flutter (17036): '/storage/emulated/0/Android/data/br.com.xdlabs.ptme/files/DCIM/Camera/IMG_20190723_002054.jpg' (OS Error: No
I / flutter (17036): such file o

[2019-09-01 19:59] miguelpruivo commented on #135
@RenanDelfanti does that happen only that file?

[2019-09-01 20:17] RenanDelfanti commented on #135
@miguelpruivo no. All files I have test has the same Exception.
More Example:
I/flutter (31859): Cannot retrieve length of file, path =
I/flutter (31859): '/storage/emulated/0/Android/data/br.com.xdlabs.ptme/files/Download/5e7e88e9-f93f-4932.jpg' (OS
I/flutter (31859): Error: No such file or directory, errno = 2)

[2019-09-01 20:31] miguelpruivo commented on #135
@RenanDelfanti can you post the output of your `flutter doctor -v` with that simulator open? Thank you.

[2019-09-01 21:20] RenanDelfanti commented on #135
Complete stack:

E/FilePickerUtils( 6037): External Document URI
E/FilePickerUtils( 6037): Primary External Document URI
I/FilePicker( 6037): Absolute file path:/storage/emulated/0/Android/data/br.com.xdlabs.ptme/files/Download/5e7e88e9-f93f-4932.jpg
D/EGL_emulation( 6037): eglCreateContext: 0xcd3c3f00: maj 3 min 0 rcv 3
D/EGL_emulation( 6037): eglMakeCurrent: 0xcd3c3f00: ver 3 0 (tinfo 0xe8846250

[2019-09-01 21:39] miguelpruivo commented on #135
@RenanDelfanti thank you, also, could you provide me with the steps to reproduce the issue? (which filter are you applying and from which folder are you picking the file).

Does that happen with _all_ folders?

[2019-09-01 21:39] RenanDelfanti commented on #135
I have tested on real device, and same issue occorred. I upload gif example here with step to reproduce this error : https://www.dropbox.com/s/jk4isocfx7mk26o/example.gif?dl=0

[2019-09-01 21:42] RenanDelfanti commented on #135
Code:
`file = await FilePicker.getFile(type: FileType.ANY);
int sizeInBytes = file .lengthSync();`

[2019-09-01 21:45] miguelpruivo commented on #135
@RenanDelfanti the .gif is static, doesn't animate. Perhaps you may want to record it again. Also, by looking at your code, looks like the exception is coming from the second line `file.lenghtSync()` that fails, not actually from the picker.

Anyhow, if you try with the  `file_picker: 1.3.8`, it works?

[2019-09-01 21:49] RenanDelfanti commented on #135
@miguelpruivo I just saw that dropbox is static, but when it downloads it works. I tested it on 1.3.8 and it works fine.
Yes, the error is on the second line, when I will test read the file size.
But this error only happens when I select internal storage, as I showed in gif

[2019-09-01 21:50] miguelpruivo commented on #135
So that means that it works when you select external storage? That's an odd behavior. You can drag & drop the gif here and it should work.

[2019-09-01 21:56] RenanDelfanti commented on #135
Wow, I didn't know you could put the gif here:
![example](https://user-images.githubusercontent.com/8375899/64082734-22d04980-ccea-11e9-9c7b-6233ce95a0b4.gif)

[2019-09-01 22:17] miguelpruivo commented on #135
@RenanDelfanti what if you chose from SDCard?

[2019-09-01 22:26] RenanDelfanti commented on #135
@miguelpruivo From SDCard works normaly.

[2019-09-02 01:38] miguelpruivo commented on #135
@RenanDelfanti just found what might be causing the issue, but it's not quite easy to replicate and there are a few emulators that don't even allow access to the internal storage.

Anyway, I'll see what I can do tomorrow and keep you updated. Thank you!

[2019-09-02 01:47] RenanDelfanti commented on #135
@miguelpruivo thank you very much! Just remembering, the same error occurred to me on a real device (Galaxy S7) Android 8.0.

[2019-09-02 01:54] miguelpruivo commented on #135
Yes, that’s because I’ve updated some API calls to remove the Android 10 (API 29) deprecation warnings, however for internal storage paths, they’re not being properly retrieved, so as of now, if you really need to be able to pick internal files just stick with `1.3.8`.

Nevertheless I hope to have a solution by tomorrow.

[2019-09-02 10:54] miguelpruivo commented on #135
@RenanDelfanti could you please `flutter clean` and replace your `file_picker` dependency to point to the `beta` branch and see if it is working for you?
[code]

[2019-09-02 11:16] RenanDelfanti commented on #135
@miguelpruivo works for me

[2019-09-02 12:23] miguelpruivo commented on #135
@RenanDelfanti just deployed the [1.4.0+1](https://pub.dev/packages/file_picker#-changelog-tab-) on the pub.dev. You should be able to use it right now normally (`file_picker: ^1.4.0+1`). Feel free to reopen this if you still find anything related to it.

Thank you for reporting!

[2019-09-02 12:23] #135 closed

[2019-09-02 13:51] miguelpruivo commented on #127
Any news on this @kleyos? 🙂

[2019-09-03 06:28] hey24sheep commented on #116
@miguelpruivo  Thank you so much

[2019-09-04 10:31] duzenko commented on #99
Would it be too much work to obtain mime/contentType for image files? I need it for file uploads and I was told FileInput in web browsers does it out of the box.

[2019-09-04 12:44] lifenautjoe opened #137 "[FilePicker] Platform exception: PlatformException(file_picker_error, Temporary file could not be created, null)"
On iOS, when calling

[code]

And picking [this file](https://srv-file7.gofile.io/download/Cjc1Vn/ag5veE6_460svh265.MP4) from my gallery, the library crashes with

[code]

Strangely, when picking different files, it works... So might only be related to this one, in which case I would expect a different file specific error.

[2019-09-04 12:48] miguelpruivo commented on #137
Hi @lifenautjoe , you are opening a issue in `file_picker` but proving `image_picker` code (which is a different plugin).

However, your stacktrace actually has a `file_picker`. I can't even open the file with the link you've provided. Nevertheless, if that happens only with that file, that might be due some file restriction (DRM protected, corrupted, etc.) and that's why a generic error is thrown

[2019-09-08 08:31] daviddSafeguard commented on #99
could  type not be just one type or any ?
for example if i want the user will pick only from png & jpeg files...

[2019-09-08 09:39] miguelpruivo commented on #99
@davidSafeguard yes, that’s already listed in the suggestions as custom rules (#77). Thank you!

[2019-09-08 13:02] whigger85 commented on #68
It would be great to define multiple file extensions in combination with the "FileType.CUSTOM" parameter when selecting a single file. Of course you can check the selected file type afterwards, but it would be a better user experience if the user wouldn't even be able to select an unsupported file type in the first place.

[2019-09-08 13:19] miguelpruivo commented on #68
@whigger85 thank you for the input, it surely will be added in a future update if possible.

[2019-09-11 10:19] #137 closed

[2019-09-11 10:20] miguelpruivo commented on #137
Closing as more details are required in order to further investigate this. Feel free to reopen if you still have an issue.

Thank you.

[2019-09-13 18:13] sulaysumaria commented on #126
@miguelpruivo , I am also facing similar issue..... I use following code to pick multiple images:

[code]

it returns me
[code]

I am selecting multiple photos from Google Photos App but it seems to select only last photo I selected... I also got following logs:
[code]

It appears the name of files is not coming properly when the file is stored in cache by device... Thus, it replaces the files, sa

[2019-09-13 18:52] miguelpruivo commented on #126
Yes, I’m aware of this issue already. As soon as I have sometime I’ll try to fix it. It looks like this happens only when picking from Google Photos.

Thank you for your feedback.

[2019-09-13 18:54] sulaysumaria commented on #126
Do you know any workaround for this?

[2019-09-13 19:27] sulaysumaria commented on #126
That would be great.... Thanks...

[2019-09-17 09:15] #126 closed

[2019-09-17 09:25] miguelpruivo commented on #126
Just to let you know that a fix for this was landed today with [1.4.1](https://pub.dev/packages/file_picker#-changelog-tab-) on pub.dev.

FYI, the name was being set to `null` for every Google Photo due to a name resolution fail, but the file should work anyway, even if the name of the file in the URI was set to `null`). Anyhow, this, of course, wouldn't provide a good readable solution and wouldn

[2019-09-17 09:25] miguelpruivo commented on #126
@prasant10050 @sulaysumaria just to let you know that a fix for this was landed today with [1.4.1](https://pub.dev/packages/file_picker#-changelog-tab-) on pub.dev.

FYI, the name was being set to `null` for every Google Photo due to a name resolution fail, but the file should work anyway, even if the name of the file in the URI was set to `null`). Anyhow, this, of course, wouldn't provide a good

[2019-09-17 09:26] miguelpruivo commented on #126
@prasant10050 @sulaysumaria just to let you know that a fix for this was landed today with [1.4.1](https://pub.dev/packages/file_picker#-changelog-tab-) on pub.dev.

FYI, the name was being set to `null` for every Google Photo due to a name resolution fail, but the file should work anyway, even if the name of the file in the URI was set to `null`). Anyhow, this, of course, wouldn't provide a good

[2019-09-17 09:40] YourksChan opened #140 "hover run err"
go: github.com/miguelpruivo/plugins_flutter_file_picker/go@v0.0.0-20190903230439-02b11efd14f4 requires
        github.com/go-flutter-desktop/go-flutter@v0.27.0 requires
        github.com/go-gl/glfw@v0.0.0-20190519095719-e6da0acd62b1: invalid pseudo-version: does not match version-control timestamp (2019-04-09T00:40:39Z)
Go build failed: exit status 1

[2019-09-19 10:22] kinex commented on #28
There are still issues in `FileUtils.java / getUriFromRemote`, it leaks memory and file handles. Here is sample how to do it correctly:
[code]

[2019-09-19 14:30] Robert3141 commented on #99
I want to help implement web support. Where do I start?

[2019-09-19 15:12] miguelpruivo commented on #99
@Robert3141 I'm afraid you can't at the moment because there is no support for calling underlying platform plugins for the Flutter Web at the moment and you actually need it. Unless something changed that I could have missed.

[2019-09-19 15:35] Fluics commented on #126
@miguelpruivo We have similar issue with any file (tested on downloaded from web pdf -> pick from downloads), but only reproduced on one phone type: Umidigi A3 with Android 8.1 and with 9.0.  Any suggestions? Thank you!

`I/FilePickerUtils(32449): File loaded and cached at:/data/user/0/com.app/cache/8454
I/FilePicker(32449): Absolute file path:/data/user/0/com.app/cache/8454`

[2019-09-19 15:48] miguelpruivo commented on #126
@Fluics to me that looks ok:  `Absolute file path:/data/user/0/com.app/cache/8454`

That happens because somehow the file can't be handled in some other way (due to custom ROM, protection, etc.) and it's copied and cached temporary and given a random id name (8454). But you should not have any issue on loading it. When it happen only in one or two device brands, always suspect from the ROM, specia

[2019-09-19 15:55] Fluics commented on #126
@miguelpruivo but other apps (e.g. slack) do not have any problems with this file. Is there any possibility to get the real name?

[2019-09-19 16:01] miguelpruivo commented on #126
@Fluics that's odd. Probably because Slack is using a content provider to handle the file which the file picker is not (because otherwise it would have to handle the files in a completely different way). Could you post the full log? Are you picking the file in the exact same way with Slack?

[2019-09-19 16:20] Fluics commented on #126
@miguelpruivo file picker is the same. One more detail. If I pick an image - filename is preserved. Here are both cases: image at first, then pdf
Gist: https://gist.github.com/7e8d786be199b2780af659da8ed807aa

same below
`
2019-09-19 18:09:06.315 32449-32449/com.fluics.dev I/FilePicker: Checking permission: android.permission.READ_EXTERNAL_STORAGE
2019-09-19 18:09:14.145 32449-5980/com.fluics.dev

[2019-09-19 16:45] miguelpruivo commented on #126
@Fluics move that file to other folder and pick it from there, does the problem still happen?

[2019-09-19 16:54] Fluics commented on #126
@miguelpruivo Ha! This works! But this is for advanced users - I need to enable "Show internal storage" at first. Any ideas to get working from "Downloads"?

[code]

[2019-09-19 19:30] yegor-pelykh commented on #99
I need support for network drives (local network) and ftp/http locations for files.
Especially network drives.

[2019-09-19 23:22] miguelpruivo commented on #126
I’ll take a look as soon as I’ve some time to further investigate this. It would be easier if I could just use Content Provider to handle all files on Android devices, however that would force the dev to handle virtual uris and not actually the absolute path and it wouldn’t be possible to use it as a `File` object on Dart side.

[2019-09-20 10:21] pcegarra commented on #24
Maybe the filetype should be an array of files types.

[2019-09-20 13:58] lifenautjoe opened #141 "[iOS 13] Videos can't be picked from gallery"
Apart from some videos not being able to be picked as noted in #137 , now when deploying to iOS TestFlight, no video is able to be picked with the following exception thrown.

This would imply the plugin does not work on iOS entirely for picking videos.

Images work fine.

I've tried over 10 different videos with the same error.

[code]

[2019-09-20 14:04] lifenautjoe commented on #141
Oof.. think I might have figured out why.. Sorry for the eager reporting. Will close and reopen if still an issue after changing something.

[2019-09-20 17:49] miguelpruivo commented on #24
@pcegarra yes, that’s one of the upcoming requested features.

[2019-09-21 11:05] lifenautjoe commented on #141
Did some more digging. Wasn't related to trying to copy the file which I thought it was.

The picked video file is for some reason not allowed to be read.

[code]

I did update my phone yesterday to iOS 13, so perhaps related?

[2019-09-21 11:07] miguelpruivo commented on #141
@lifenautjoe yes, there could be some issues related with iOS 13 because I've found a few also with `image_picker` that throws an error exactly when trying to pick a video from the gallery (the procedure is the same). However, I'm not able to pick _any_ video with iOS 13 right now from gallery. Does that happen as well to you?

I'll leave this open until I deploy a fix for it. It shouldn't take lo

[2019-09-21 11:15] lifenautjoe commented on #141
Yep, same issue here, can't pick any videos. Was breaking my head over it. Thanks for letting me know you've also spotted it and even better to know you're on it!

If you have a buy me a coffee page we would be happy to send you some coffees your way!

Thanks!

[2019-09-21 12:21] miguelpruivo commented on #141
Ahah thank you @lifenautjoe, good point. I definitely need some coffee, must add one button for it. ☕️

I’ll keep you updated.

[2019-09-21 17:30] jesusrp98 opened #142 "Current desktop support"
I saw that this plugin currently supports desktop via `go-flutter`.

My question is, does that mean that the package doesn't support the `flutter-desktop-embedded` implementation?

[2019-09-21 17:32] miguelpruivo commented on #142
That's correct @jesusrp98. Go Flutter is an alternative to Flutter Desktop that also provides a seamless desktop experience while making it easier to use native calls (because of the Go abstraction) for plugins such as this one.

[2019-09-21 18:02] jesusrp98 commented on #142
The thing is, `flutter-desktop-embedded` has been integrated into the main Flutter repo.

Wouldn't be better if the plugin would work with the 'official' desktop implementation in Flutter? How hard would it be?
Look [here](https://github.com/flutter/flutter/wiki/Desktop-shells) if you want to take a deeper look at it.

[2019-09-22 10:39] miguelpruivo commented on #127
I'm closing this since there's no further information from you @kleyos. Feel free to reopen if this is still an issue for you.

Thank you.

[2019-09-22 10:39] #127 closed

[2019-09-22 10:42] miguelpruivo commented on #140
@GeertJohan do you know what it might be? Thank you.

[2019-09-22 10:48] miguelpruivo commented on #142
@jesusrp98 yes, I'm aware of that, the thing is that you need to add support for each single platform (Mac/Windows/Linux) native platform calls for this to work, it's not an easy task and you'll need to run and develop under the 3 platforms. Go-Flutter just uses the Flutter engine and makes this kind of tasks easier.

You can check more details about it [here](https://github.com/go-flutter-desktop

[2019-09-22 12:44] miguelpruivo commented on #141
@lifenautjoe oddly when running now, after updating Xcode, without changing anything, it picks videos just fine. Looks like a build issue, actually. Have you tried to build with latest public Xcode version?

[2019-09-22 12:45] lifenautjoe commented on #141
I'll give it a go. I tried running it under the beta version unsuccessfully. You have that one or did you receive an update for XCode to support iOS 13? 🤔

[2019-09-22 13:06] miguelpruivo commented on #141
@lifenautjoe I'm not on any beta version. My Xcode just received an update (check your AppStore) to version 11.0 which has iOS 13 support.

[2019-09-22 15:05] miguelpruivo commented on #141
Let me know if it worked for you after updating @lifenautjoe.

[2019-09-22 18:55] lifenautjoe commented on #141
Hi Miguel,

I've updated to XCode 11. Apart from not being able to build the app with `flutter run` due to https://github.com/flutter/flutter/issues/37699 , I am still not to pick any video.

[2019-09-22 19:12] lifenautjoe commented on #141
Update: Upgraded flutter to master where the previously mentioned issue was fixed. Launched it with `flutter run` still get the same error.

[2019-09-22 19:14] miguelpruivo commented on #141
@lifenautjoe does that happen only with a real device, simulator or both? It seems that with simulator (running iOS 13 as well) it runs just fine. Could you please check that?

[2019-09-22 19:20] lifenautjoe commented on #141
Testing it now but can't seem to find a way to get a video onto the simulator to pick.

[2019-09-22 19:21] miguelpruivo commented on #141
@lifenautjoe just drag & drop the file into it. 😄

[2019-09-22 19:24] lifenautjoe commented on #141
Ah... so simple 🤦‍♂ .

I've tried now and freezes on the "Compressing video" message after picking an item on the simulator.

[2019-09-22 19:26] miguelpruivo commented on #141
@lifenautjoe hum... that's weird. Could you please try with a small video just to make sure? It's always harder when I can't replicate other's issues. 😞 When I pick with simulator everything works as it should, but I haven't been able to try with a real device yet.

[2019-09-22 19:32] lifenautjoe commented on #141
Just tried with a 1mb video and a 5 second duration mp4 file. [It's this one ](https://www.sample-videos.com/video123/mp4/720/big_buck_bunny_720p_1mb.mp4).

Here's a demo

![demo](https://user-images.githubusercontent.com/12737509/65393396-644f9400-dd80-11e9-875a-1e4e0c3161df.gif)

[2019-09-22 20:19] lifenautjoe commented on #141
I'm not sure if this might help, but there's no issues with picking videos from the camera with the image_picker plugin `pickVideo` option.

[2019-09-22 23:41] miguelpruivo commented on #141
@lifenautjoe by looking at your vide it looks like you're using the `image_picker` plugin and not the `file_picker` and yes, `image_picker` has currently an issue with iOS 13 exactly like you described: it works well with camera, but fails when picking from gallery.

[2019-09-23 09:34] miguelpruivo commented on #141
@lifenautjoe ok thank you. So, it looks like it's happening with both plugins right? Which somehow makes sense.

[2019-09-23 09:44] lifenautjoe commented on #141
Was reading through it too.

Seems to be this

https://stackoverflow.com/questions/57798968/didfinishpickingmediawithinfo-returns-different-url-in-ios-13

[2019-09-23 11:39] Zeeshan0201 commented on #128
@miguelpruivo can you please check this,can you make packages regarding this?
`https://stackoverflow.com/questions/58037603/how-can-i-force-stop-any-application-using-flutter`

[2019-09-23 12:08] miguelpruivo commented on #128
@Zeeshan0201 I’m afraid that that is controlled by the system itself and you _shouldn’t_ be able to do this. The app should be properly closed with a sigterm command, in the best scenario.

[2019-09-23 12:16] KorbinianMossandl commented on #99
+1 for #68

[2019-09-23 12:20] Zeeshan0201 commented on #128
@miguelpruivo I just want to turn off the internet of the particular application without turning of device internet connection, so thought by force stop that application we can do it...and I want to make an application on it...

[2019-09-23 14:49] GeertJohan commented on #140
I think the go.mod file needs to be updated to be compatible woth go1.13

[2019-09-23 22:20] miguelpruivo commented on #140
@GeertJohan simple updating it to `go1.13` should be enough then?

[2019-09-23 23:16] miguelpruivo commented on #141
@lifenautjoe I can't reproduce the issue as it is working right now properly with the simulator on iOS 13, just tried it right now. I couldn't test it with a device yet.

[2019-09-24 00:16] miguelpruivo commented on #141
@lifenautjoe never mind, I believe I was able to reproduce the issue and please confirm that it **only** happens with video files and not with images. I've deployed a fix in `beta`, could you please give it a try and let me know if it is working for you?

Just replace your `file_picker` dependency in the pubspec with the following:
[code]

and do a `flutter clean` just to make sure before rebuildi

[2019-09-24 00:23] #142 closed

[2019-09-24 04:59] guiguan commented on #99
@miguelpruivo @Robert3141 for web support, can't we use `FileUploadInputElement` from `dart:html`? just like the example in https://stackoverflow.com/a/56648742/388322

[2019-09-24 07:19] Zeeshan0201 commented on #128
@miguelpruivo can you please reply if possible?

[2019-09-24 09:06] miguelpruivo commented on #99
@guiguan definitely got to give it a try. It would get rid of calling underlying platforms directly and should work with all browsers.

Good catch. Thank you.

[2019-09-24 09:53] lifenautjoe commented on #141
It works Miguel. Outstanding work! Thank you for looking into this faster than the flutter team could 🙊.

Let me know if you want to see your library in action in our app ( https://okuna.io ), it's a social network and we've got videos working now 😎 .

[2019-09-24 10:03] miguelpruivo commented on #141
@lifenautjoe I thank you for quickly reporting this. It has now landed on pub.dev (1.4.2), you can use it normally ([file_picker: ^1.4.2](https://pub.dev/packages/file_picker#-changelog-tab-)).

Thank you, definitely got to give a look into okuna! 😃

[2019-09-24 10:03] #141 closed

[2019-09-24 10:21] miguelpruivo commented on #128
@Zeeshan0201 which application are you relating to? It's an app that you are the owner?

[2019-09-24 22:27] GeertJohan commented on #140
I totally misread the initial error. It points to an error in the go.mod file that was present in go-flutter. Please update the go-flutter dependency to v0.30.0 to fix it.

[2019-09-24 22:29] miguelpruivo commented on #140
Merged into `beta`. Thank you @GeertJohan. You can give it a try @YourksChan and let me know if it is working for you. 🙂

[2019-09-25 02:29] AndrsDev opened #145 "Flutter desktop - macOS"
Is there any implementation for the picker on macOS? I tried to use it and I got the error:

[2019-09-25 02:33] AndrsDev commented on #145
Sorry I've found it on the docs

[2019-09-25 02:33] #145 closed

[2019-09-25 05:47] Zeeshan0201 commented on #128
@miguelpruivo  _please check this, I haven't currently this type of app, I just want to make this type of mobile application using flutter..._
[](https://www.quora.com/Can-I-go-offline-from-WhatsApp-without-disconnecting-from-the-Internet)

[2019-09-25 06:22] s-j-a opened #146 "unable to select file"
Hi,
on IOS 13 file picker doesn't select the file and return the path, I can click on the file icon but it doesn't return the screen stays as it was. Only when I hit cancel does the it return to my application with a null result.

the solution was working before the upgrade. I have added the recommended keys to the info.plist file.

any suggestions ?

thanks,
Jamil

[2019-09-25 08:07] miguelpruivo commented on #146
Just make sure you are on the latest version (1.4.2). Do a clean a rebuild, it should work. Does that happen with all kind of files?

Miguel

[2019-09-25 09:06] s-j-a commented on #146
I am using version 1.4.2, still the same issue after clean rebuild. I currently have PDF files and a .txt file in the folder, neither type is selectable.

Is there some additional permissions issue with IOS 13 ?, I used to be able to save email attachments to the download folder, now it just saves them to its own download folder (which I can't access). If I try to save to file it doesn't do anythi

[2019-09-25 09:23] miguelpruivo commented on #146
@s-j-a it shouldn't. Could you please post the logs when you are trying to pick a file? Also, could you please give it a try with a video file? Thank you.

[2019-09-25 10:29] s-j-a commented on #146
same issue with a video

looking at the system.log, nothing shows up when opening up the file explorer or clicking on a file, but there many of the following with different services

`Sep 25 14:20:44 Jamils-iMac Runner[38865]: assertion failed: 18G95 17A577a: libxpc.dylib + 83495 [9A486F3D-BBFA-36F2-9105-42A059A13A8A]: 0x7d
Sep 25 14:21:21 Jamils-iMac com.apple.CoreSimulator.SimDevice.954B9741-991

[2019-09-25 11:45] miguelpruivo commented on #146
@s-j-a looks like something device related. Would you mind to try on a different device or emulator running iOS 13?

[2019-09-25 14:13] s-j-a commented on #146
tested on simulator for iPhone XS Max with IOS 12.2, works fine.

'save to files' option  allows selecting my app for a location (listed under the my iPhone option), I can then see the file in my app and select it using File picker.

something changed with IOS 13 to prevent this from working.

[2019-09-25 14:45] s-j-a commented on #146
just to add using different hardware simulators e.g. iPhone 8 but with IOS 13 did not work.

[2019-09-25 15:40] miguelpruivo commented on #146
I'm still not sure about what's happening because I can't seem to replicate the issue. Can you do a video with the example app provided with the plugin and let me see what's happening?

[2019-09-26 10:26] s-j-a commented on #146
small demo
[File Open Test.mp4.zip](https://github.com/miguelpruivo/flutter_file_picker/files/3657294/File.Open.Test.mp4.zip)

if you open your email from Safari, are you able to save an email attachment to any folder ? I think there are two issues here one with Safari and one with not being able to select files.

[2019-09-29 07:57] 15587879187 opened #147 "ios中,我想打开苹果手机中的MP4文件,我选中后,就变成了mov的格式,"

[2019-09-29 07:57] 15587879187 opened #148 "_mp4Path = await FilePicker.getFilePath( //图片单选 type: FileType.CUSTOM, fileExtension: 'mp4');"

[2019-09-29 11:09] miguelpruivo commented on #147
Closing as no information were provided here.

[2019-09-29 11:09] #147 closed

[2019-09-29 12:02] miguelpruivo commented on #146
@s-j-a looks like you are pressing the file too much time when using the picker. Just a small click should work, otherwise you'll enter in that context window.

[2019-09-29 12:03] miguelpruivo commented on #148
@15587879187 sorry mate, could you please provide more details (in english)? Otherwise I'll be forced to close this due to lack of understandable content.

Thank you!

[2019-09-30 13:59] premtemp1 opened #149 "Crash on Android"
Hello,
  Can you please help... The plugin  crashes on android

Fatal Exception: java.lang.RuntimeException
Failure delivering result ResultInfo{who=null, request=50868, result=-1, data=Intent { dat=content://com.dropbox.android.FileCache/filecache/8d02cbe8-789c-4167-8a0d-c1d80e8af393 typ=application/pdf flg=0x3 }} to activity {com.MyApp/com.MyApp.MainActivity}: java.lang.IllegalArgumentException:

[2019-09-30 14:00] miguelpruivo commented on #149
@premtemp1 you are using an old version of the plugin, please upgrade to `file_picker: ^1.4.2`. Do a `flutter clean` and try again. Thank you.

[2019-09-30 14:04] premtemp1 commented on #149
Thanks for your quick response.. I will try it now

Thank you

[2019-09-30 14:05] miguelpruivo commented on #149
Just let me know if it worked for you. If it does, feel free to close the issue, thank you.

[2019-09-30 14:22] premtemp1 commented on #149
Issue fix .. Thank you for the quick response  and the plugin

[2019-09-30 14:22] #149 closed

[2019-10-01 11:45] guiguan commented on #99
@miguelpruivo I tested the idea and came out with the following code. Due to the lack of accurately capturing the `cancel` event on HTML element side, I used a timer to make sure everything (e.g. subscribed stream) is correctly cleaned up after each invocation. You may have a better idea :P

[code]

[2019-10-03 12:48] whigger85 opened #150 "FilePicker returns a cached filepath for images instead of the actual filepath"
When I call the FilePicker.getFile() method with the defaults for type and extension, and I select an image in the dialog, than the returned filepath won't be the actual path of the image (e. g. the downloads directory), but a path to the temporarily cached image ('/data/user/0/<app_directory>/cache/image.jpg'). This is bad, because this cached version is deleted by the system automatically after

[2019-10-03 14:31] miguelpruivo commented on #150
That happens when the file is probably remote (which happens a lot of times in the downloads folder as Android keeps only a reference for the remote file). The file is temporary cached because it is up to the developer to decide where it should be placed, so you should either move it or copy it to somewhere else, if you want to make it as a persistent file.

[2019-10-04 03:33] zmhbh opened #151 "multiple file picker in iOS not working properly"
![IMG_7765](https://user-images.githubusercontent.com/9757323/66179225-fe36fc80-e61c-11e9-961c-3cf1c4227225.PNG)
![IMG_7764](https://user-images.githubusercontent.com/9757323/66179229-02fbb080-e61d-11e9-8be2-d173c257c0d0.PNG)

[2019-10-04 09:13] miguelpruivo commented on #151
Hi @zmhbh, I don’t see nothing wrong in the screenshots. Mind to explain? Thank you.

[2019-10-04 10:13] whigger85 commented on #150
Thanks for the quick response. I never heard of the case that android can simply store a reference to the remote file in the downloads folder. This is interesting. Do you have some Internet links for this topic?

Besides, I wanted to explicitly mention that the described problem only occurs with images. If I select a pdf file from the downloads folder, the correct file path is returned by the file

[2019-10-04 10:48] buivanday opened #152 "Crash app when opening the gallary"
I tried the example but it crashed when I opened the gallery
I use xiaomi note 7 android 9 flutter 1.10

I/ple.imagepicke(16565):   at void com.sangcomz.fishbun.adapter.view.AlbumListAdapter.onBindViewHolder(androidx.recyclerview.widget.RecyclerView$ViewHolder, int) (AlbumListAdapter.java:25)
I/ple.imagepicke(16565):   at void androidx.recyclerview.widget.RecyclerView$Adapter.onBindViewHolder(andr

[2019-10-04 10:49] miguelpruivo commented on #146
@s-j-a I'll assume this has been solved. Feel free to reopen if you still experience any issue related to this. Thank you.

[2019-10-04 10:49] #146 closed

[2019-10-04 10:50] miguelpruivo commented on #152
@buivanday hi, could you please try on a different device? Thank you.

[2019-10-04 10:59] miguelpruivo commented on #148
Closing due to no further details. Feel free to reopen if you have more details. Thank you.

[2019-10-04 10:59] #148 closed

[2019-10-04 16:40] zmhbh commented on #151
@miguelpruivo , I thought we should see the thumbnails of the images, just like the single-file scenario, also, when I click the image item, nothing happened.

[2019-10-04 17:13] miguelpruivo commented on #151
@zmhbh no, just to let you know, that's up to the system to decide. As soon as you launch the picker, it's the OS side that's working on and there's nothing related to the plugin's implementation. That's probably because those pictures are missing the extension or something like that. Try with other photo files.

Since there's no issue at all related with `file_picker` I'm closing this.

Thank you

[2019-10-04 17:13] #151 closed

[2019-10-05 12:53] BHALUU commented on #99
can you please add multiple file type support when selecting a single file. I want the user to pick only one image or video.

[2019-10-05 13:06] miguelpruivo commented on #99
@BHALUU thank you for the input, that's one of the requested features that may come in an upcoming update.

[2019-10-06 21:19] bitbendergames opened #154 "Pick images from iOS gallery?"
Hello,

I'm using your package for picking multiple images and processing them. On Android I can pick images from the gallery of pictures that I've taken with the phone camera easily using your package. On iOS I am instead presented with an empty view. Any idea as to why this behaves like that?

Regards,

Bit

[2019-10-06 21:28] Drakirus commented on #140
#144 works for me!

[2019-10-06 21:37] miguelpruivo commented on #154
Hi, are you using `FileType.IMAGE`?

[2019-10-07 07:57] bitbendergames commented on #154
I'm using this call:

var paths = await FilePicker.getMultiFile(type: FileType.IMAGE);

Maybe I'm mistaken on the skope of this package though. I would like to pick files from the image gallery which holds the images from the camera app. I am using this package instead of multi_image_picker because the latter crashes on my target device. Not sure if it's my fault or if this package is capable of b

[2019-10-07 14:29] jamesmoore255 commented on #24
@miguelpruivo when do you think the array of file types will be supported?

[2019-10-07 15:12] miguelpruivo commented on #24
@jamesmoore255 I got have to have some time to implement it, I can't really tell. Can be this week, can be this month... 😞 But it's definitely the next feature to add to this plugin.

Sorry for taking a while.

[2019-10-07 15:15] jamesmoore255 commented on #24
No problems @miguelpruivo, I'll keep an eye out for when it is finished!

[2019-10-08 08:57] YourksChan commented on #140
Thank you for your help, I used your solution, or not, I now downgrade golang to 1.12, he successfully operated!

[2019-10-08 08:57] #140 closed

[2019-10-09 00:53] LachlanGrant commented on #154
I'm having the same issue, I get taken to the iOS File browser, no option to select from photo library

[2019-10-09 01:00] miguelpruivo commented on #154
Would you mind to record a sample of that and post it here? What iOS version are you running on? Yes, you do need permissions to access the files (in your plist) just make sure you’ve added it by following the [instructions for the iOS setup](https://github.com/miguelpruivo/flutter_file_picker/wiki/Setup#--ios) on the wiki.

[2019-10-09 06:43] Fluics commented on #126
@miguelpruivo should we reopen the issue or make a new one?

[2019-10-09 10:13] miguelpruivo commented on #126
@Fluics there was already an issue for that, but right now it will stay as it is as some users would rather keep to have the absolute path instead of provider's URIs. But feel free to leave it in the #99.

Thank you.

[2019-10-09 17:50] bitbendergames commented on #154
I have that behaviour on my device, but also in the simulator on Mac simulating a iPhone 11 Pro Max - 13.0. Flutter is on Channel stable, v1.9.1+hotfix.4, on Mac OS X 10.14.4 18E226. I do have the NSPhotoLibraryUsageDescription key added to the Info.plist. Here's a quick GIF:

http://www.giphy.com/gifs/SATQqi7st1rXGvvmIX

The Files button I click first invokes this (flutter_file_picker) package's

[2019-10-09 18:20] miguelpruivo commented on #154
@bitbendergames that shouldn't happen if you use `FileType.IMAGE`. It should open the gallery instead of the Files app. Can you show me how are you calling the picker?

[2019-10-09 19:44] bitbendergames commented on #154
That's how I do it:
var paths = await FilePicker.getMultiFile(type: FileType.IMAGE );

[2019-10-09 22:12] miguelpruivo commented on #154
@bitbendergames, you must use `getSingleFile` instead and it will open the gallery. Multi picking from gallery isn’t currently supported with this plugin, sorry. 😞

[2019-10-10 11:32] bitbendergames commented on #154
Bummer. Is this something you have on the roadmap to add in the future, or are there reasons that make it difficult to add? While this isn't supported, you might want to add some error or warning output to notify developer about it. Could have spared me a bit of time, and others potentially as well

[2019-10-10 21:57] miguelpruivo commented on #154
@bitbendergames well, it is actually pointed out in [the docs](https://github.com/miguelpruivo/flutter_file_picker/wiki/API#filepickergetmultifilepath). I can't display an error because when using multi file picker the user may indeed want to multi pick files from a cloud service, this is, if you have some pictures in a cloud service such as iCloud, those would appear there and you'd be able to mu

[2019-10-11 08:05] EricPreventa opened #155 "Browse Windows Share Folder"
Any chance this is able to pull in files from a Windows Share folder? Few iOS apps have this capability of being able to connect to a folder.

[2019-10-11 09:46] miguelpruivo commented on #155
Hi, could you show an example of what you’re talking about? Because I’ve no idea. 😞 thank you.

[2019-10-11 13:32] bmelnychuk opened #156 "Missing file extenstion"
When I try to pick multiple files from google photos on android I always get this as the path to the file.
`/data/user/0/<APP_ID>/cache/65880`
As you can see there is no extension. In my case, I want to work with all possible files so I don't limit the selection by file type or extension. Ideally, I would like to know what kind of file is selected.
What would you suggest in this case,
Thanks,