[2019-10-11 18:06] EricPreventa commented on #155
This link and the following images hopefully will make it more clear. I believe you have a lot of the capabilities already in there, just need to somehow tie it in with this.

https://www.maketecheasier.com/access-network-files-from-ipad/

![](https://www.maketecheasier.com/assets/uploads/2018/07/access-network-files-from-your-iPad-2.png)

![](https://www.maketecheasier.com/assets/uploads/2018/07/

[2019-10-14 11:45] ushang000 opened #157 "No FileType.CAMERA"
can add the filetype for camera ?

[2019-10-14 11:51] miguelpruivo commented on #157
@ushang000 was already available in an older version and was intentionally removed because it would force some users that don't use the camera to have the permissions when distributing the apps. Also, you can use this plugin along with the official `image_picker` that allows you to use the Camera to pick files, that's also one of the reasons of why it was removed.

Thank you.

[2019-10-14 11:51] #157 closed

[2019-10-14 11:55] ushang000 commented on #157
@miguelpruivo
ok, thank you very much!

[2019-10-15 05:14] DenisMrGnusa opened #158 "retrieve files other than the image?"
I tried to display all files from the device besides the image, I tried `FileType.CUSTOM`.
but the code only shows one extension that I filled in 'fileExtension'.

how to display files other than the image?

thank you,
Best Regards.

[2019-10-15 08:49] miguelpruivo commented on #158
Hi, just use `FileType.ALL` without any extension.

[2019-10-15 08:49] #158 closed

[2019-10-15 13:23] davidmartos96 opened #159 "IllegalStateException in Android"
**Describe the bug**
A crash was registered in Google Play from one of the users of my app. I'm not able to reproduce it.

**File picker version: 1.4.2**

**Issue details**
Device LGE LBello (luv80ss), Android 4.4

**Error Log**
[code]

**Flutter Version details**
Flutter v1.9.1+hotfix.4

[2019-10-15 20:16] EricPreventa commented on #155
https://github.com/amosavian/AMSMB2
https://github.com/shaojiankui/samba-iOS

@miguelpruivo These native iOS packages (and more) already do what I'm looking for. Just hoping it can be baked into your amazing package. Will be more than happy to help out as much as I can too.

[2019-10-16 07:41] EricPreventa opened #160 "Filtering by filename"
I see that this has filtering off of extensions (audio, video, custom, etc), however any chance we can get filtering also on filenames to display? Such as ('awesome_video.*')

[2019-10-16 18:15] miguelpruivo commented on #160
@EricPreventa that might not be easy, I don't know if both platforms can support this or even if any. But feel free to add this to #99.

Thank you.

[2019-10-16 18:15] #160 closed

[2019-10-16 18:17] miguelpruivo commented on #156
Hi @bmelnychuk this is the normal behavior from Google Photos file paths. Because they are basically remote pictures with no name associated, they're just cached temporary with a random number as name and no extension, but I suppose it's same to assume that they're JPG encoded.

[2019-10-16 18:17] #156 closed

[2019-10-16 18:19] miguelpruivo commented on #155
@EricPreventa I don't have much time currently to work on this suggestion, but feel free to issue a PR if you manage to add support for this on the plugin, it would be great, even more if it can be handy for you or anyone that want to use such feature.

Thank you.

[2019-10-16 18:20] #154 closed

[2019-10-17 07:34] bmelnychuk commented on #156
But how do I know selected files are coming from google photos, what is other cloud providers have the same behavior?
Can I assume that every file that has no extension is the image?

[2019-10-17 09:31] miguelpruivo commented on #156
@bmelnychuk just select it normally, having random numbers as the name shouldn't have any impact to access the files.

[2019-10-21 09:02] davidmartos96 opened #161 "onActivityResult edge case"
**Describe the bug**
There seems to be an edge case in https://github.com/miguelpruivo/flutter_file_picker/blob/ff017dd457d4c5d5bf4605d0f0a45cecc617853c/android/src/main/java/com/mr/flutter/plugin/filepicker/FilePickerPlugin.java#L108.
where the object `Result` could be null. This crash has been registered from Google Play.

**File picker version: 1.4.2**

**Issue details**
Motorola Moto G (5S) Pl

[2019-10-23 12:57] Zeeshan0201 opened #163 "How can I implement remove icon on image after selecting it from flie picker in flutter?"
@miguelpruivo There is any default function in this package by this I can remove a particular image from multiple file object?
![Screenshot from 2019-10-23 18-18-49](https://user-images.githubusercontent.com/45591301/67394948-b7f10f80-f5c2-11e9-8de3-4c3d51c60460.png)

[2019-10-23 13:21] miguelpruivo commented on #163
What do you mean @Zeeshan0201 ?

[2019-10-23 13:26] Zeeshan0201 commented on #163
@miguelpruivo means when I select Images from Multiple Path Function Of File Picker, I got the list of all the paths, then how can I remove a specific item from list on removing that image and show them as above...

[2019-10-23 14:11] miguelpruivo commented on #163
@Zeeshan0201 those are Dart related questions and not of this plugin. Anyway, you just need to find which item do you want to remove and remove it from the `Map` of paths/files.
[code]

[2019-10-23 14:11] #163 closed

[2019-10-24 13:14] duzenko opened #164 "getMultiFilePath + IMAGE + iOS"
**Describe the bug**
Multi file picker seems useless. See the attached screenshots:
- Android 'just works', opening photo view and allows multi-selection
- iOS + getFilePath also works as expected
- iOS + getMultiFilePath: no photos at all, and no idea what this screen is for

**Issue details**
1. Platform: iOS
2. OS version: 12.4.1
3. File type: IMAGE
4. Steps to reproduce: `    final filePaths =

[2019-10-24 13:48] daveleenew opened #165 "invalid pseudo-version: does not match version-control timestamp"
**Describe the bug**
A clear and concise description of what the bug is. If the issue happens to be on Android, please make sure that it also happens with a different device/simulator and/or version.

**Issue details**
1. Platform (Android/iOS)
Macos
2. OS version
3. File type (filter)
4. Steps to reproduce

**Error Log**
Please, post the _full_ console log of your issue, if applicable.
github.com

[2019-10-24 14:32] miguelpruivo commented on #165
Hi @daveleenew that's not actually an issue. If you read the wiki in the multi file [picking API](https://github.com/miguelpruivo/flutter_file_picker/wiki/API#filepickergetmultifilepath) you'll find the following:
[code]
That is the Files app from iOS which in your case doesn't have any file because you aren't probably using it at all. Anyway, there's plans to add multi picking for iOS gallery as

[2019-10-24 14:52] miguelpruivo commented on #164
Hi @daveleenew that's not actually an issue. If you read the wiki in the multi file picking API you'll find the following:
[code]
That is the Files app from iOS which in your case doesn't have any file because you aren't probably using it at all. Anyway, there's plans to add multi picking for iOS gallery as well in a near future.

Thank you.

[2019-10-24 14:52] #164 closed

[2019-10-24 14:53] miguelpruivo commented on #161
@davidmartos96 is this related to #159?

[2019-10-24 14:56] davidmartos96 commented on #161
@miguelpruivo I wouldn't say so because the stacktraces are different, that's why I filed 2 different issues.

[2019-10-24 14:56] daveleenew commented on #165
Hi @miguelpruivo i just use the library with macos . import (
	"github.com/go-flutter-desktop/go-flutter"
	"github.com/miguelpruivo/plugins_flutter_file_picker/go"
)

[2019-10-24 15:49] duzenko commented on #164
@miguelpruivo
Sorry, I have to disagree with your approach here
If you don't allow multi selection then at least allow to select anything at all.

[2019-10-24 15:53] miguelpruivo commented on #164
You can select anything you have within your Files folder @duzenko such as iCloud pictures, files, and so on. You can't select anything because you don't have nothing there, it's not a bug. Try to add something to your files app. If you want to use the gallery just use `FileType.IMAGE` instead if the target platform is iOS.

[2019-10-24 17:28] duzenko commented on #164
But I am using FileType.IMAGE

[2019-10-24 20:47] miguelpruivo commented on #164
@duzenko like I said, currently, with multi picking, FileType.IMAGE will let you pick multiple images from Files app only (on iOS).

[2019-10-25 18:57] Jazzin opened #166 "Problem selecting file on Android 6"
I am having problems selecting a file on Android 6. I have a file that has a full path name of
/storage/emulated/0/Download/What2Do_2019_10_21-22:43:01.db
I can select the file correctly on phones & tablets running Android 8, but on an older phone running Android 6 the file path I get returned is
/storage/emulated/0/Download/What2Do_2019_10_21-22
It looks like it is being truncated at the colon. I

[2019-10-26 00:08] miguelpruivo commented on #166
@Jazzin hi, thank you for reporting, despite that, does it work as it should when you try to open/modify the file? Because the name handling in some SDK's may be different and doesn't mean that the file itself won't work, even the name is not exactly the same.

[2019-10-26 00:09] miguelpruivo commented on #161
Ok, I'll take a look. Thank you for reporting.

[2019-10-26 09:15] Jazzin commented on #166
Hi, thanks for getting back to me. The file name I get back from file_picker doesn't work. If I try and open the file it fails. If I change the name of the original file to /storage/emulated/0/Download/What2Do_2019_10_21.db then it works. So it looks like something is not translating the colon characters properly.

[2019-10-26 09:30] miguelpruivo commented on #166
@Jazzin ok thank you. I’ll take a look to see what might have cause that.

[2019-10-27 11:54] miguelpruivo commented on #161
@davidmartos96 I was looking into this but looks almost quite impossible that `result` is being called as `null` on the activity result as the request code is being made based on the picker class hashcode which protects collisions from other activity requests.

Mind to ask you how many crashes do you have for that exact same issue? You've reported two, but was an one time only in those devices? Of

[2019-10-27 12:08] miguelpruivo commented on #159
I'm not able to reproduce this as well @davidmartos96 and I've only found one similar issue while researching for this that seems to happen only when on release with app bundle built apps. However, the device can also have a custom rom that could affect this or/and be one time only exception. Because of that, I'm going to close this until.

Just let me know if this this is still an issue for that

[2019-10-27 12:08] #159 closed

[2019-10-27 12:09] davidmartos96 commented on #161
Yes, I agree with you that the issue happening is weird since `result` shouldn't be null. I just wanted to report it in case you'd like to handle it. The crash has only been registered 3 times (2 to one user and 1 to other). Probably the issue could be ignored and close or add the null check.

[2019-10-27 12:14] miguelpruivo commented on #161
@davidmartos96 thank you for your quick response. I'm always interested to keep the plugin as safe as possible, however, like I said, adding just a null check here makes no sense and I'd rather have new issues/crashes on other users to help me find what might be causing this instead of just ignoring. Does that 3 times, happen to be in the same device?

[2019-10-27 12:19] davidmartos96 commented on #161
Here is the summary:

![Screenshot_20191027-131638](https://user-images.githubusercontent.com/22084723/67634445-45cb4400-f8bc-11e9-82d7-75bfff74ef8f.jpg)

[2019-10-28 09:20] YourksChan opened #167 "Will the web adapt to the future?"
**Describe the bug**
A clear and concise description of what the bug is. If the issue happens to be on Android, please make sure that it also happens with a different device/simulator and/or version.

**Issue details**
1. Platform (Android/iOS)
2. OS version
3. File type (filter)
4. Steps to reproduce

**Error Log**
Please, post the _full_ console log of your issue, if applicable.

**Screenshots a

[2019-10-28 20:35] miguelpruivo commented on #150
Sorry for the late response @whigger85, I've been quite busy lately. I misunderstand the Downloads folder with the Recent files folder (in which, usually is just a reference for some file, like I said). In the downloads folder, typically that behavior will happen when the Content Resolver can't handle the file path and so you need to open an input stream and cache it yourself so it can be actually

[2019-10-28 20:53] miguelpruivo commented on #150
Sorry for the late response @whigger85, I've been quite busy lately. I misunderstand the Downloads folder with the Recent files folder (in which, usually is just a reference for some file, like I said). In the downloads folder, typically that behavior will happen when the Content Resolver can't handle the file path and so you need to open an input stream and cache it yourself so it can be actually

[2019-10-28 20:53] #150 closed

[2019-10-28 21:01] miguelpruivo commented on #167
Hi @YourksChan, there is plans for web already. You can check the #99 for the requested features.

Thank you.

[2019-10-28 21:01] #167 closed

[2019-10-29 05:19] YourksChan opened #168 "Want to add file directory selection"
I wanted to choose a folder, but I didn't find a method

[2019-10-29 12:11] miguelpruivo commented on #168
@YourksChan this is not possible and I doubt it will because iOS doesn’t currently support this. Please see #99 before opening new feature requests that are already there.

Thank you.

[2019-10-29 12:11] #168 closed

[2019-10-30 15:44] miguelpruivo commented on #146
@juriejan I didn't have enough details for this issue so I'm not sure what's happening. Feel free to describe the full steps to reproduce it.

[2019-10-30 16:17] s-j-a commented on #146
When I tested on an actual iPhone running 13.1 it worked fine so I concluded that this was not an issue with the code rather an issue with the simulator, there were a lot of sandbox file permission error messages in the simulator console .

ensure that you are using the latest version of Xcode and download the simulator for iPhone 11 Pro MAX - 13.1, its working for me now on this setup.

the 12.2

[2019-10-31 06:20] aravindhkumar23 commented on #156
@bmelnychuk I am also facing the same situation, I am making comparisons by file format like jpg, mp4, pdf to render the preview frame of selected files. If I load video or pdf file in image view then it results in error. @miguelpruivo any work around or solution to achieve this?

[2019-11-01 16:41] lifenautjoe opened #169 "(OS Error: Permission denied, errno = 13) on Android Q"
**Describe the bug**

We've received and seen several crashes related to permission denied trying to open a file that was picked on Android Q devices.

Looking for solutions, came across this https://github.com/flutter/flutter/issues/31122#issuecomment-485429597

 where it's claimed that

[code]

and might the cause for issues.

Perhaps something to update in regards to how permissions are asked t

[2019-11-01 17:53] miguelpruivo commented on #169
Hi @lifenautjoe, this is a no-issue and actually what is happening is that the picker is working as it should by allowing users to pick files from wherever they are allowed to (and that's why it works). What you **_can't_** do tho, is writing files from directories that you don't have permissions, such as that one `'/storage/emulated/0/WhatsApp/Media/WhatsApp ` which is from WhatsApp app.

Even th

[2019-11-01 22:48] lifenautjoe commented on #169
Hmm we're not trying to write to the file nor the directory it's in, we're actually just trying to read it with `pickedImage.readAsBytesSync()` as seen here

https://github.com/OkunaOrg/okuna-app/blob/release/0.0.55/lib/services/media.dart#L64

this library is used on the `showImagePicker` just before this. It shows a bottom sheet asking to select source, and returns the picked file

I'll try copy

[2019-11-01 22:55] miguelpruivo commented on #169
@lifenautjoe that's probably because that `ImageConverter` is writing on the same directory from which is picked and it can't. It's up to the developer to decide where to write the files and since you are creating a copy (converted), you should place it in a temp directory or your own app content directory.

Like I said, `FilePicker` gives you the file as it is, this is, from its original director

[2019-11-01 22:57] lifenautjoe commented on #169
hah, didn't think about that one, will give it a try :-)

You should get a buymeacoffee page Miguel, we'd be happy to send some coffees for your time and help!

[2019-11-01 23:24] miguelpruivo commented on #169
No need to thank me @lifenautjoe, always glad to help! 🙂 Just because of you, I've created one [here](https://www.buymeacoffee.com/gQyz2MR) ☕️ 😄

Thank you!

[2019-11-02 17:56] kukvy opened #170 "Lo"
**Describe the bug**
A clear and concise description of what the bug is. If the issue happens to be on Android, please make sure that it also happens with a different device/simulator and/or version.

**Issue details**
1. Platform (Android/iOS)
2. OS version
3. File type (filter)
4. Steps to reproduce

**Error Log**
Please, post the _full_ console log of your issue, if applicable.

**Screenshots a

[2019-11-02 18:43] miguelpruivo commented on #170
Sorry, you've just opened an issue without any description from you. Feel free to reopen if you have any details.

Thank you.

[2019-11-02 18:43] #170 closed

[2019-11-03 11:17] lifenautjoe commented on #169
Cool! I've sent some coffee's your way ☕️ .

In regards to the issue we're having, we've changed the code to intermediately copy the file to a directory we have permissions with `getApplicationDocumentsDirectory()`, still seeing the same issues.

[code]

With the code

[code]

I've found this issue on the image picker package which might be related
https://github.com/flutter/flutter/issues/41459

[2019-11-03 11:45] miguelpruivo commented on #169
Hi, thank you @lifenautjoe 🙌

This is really weird, there must be something missing there, if this was really an issue with the plugin, it should have affected a lot of other users already. 🤔

Could you provide the full steps and details to replicate?  I’ll try to make it happen on my machine. Also, does it happens in the emulator or only in some real devices? If you could make it happen on any em

[2019-11-03 11:53] lifenautjoe commented on #169
Hi Miguel, it'll happen if you're on Android Q | 10.

And it will be solved by adding the following on the manifest file.

[code]

Reading a bit more, looks like external storage and external storage permissions are being deprecated.

https://commonsware.com/blog/2019/06/07/death-external-storage-end-saga.html

And instead, there's scoped storage with its respective methods : getExternalFilesDir()

[2019-11-03 12:01] miguelpruivo commented on #169
@lifenautjoe yes, I'm familiar with it being deprecated because they want us to always handle files using URI instead of real paths, and in a way, that's safer and much more easier that just covering all file path possibilities between SDK [16, 29]. However, for Flutter users, that's not very convenient as they need a lot of times real paths to display content on Flutter's side, that's why I've be

[2019-11-03 12:47] miguelpruivo commented on #169
@lifenautjoe ok, after digging a bit more around this, it seems that the issue is _indeed_ with the `path_provider` package and not this one. So, I'll break it down for you for better understanding:

1. You are picking the files with `file_picker` which gives you the file path without any issue, right? So, `file_picker` gets its job done.
2. Now, you are trying to make a copy of the original file

[2019-11-03 12:53] lifenautjoe commented on #169
Thank you for the nice breakdown of the issue and help as usual Miguel!

Good rest of the weekend! ☕️ ☀️

[2019-11-05 09:46] kcruzat opened #171 "App Crash on iOS when multiple tapping on select of Image from gallery"
When selecting an image using the file picker FilePicker.getFile(type: FileType.IMAGE), double/multiple taps of an image in quick succession causes the app to crash.

Crash log:

0  file_picker                    0x103f9af74 -[FilePickerPlugin imagePickerController:didFinishPickingMediaWithInfo:] + 828
1  UIKit                          0x18f5bf5dc -[UIImagePickerController _imagePickerDidCompleteW

[2019-11-05 10:37] miguelpruivo commented on #171
Hi, what do you mean by multi tap? Clicking multiple times on the same file? In the first place why’d you do that? 😁 anyway, which iOS and `file_picker` version are you on?

[2019-11-05 10:48] kcruzat commented on #171
Yes, clicking multiple times on the same file. I don't know why (maybe impatient people), but it came through testing ahah. Replicated on iOS 13.2 (iPhone 7 Plus and XR), 11.3.1 (iPhone 6 Plus). file_picker version 1.4.2

[2019-11-05 12:06] Zeeshan0201 commented on #24
@miguelpruivo it's implemented(array of file types ) or still remaining?

[2019-11-05 16:39] miguelpruivo commented on #24
It’s on the todo list @Zeeshan0201

[2019-11-05 18:37] miguelpruivo commented on #171
I’ll take a look and see if I can replicate/fix it. Thank you @kcruzat.

[2019-11-06 06:39] Zeeshan0201 commented on #24
@miguelpruivo okay, please let us know when it's completed.thanks in advance.

[2019-11-06 14:50] guptahitesh121 commented on #99
Can we have an option to capture image from camera as well?

[2019-11-06 14:53] miguelpruivo commented on #99
@guptahitesh121 this was already available in previous versions of `image_picker` and was removed on [1.3.0](https://github.com/miguelpruivo/flutter_file_picker/blob/master/CHANGELOG.md#130) because it was forcing some users to provide camera permissions when publishing the app, even if they weren't using the camera at all. Also, this way, the plugin is lighter and more modular and you can always

[2019-11-06 15:19] Murtuzakabul commented on #99
I'm not sure if it can pick up a folder or not. If it can, can you please add a small example on how to use this for picking up the folder. I had a specific requirement to make the user select a path and not a file.

[2019-11-06 15:20] miguelpruivo commented on #99
@Murtuzakabul you can see on this exactly issue that that is one of the requested features but is still not implemented (and I believe that's not possible in iOS though). However, as workaround, you can pick folders by just letting the user pick some file and removing the file name. It's not the best solution, but works for now.

[2019-11-06 15:56] Murtuzakabul commented on #99
@miguelpruivo This is what I am doing exactly as a workaround. However, the app I'm working on is purely desktop and I have no intentions to deploy it on mobile. I'm also using the file picker function and it is working great. I would like to extend the functionality of this plugin to include folder picker function. As I am not very good at golang, request you to give me some pointers to start wit

[2019-11-11 19:06] travisjayday opened #172 "Having quotes "" in file name leads to invalid file path"
Hi, I'm trying to select the file with name ```("###PDF n asdfm eesf")$".pdf``` but ```var path = await FilePicker.getFilePath(type: FileType.ANY);``` returns only ```(``` as the filename. E.g. everything after the first quotation mark gets truncated. This is not good obviously. Looks like file paths aren't sanitized correctly?

[2019-11-11 19:08] miguelpruivo commented on #172
Hi @travisjayday this shouldn't happen. In which platform is this issue on?

[2019-11-11 19:10] travisjayday commented on #172
Tested on Pixel 2 API 28 virtual device. Here is the relevant code:

`void _pickFile() async {
    var path = await FilePicker.getFilePath(type: FileType.ANY);
    print("Selected file: " + path.toString());`

[2019-11-11 19:10] miguelpruivo commented on #172
Ok. I'll take a look ASAP @travisjayday. Thank you.

[2019-11-13 21:52] sgalway00 opened #173 "File path from cloud service doesn't work"
When selecting a file from a local source the file name and path are supplied no problem.  When chosing a file from a cloud source (Google Drive), I get a momentary black screen and then nothing is returned.  I can see indication in the console window that stuff is happening, but nothing is returned except this:

[code]

I've only tested this on Android.

[code]

[2019-11-14 00:36] miguelpruivo commented on #173
Hi @sgalway00, hum, would you mind to test it out on a different simulator? Or with the example app provided with the plugin? Looks like it's awaiting for permissions somehow. Or uninstall the app completely from the device and re-install it.

Thank you.

[2019-11-14 16:35] technolion commented on #99
As a user of flutter's master channel I must say that desktop support has been improved rapidly the last couple of months. Please consider support for the official flutter desktop strategy. It's really quite easy to write Windows & macOS plugins: https://github.com/flutter/flutter/wiki/Desktop-shells#plugins

[2019-11-15 15:53] ovidiu-anghelina commented on #169
Guys, I'm not convinced that you have found any long-term solution to the _real_ problem here.

After doing a lot of reading on what Android 10's new scoped storage implies, I came to the following conclusions:
- The legacy flag is just a **temporary** solution. As per [this link](https://www.androidpolice.com/2019/04/26/google-wont-break-legacy-apps-that-dont-use-scoped-storage-in-android-q-api-e

[2019-11-15 20:06] miguelpruivo commented on #169
@ovidiu-anghelina thank you for the huge feedback. I agree with both of your suggestions and I may added those in a near future, just need to have the time. 🙂

[2019-11-16 10:28] Murtuzakabul commented on #140
I am still getting this error

go: finding github.com/miguelpruivo/plugins_flutter_file_picker/go latest
verifying github.com/go-gl/glfw@v0.0.0-20190519095719-e6da0acd62b1/go.mod: github.com/go-gl/glfw@v0.0.0-20190519095719-e6da0acd62b1/go.mod: reading https://sum.golang.org/lookup/github.com/go-gl/glfw@v0.0.0-20190519095719-e6da0acd62b1: 410 Gone
hover: Go build failed: exit status 1

It used to

[2019-11-16 10:38] Murtuzakabul opened #174 "Hover run error"
After updating to latest version of Go as well as latest version of File_picker, failed to execute Hover run.

**Issue details**
1. Platform - Desktop / Windows
2. OS - Windows 10
3. Steps to reproduce

- Create a new flutter project with flutter create
- Add hover
- Add File picker plugin
- run it with "hover run"

**Error Log**
go: finding github.com/miguelpruivo/plugins_flutter_file_picker/go l

[2019-11-16 11:02] pchampio commented on #140
The beta branch must be merged to master!
(hover doesn't support the git directive in pubspec.yaml)

[2019-11-16 11:58] miguelpruivo commented on #140
@pchampio I'll merge it this weekend and deploy on pub.dev! Have been quite busy lately. Thank you!

[2019-11-17 14:16] miguelpruivo commented on #174
Hi @Murtuzakabul, would you mind to `flutter clean` and try today? Just deployed an update on `go-flutter` for this [1.4.2+1](https://pub.dev/packages/file_picker#-changelog-tab-).

Thank you.

[2019-11-17 14:17] miguelpruivo commented on #165
Hi @daveleenew, would you mind to `flutter clean` and try today? Just deployed an update on `go-flutter` for this [1.4.2+1](https://pub.dev/packages/file_picker#-changelog-tab-).

Thank you.

[2019-11-17 14:20] miguelpruivo commented on #140
Hi again, it's now on `master` and [pub.dev](https://pub.dev/packages/file_picker#-changelog-tab-).

Thank you all.

[2019-11-17 14:37] Murtuzakabul commented on #140
Great, let me check it out. Thanks a lot.

On Sun, Nov 17, 2019, 19:50 Miguel Ruivo <notifications@github.com> wrote:

[2019-11-17 14:38] Murtuzakabul commented on #174
I'm doing it in a while. Actually I had downgraded version to make it run.
Let me update it again along with go version.

On Sun, Nov 17, 2019, 19:46 Miguel Ruivo <notifications@github.com> wrote:

[2019-11-17 15:02] miguelpruivo commented on #174
Ok just let me know if it fixed for you @Murtuzakabul and feel free to close this if so.

[2019-11-17 15:24] FineTillYouCameAlong commented on #24
Will I be expected to provide all purpose strings on iOS if I use FileType.ALL? My app is using FileType.ALL (because of unsupported extensions) and when I tried to upload my binary to the App Store, it got rejected because it was missing the NSPhotoLibraryUsageDescription purpose string in Info.plist.
I don't know where/how these purpose strings show up (because I've been using the app only on my

[2019-11-17 17:14] miguelpruivo commented on #24
@FineTillYouCameAlong you are using a package that allows you to access the gallery thus you need to provide the proper entitlements for that because Apple doesn’t know if you’ll actually be picking files from it.

That will happen with every package that uses any kind of functionality, however, the user won’t be notified or allow those permissions unless you explicitly use it on your app.

[2019-11-18 07:13] Murtuzakabul commented on #174
Working perfectly now. Thanks.

[2019-11-18 07:13] #174 closed

[2019-11-18 10:25] miguelpruivo commented on #161
I'm closing and I'll reopen if more users reports this, as like you said, this looks like a device specific error which affects only a small group of users.

[2019-11-18 10:25] #161 closed

[2019-11-18 10:25] miguelpruivo commented on #152
@buivanday any news on this?

[2019-11-18 10:49] miguelpruivo commented on #166
@Jazzin I was looking into that but unfortunately I can't even create a file with a `:` neither on Mac nor on Android. Even if I force it somehow, it gets replaced by a `_` or `/` because the `:` is an invalid filename character (and that's probably the reason why it gets messed when parsing the file, because some uri schemes use `:`).

This looks like an edge case and I'd still like to help you,

[2019-11-18 11:07] Jazzin commented on #166
Hi, Thanks for having a look. I generated the file on Android using the esys_flutter_share plugin. (https://pub.dev/packages/esys_flutter_share) This didn't seem to mind me using a ":" in the file name and Android was happy to let me create it in the download directory. It also lets me create the file on google drive. Like this one https://drive.google.com/open?id=1-bV6EYoMBe7EJL-FMrJjgdKbj5cHswI5

[2019-11-18 11:34] miguelpruivo commented on #171
Hi @kcruzat, I was able to reproduce this in an older device (iPhone 6 Plus) but not in the earlier ones (maybe because they were too fast when picking).

Anyhow, it is fixed now on `beta`. I'll close this when a deploy is made to `master`.

Thank you for reporting.

[2019-11-18 12:15] miguelpruivo commented on #166
@Jazzin just tried with it and even though I can get the file to keep the `:` in the name on my Google Drive folder (only on device), as soon as I copy/move it to the device storage, gets its `:` replaced with `_`. Picking from Google Drive with `:` works fine though.

To perfectly replicate your conditions (which are quite hard as you see 😄) I need to download the file with that name directly to

[2019-11-18 12:39] miguelpruivo commented on #172
Hi @travisjayday, this looks similar to #166 where you both are using [reserved Android character](https://stackoverflow.com/questions/2679699/what-characters-allowed-in-file-names-on-android) names. This make it even harder to debug because I can't have files with that name as it most of the times, the system will automatically replace with `_`. You can try it yourself by going to a File Explorer

[2019-11-18 13:18] ovidiu-anghelina commented on #169
Is it maybe worth reopening this issue in order to improve its visibility and make it easier to keep track of it?

[2019-11-18 13:21] miguelpruivo commented on #169
Sure. I’m already wiring up some solution for this @ovidiu-anghelina.

[2019-11-18 14:58] miguelpruivo commented on #173
Any news on this @sgalway00?

[2019-11-18 15:00] miguelpruivo commented on #155
I'm closing this as I don't have plans in a near future to support this. But like I said, feel free to issue a PR with your own implementation (and reopen this, if so).

Thank you!

[2019-11-18 15:00] #155 closed

[2019-11-18 15:04] #171 closed

[2019-11-18 15:08] miguelpruivo commented on #171
Deployed on [pub.dev @ 1.4.3](https://pub.dev/packages/file_picker#143).

[2019-11-18 17:25] travisjayday commented on #172
Hi @miguelpruivo, reserved Android characters or not, I think it is certainly possible that users may have files with hose characters. The Pixel emulator when downloading PDF files from chrome even shows an alert Dialog in which the user can specify a file name (with however many special characters) for the downloaded PDF. I also tested this on my phone (Xiaomi mi mix 3) and the Google Files file

[2019-11-18 23:37] miguelpruivo commented on #172
@travisjayday I understand, but you will have to provide me with full steps to reproduce your issue otherwise I can't find a way to help you as I don't really can (and believe me, I've tried even of different SDK emulators, with API 28 and 29) but the files always get renamed to `_` when I try to add an invalid character like `"` in the name, even when downloading from Chrome.

Tell me the emulato

[2019-11-18 23:48] Jazzin commented on #166
As you say, it looks like it is quite difficult to get everything to pass on the file without changing the name. You can try this one.. https://we.tl/b-qHCwe8LYUC but is suspect you will have the same problem. I think I will just change my code so it doesn't use the colon. It was a bad idea anyway. If you can add some protection, that would be good. Thanks for looking.

[2019-11-19 00:00] miguelpruivo commented on #166
Yes, you can be safe that most of the users won’t have files with that name and even though if they will, eventually it will get automatically renamed to something with a `_` instead.

But I’ll keep looking into this on #172 which is the same problem but with another character. You can follow that on.

Thank you anyway for reporting, definitely it can result in an optimization.

[2019-11-19 00:00] #166 closed

[2019-11-19 05:07] duindain opened #179 "Build failed with an exception"
**Describe the bug**
Updated to latest version of plugin 1.4.3, flutter, android studio
Could not resolve all files for configuration ':file_picker:debugCompileClasspath'.

**Issue details**
1. Platform (Android/iOS)
Android
2. OS version
10
3. File type (filter)
Error during debugging/starting the app no file type selected
4. Steps to reproduce
Just including the latest version and running start

[2019-11-19 05:26] ac130kz commented on #179
Versions 1.4.2-3 fail for me as well. Version 1.4.0 builds just fine

Flutter dev channel v1.12.4

[2019-11-19 06:58] mllyx commented on #179
file_picker 1.4.2+1 with flutter 1.9.1+hotfix.6 work for me.
but file_picker 1.4.3 not

[2019-11-19 09:21] ismadev commented on #179
Same here.

file_picker 1.4.3 doesn't work.

But file_picker 1.4.2+1 works fine.

[2019-11-19 09:59] miguelpruivo commented on #179
Hi guys, sorry I’ve committed one dev dependency that I that I shouldn’t on the last version. I’ll remove it in a few minutes and let you know.

Thank you for reporting.

[2019-11-19 10:32] miguelpruivo commented on #179
Hi guys, [1.4.3+1](https://pub.dev/packages/file_picker#1431) is now on pub.dev. Please make sure that you run a `flutter clean` before building again or explicitly make it `file_picker: 1.4.3+1` on your pubspec just to make sure that is picking the last version and let me know if it's working for you.

Were this happening on the example app only? Because I found that only the example app had a fi

[2019-11-19 10:50] MaikuB commented on #179
Had this issue as well but won't get to try 1.4.3+1 until tomorrow. This wasn't an issue that I saw happen with the example app but in our own app. Interestingly the issue wasn't there when the plugin was referenced via git or a path that points to a cloned repository.

[2019-11-19 10:59] miguelpruivo commented on #179
@MaikuB thank you for the input. The only reference to a local engine (which is reported on the logs) was in the new `flutter_environment` file that I had on the example app (iOS folder).

Did that happen on iOS builds or Android as well? Because I can't relate to anything else but let someone give it a try just to make sure it is working now.

[2019-11-19 11:09] MaikuB commented on #179
Believe it was just on Android. Will confirm tomorrow

[2019-11-19 11:22] miguelpruivo commented on #179
@MaikuB ok, just checked directly with the artifacts from `pub.dev` and version `1.4.3` has a dependency that prevents build on Android.

For those that experience this issue do a `flutter clean` and set the version in the pubspec.yaml to `file_picker: 1.4.3+1` and it should be all good now.

I'll leave this open until further reports that it's working as expected. Thank you all.

[2019-11-19 21:57] duindain commented on #179
Thanks @miguelpruivo I've run flutter clean and changed the reference to
`file_picker: ^1.4.3+1`
And it is compiling and running once more

Thanks for such a quick response too

Cheers

[2019-11-20 00:41] miguelpruivo commented on #179
Glad that it worked @duindain. I thank you for reporting.

[2019-11-20 00:41] #179 closed

[2019-11-20 06:44] MaikuB commented on #179
The fix worked for us as well

[2019-11-20 23:40] sgalway00 commented on #173
Sorry for the delay.  I did test this on an iOS simulator at it works as expected.  I then went back and tested it on an Android and somehow its working again.  Not quite sure what's different but I'll keep an eye on it.

[2019-11-20 23:42] miguelpruivo commented on #173
Glad it's working (and it should be, that's why I asked you to test on a different device). Feel free to reopen this if you experience the same issue again. 🙂

[2019-11-20 23:42] #173 closed

[2019-11-21 17:12] gabdsg opened #181 "iOs open gallery with videos and images at the same time"
Can you add the possibility of open the gallery and show images and videos at the same time?
Something like FileType.GALLERY.
Thanks.

[2019-11-22 23:07] dfmiller commented on #99
For all file types please

[2019-11-23 18:59] rahulserver opened #182 "This doesn't give the original path of picked file"
The plugin just gives a cached copy of whatever file is selected. Its very confusing and should be explicitly mentioned in documentation.

Would be great if there is a way to get the actual path of the original "picked" file.

[2019-11-23 19:07] miguelpruivo commented on #182
@rahulserver there is already a discussion regarding this on #169.

On Android, basically, the plugin always tries on best effort to get the real path from the file, unless for some reason is protected or from a remote end where it needs to be cached. On iOS this never happens and it is _always_ used a copy from the original file, just like in any other iOS application, as it immediately makes a c

[2019-11-23 19:07] #182 closed

[2019-11-23 19:10] rahulserver commented on #182
@miguelpruivo shouldn't this be explicitly mentioned in the plugin docs/home page?

[2019-11-23 21:31] miguelpruivo commented on #182
@rahulserver typically iOS developers won’t expect files to be the original as its not supported natively and on Android most of the times you should be handling the absolute path unless one of the above reasons happen (most of the time being files from cloud services, thus, caching is always required). It can make sense on the docs nevertheless. However, currently, when caching is made, there are

[2019-11-24 19:57] Laban1 commented on #24
I am having a similar issue, but unable to use the FilePicker at all (Android emulator).

First I tried:

    var path = FilePicker.getFilePath(type: FileType.CUSTOM, fileExtension: 'json’);

"Unsupported filter. Make sure that you are only using the extension without the dot, (ie., jpg instead of .jpg). This could also have happened because you are using an unsupported file extension.  If the pro

[2019-11-28 08:02] Renatinaveen opened #183 "Not asking Permissions"
**Describe the bug**
In IOS it's not asking for permissions from user and it's not showing the permissions required even after adding the required keys in info.plist file.
**Issue details**
1. Platform (iOS)
2. OS version 13.1.2
3. File type (all)

[2019-11-28 13:06] Veteraanikoodari commented on #169
Can confirm. Had the exact same issue and the suggested (temporary) solution worked perfectly. It was really surprising to see that I could pick a file, query about it's existence but exception (Error 13) )was thrown as soon as I tried to actually read the contents of the file. (Android 10. OnePlus 7Pro).

BTW: Miguel, thx for great plugin! It rocks!

[2019-11-28 13:22] miguelpruivo commented on #183
Hi @Renatinaveen never had something like this reported, which is odd. Do you have access to the files anyway? If so, that's because you already had permissions. Try to completely delete the app and then re-install it.

Thank you.

[2019-11-28 13:23] miguelpruivo commented on #181
Hi, might make sense. I'll move this to the suggestions thread. Thank you!

[2019-11-28 13:23] #181 closed

[2019-11-28 14:42] Renatinaveen commented on #183
<key>NSPhotoLibraryUsageDescription</key>`

	<string>$(PRODUCT_NAME) does not have access to your photos. To enable access, tap Settings and turn on Photos. </string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>C

[2019-11-28 14:44] Renatinaveen commented on #183
This is my info.plist file

I have added the photo permission and ui background also. When i Installed the app it doesn't ask for permissions it just opens photos. Even in the settings the photos permissions doesn't show. So i have added a plugin permission_handler to check permission and display dialog.

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "

[2019-11-28 14:46] Renatinaveen commented on #183
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) does not have access to your photos. To enable access, tap Settings and turn on Photos. </string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LA

[2019-11-28 14:50] Renatinaveen commented on #183
I have added the permissions. It doesn't ask for permission dialog when i perform operation to get images from photo library.

It doesn't show required permissions under the application.

I have added the permission handler plugin to handle the permission dialog in iOS

[2019-11-29 12:20] Murtuzakabul commented on #99
Is there any chance of this feature in near future. I can understand that that it is lot of work as the implementation is quite complicated for different platforms. Further, it is probably impossible in iOS. As a head start, is it possible to get it done just for desktop platforms for now. I am doing a desktop app and I really miss this feature.

[2019-12-01 09:09] kenthinson opened #184 "Feature Request: Folder path picker."
It seems I can limit the path picker by extension. However I see no way to limit the picker to a folder only. It would be great if this was an option. Also I am aware of folder_picker 0.3.0 however they don't support desktop. So I figured it was more low hanging fruit to add to this project.

[2019-12-01 09:50] arkanmgerges commented on #24
Hi, I also wanted to get may backed up sqlite db, I've used FileType.CUSTOM and fileExtension: "sqlite", and fileExtension: "db", and both of them did not work.
Even I've used FileType.ANY and it does not show my backup_db.sqlite file even I tried backup_db.bin and backup_db.sqlite, and none of them worked for me.

[2019-12-05 16:56] natintosh opened #185 "Fatal Exception: java.lang.NullPointerException:"
Hi 👋 @miguelpruivo, I notice a similar trend that the package cause the my in production app to crash on devices with  **low free ram** from Crachlytics

Here is the log from crashlytics

[code]

[code]

[code]

[code]

[2019-12-11 07:55] guit4eva commented on #99
Is it possible to limit the number of files that can be picked?

[2019-12-11 08:58] miguelpruivo commented on #99
On native pickers I’m afraid not @guit4eva, but you can do that on the apps side after picking.

[2019-12-11 10:27] guit4eva opened #187 "Assertion Failure on iOS"
I am getting the following error on an iPhone 4s:

In the documentation, it states:

However, I am using **getMultiFile** with **FileType.IMAGE**:

`await FilePicker.getMultiFile(type: FileType.IMAGE)`

Does this also require CloudKit being enabled, or is this another issue?

[2019-12-16 10:31] wenNao opened #188 "拿不到pdf和doc的文件呀"
能同时拿pdf和doc的文件嘛

[2019-12-16 10:40] miguelpruivo commented on #188
@wenNao  您好，目前不行。 将来，将同时为多种文件类型添加过滤器。 PS：将来请说英语。

[2019-12-16 10:40] #188 closed

[2019-12-16 10:41] miguelpruivo commented on #184
This is a feature request already, you can check on #99. Thank you!

[2019-12-16 10:41] #184 closed

[2019-12-16 10:42] miguelpruivo commented on #185
@natintosh in which devices are that happening? Thank you.

[2019-12-16 10:43] miguelpruivo commented on #187
Hum, it shouldn't. Could you please try with it on? Thank you.

[2019-12-16 10:44] guit4eva commented on #187
Sure, I'm just waiting for my Apple Developer account to be approved

[2019-12-16 11:22] natintosh commented on #185
![image](https://user-images.githubusercontent.com/27495055/70903183-9fb7d280-1ffe-11ea-8484-f6e20a481562.png)

![image](https://user-images.githubusercontent.com/27495055/70903192-a5151d00-1ffe-11ea-8d2f-72574f06b092.png)

![image](https://user-images.githubusercontent.com/27495055/70903197-a9d9d100-1ffe-11ea-87f7-16f711f77b8f.png)

![image](https://user-images.githubusercontent.com/27495055/7090

[2019-12-16 11:32] miguelpruivo commented on #185
@natintosh 20% of...? How many users do you have running it? If it's happening only in a few devices that -- probably -- are running custom ROMS, it can be hard to deploy an effective fix for it, specially when it's from vendors that are less popular.

[2019-12-16 14:44] natintosh commented on #185
Thanks for your quick response @miguelpruivo I currently have over 600 user and you are right all of this devices are running custom ROM other than AOSP version. this issue only affect <5% of my users daily, I just thought of raising this since it has been the major cause of crashes on the app. I'll be closing this issue now

[2019-12-16 14:44] #185 closed

[2019-12-16 21:09] mintermania opened #189 "Cannot build app with flutter_file_picker"
**Error Log**
`
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':get_ip:verifyReleaseResources'.

     /home/markon/.gradle/caches/transforms-2/files-2.1/0a271e99b6771ad4a84318244d532fb7/core-1.0.0/res/values/values.xml:57:5-88:25: AAPT: error: resource android:attr/fontVariationSettings not found.

     /home/markon/.gradle/caches/transforms-2/files-2.1/0a2

[2019-12-17 00:04] miguelpruivo commented on #189
This looks like an issue with your Flutter setup actually.

[2019-12-18 08:54] nandychu commented on #189
Same here...
[√] Flutter (Channel beta, v1.11.0, on Microsoft Windows [Version 10.0.17763.914], locale en-US)
    • Flutter version 1.11.0 at C:\flutter
    • Framework revision 856a90e67c (6 weeks ago), 2019-11-08 18:00:01 -0800
    • Engine revision af04338413
    • Dart version 2.7.0

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
    • Android SDK at C:\Users\

[2019-12-18 09:34] vAugagneur commented on #189
Hi, i have exactly the same issue.
I'm on mac and ios build is ok.

[2019-12-18 09:42] vAugagneur commented on #189
For your information, i have the issue only after upgrade flutter in the last stable version

[✓] Flutter (Channel stable, v1.12.13+hotfix.5, on Mac OS X 10.15.1 19B88, locale fr-FR)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 11.1)
[✓] Android Studio (version 3.5)

[2019-12-18 10:10] vAugagneur commented on #189
i solved this issue by using this 2 commande lines and reboot android studio :
export ANDROID_HOME=/Users/{MYUSERNAME}/Library/Android/sdk/
export PATH=$PATH:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools

[2019-12-18 10:11] miguelpruivo commented on #189
@vAugagneur so it's safe to assume that's not related to the package itself? Thank you.

[2019-12-18 10:51] miguelpruivo commented on #189
@vAugagneur @mintermania I've deployed [1.4.3+2](https://pub.dev/packages/file_picker#1432) on pub.dev with a fix for this. Please, may you clean your project and rebuild it with `file_picker: 1.4.3+2` and let me know if it fixed for you. If so, feel free to close this.

Thank you.

[2019-12-19 12:12] geoah commented on #145
@AndrsDev I'm playing around with flutter desktop (not go-flutter) and I was wondering how you managed to run this for macOS. Can't find anything in the docs that is not specific to go-flutter.

Thank you.

[2019-12-21 09:29] kleinpetr opened #190 "multiple types"
1) How can I allow multiple types, for example IMAGE and VIDEO together?

2) How can I choose multiple images from gallery in iOS?

Thank you

[2019-12-21 09:55] dvasea1 opened #191 "Multiple selection doesn't working"
Downloaded example. Tested on Android, multiple file picker don't working.

[2019-12-21 17:10] CosimoSguanci commented on #189
I have this issue and it's not fixed with the latest version (1.4.3+2)

[2019-12-22 09:26] kleinpetr commented on #190
Anything?

[2019-12-22 11:37] miguelpruivo commented on #190
Hi @kleinpetr,

For picking images from gallery on iOS just use `FileType.IMAGE`.

As for picking vídeos and images at same time, currently is not supported. You’ll have to use both `FileType.IMAGE` and `FileType.VIDEO` individually.

There are already a feature request (#99) to support multiple types at same time, just hadn’t the time yet to implement it. I hope that by the next days I’ll have ti

[2019-12-22 11:37] #190 closed

[2019-12-22 13:24] kleinpetr commented on #190
@miguelpruivo

Yes its working when you can pick only one file. When I use this `FilePicker.getMultiFilePath(type: FileType.IMAGE)` on ios, its open the documents instead gallery

[2019-12-22 15:21] miguelpruivo commented on #190
@kleinpetr yes, that’s also mentioned in that feature request. Currently will only work for _single_ pick.

[2019-12-30 03:07] AnandSaran opened #192 "For Desktop i'm facing following issue: MissingPluginException(No implementation found for method pickImage on channel plugins.flutter.io/image_picker)"
flutter: [FilePicker] Unsupported operation. Method not found. The exception thrown was: MissingPluginException(No implementation found for method IMAGE on channel file_picker)
[ERROR:c:\b\s\w\ir\cache\builder\src\flutter\lib\ui\ui_dart_state.cc(157)] Unhandled Exception: MissingPluginException(No implementation found for method IMAGE on channel file_picker)

[2019-12-30 08:14] miguelpruivo commented on #192
Hi @AnandSaran, desktop is only supported currently via go-flutter. Please, refer to the wiki.

Thank you.

[2019-12-30 08:14] #192 closed

[2019-12-30 09:56] AnandSaran commented on #192
Hi  @miguelpruivo i tried with Go Flutter but still same issue

[2019-12-30 15:38] bentomikael commented on #189
Hello Miguel
when i import file picker dependeces my flutter crash with this message:
The built failed likely due to AndroidX incompatibilities in a plugin. The tool is about to try using Jetfier to solve the incompatibility.
Building plugin cloud_firestore...
Running Gradle task 'assembleAarRelease'...
The plugin cloud_firestore could not be built due to the issue above.

The problem do not is cl

[2019-12-30 16:38] miguelpruivo commented on #189
@bentomikael and if you remove `cloud_firestore` and leave `file_picker`? It might be that `cloud_firestore` version that you are trying to use or `file_picker` isn't updated to AndroidX. Which version of both are you using?

[2019-12-30 16:47] bentomikael commented on #189
if i remove cloudfirestore  same error occurs, but with file_picker
#file_picker: ^1.4.3+1
#cloud_firestore: ^0.13.0+1

[2019-12-30 16:48] miguelpruivo commented on #189
@bentomikael make it explicitly to use `file_picker: 1.4.3+2` do a `flutter clean` a build again.

[2019-12-30 16:55] bentomikael commented on #189
this solved my problem! Thank you @miguelpruivo

[2019-12-31 01:07] #189 closed

[2020-01-02 15:14] AlienwareHe opened #193 "Mac osascript select file output does not contains ":" so that couldn't pick the file on mac!"
**Describe the bug**
when use the file picker on mac,the file_darwin.go
[code]
output is such as:
[code]
so use 'pathParts := strings.Split(trimmedOutput, ":")' to split result is "/"!

and if i want to fix the issue, how can i do  it?(I am a flutter newer from  china, my english is poor...lol)

hope you can help me ~ thanks!!

[2020-01-03 00:28] sgehrman opened #194 "Fails for files named with colons. (on Android)"
**Describe the bug**

Fails for file names with colons.

file named:  (DateTime toString).json
'2020-01-02 16:24:18.021099.json'

File file = await FilePicker.getFile();

await file.readAsString();

FileSystemException (FileSystemException: Cannot open file, path = '/storage/emulated/0/Android/data/re.distantfutu.therapist_training/files/2020-01-02 16' (OS Error: No such file or directory, errno =

[2020-01-03 01:06] miguelpruivo commented on #194
@sgehrman there was already been reported a similar issue, which you can see the discussion on #166.

Basically, using `:` on file names is invalid in most systems. If you try to rename the file on your device it shouldn’t allow you to insert `:`. That also happens on Windows/Mac naming. I tried to replicate it multiple times to fix the above reported issue and I couldn’t find a reliable way yet.

[2020-01-03 22:14] sgehrman commented on #194
I save the file in Android/flutter using
var file = File('/path/to/file:with:colons.txt');
file.writeAsString(contents);

That works when saving to Android.  And the file works and shows up on Android.

I already fixed my code to remove colons from the name before saving, but it would be good if your code handled it.

Thanks

[2020-01-08 05:59] gjrjf opened #195 "FilePicker.getFile(type: FileType.ANY); does not work"
**Issue details**
1. Platform (Android)
2. OS version
3. File type (filter)
4. Steps to reproduce

**Error Log**
[ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: MissingPluginException(No implementation found for method ANY on channel file_picker)
E/flutter (21367): #0      MethodChannel.invokeMethod (package:flutter/src/services/platform_channel.dart:319:7)
E/flutter (21367): <as

[2020-01-08 08:30] TheHemantKaushik opened #196 "Add support for Android V2 embedding"

[2020-01-08 09:51] miguelpruivo commented on #195
@gjrjf whats the issue? What are you trying to achieve?

[2020-01-08 09:53] miguelpruivo commented on #191
@dvasea1 you must tap and hold on files to activate multiple selection.

[2020-01-08 09:56] miguelpruivo commented on #194
@sgehrman that somehow could open potential issues as it contains forbidden characters. Would rather let the user be presented with an error so he could be warned about invalid file name.

Anyhow, for handling it, you can see why it wasn’t implemented yet on #166.

Thank you.

[2020-01-08 09:56] #194 closed

[2020-01-08 10:09] gjrjf commented on #195
at  " ^1.4.3+2 " Version
FilePicker.getFile(type: FileType.ANY);  => does not work

errLog : Unhandled Exception: MissingPluginException(No implementation found for method ANY on channel file_picker)

[2020-01-08 10:48] miguelpruivo commented on #195
Hum, there must be something missing. If it would not work, it would affect several more Android users for sure.

Which version of Flutter are you using? Can you try running the example app provided with the plugin and see if it works for you?

Thank you.

[2020-01-08 11:19] gjrjf commented on #195
Flutter Version is

flutter --version
Flutter 1.12.13+hotfix.5 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 27321ebbad (4 weeks ago) • 2019-12-10 18:15:01 -0800
Engine • revision 2994f7e1e6
Tools • Dart 2.7.0

Thanks

[2020-01-11 17:10] whigger85 commented on #169
One additional comment from my observations: Within your plugin you use the method "Environment.getExternalStorageDirectory()". According to the [docs](https://developer.android.com/reference/android/os/Environment.html#getExternalStorageDirectory()), the method is depcreacted and the path returned by this method is not accessible by apps.
Thus, even reading files from this folder using Flutter/Da

[2020-01-11 17:44] neckaros commented on #168
I think it is now possible with https://developer.apple.com/documentation/uikit/view_controllers/providing_access_to_directories right?

[2020-01-15 14:34] chitgoks opened #197 "Pass theme data to file picker"
this is more of a feature request.

when i open the file picker, it would be nice to have a way to pass themedata so that the color scheme will be the same.

[2020-01-15 14:39] miguelpruivo commented on #197
Hi, thank you @chitgoks, I'm not sure if that's possible in iOS at all (or even Android) because they disallow custom theming for native File Explorer (at least, I haven't seen one).

[2020-01-15 14:39] #197 closed

[2020-01-15 14:58] chitgoks commented on #197
ok thank you for the info

[2020-01-16 07:22] Boehrsi commented on #195
I can confirm this problem. It's related to https://github.com/miguelpruivo/flutter_file_picker/issues/196.
As soon as an App uses the Flutter 1.12.x + Android v2 embedding the plugin stops functioning. The reason is https://github.com/miguelpruivo/flutter_file_picker/blob/master/android/src/main/java/com/mr/flutter/plugin/filepicker/FilePickerPlugin.java#L43, as the registrar will always return `

[2020-01-16 07:26] Boehrsi commented on #196
Some context:

- How to: https://flutter.dev/docs/development/packages-and-plugins/plugin-api-migration
- Why: Apps using the v2 embedding can't use the file_picker plugin, as it stops functioning
- More information: https://github.com/miguelpruivo/flutter_file_picker/issues/195#issuecomment-575018902

[2020-01-16 07:37] Boehrsi commented on #195
As this is currently blocking me I would just try to prepare a PR today, would that be okay for you @miguelpruivo or would you like to do this yourself?

[2020-01-16 10:40] miguelpruivo commented on #195
@Boehrsi no problem, since this is blocking, I'll take a look even today and probably deploy a new version with it on pub.dev. I'll keep you updated.

Thank you!

[2020-01-16 11:00] Boehrsi commented on #195
@miguelpruivo thanks a lot :+1: . As I had some spare time I already did some changes in my fork (https://github.com/Boehrsi/plugins_flutter_file_picker/commits/192_embeddingV2) which already works now. If you like I could create a PR or you can just have a look, just tell me if I should create the PR :). Haven't had the time to clean up the commit until now (formatting and stuff).

[2020-01-17 18:23] kxait commented on #195
Any way to work around this quickly?

[2020-01-17 19:29] Boehrsi commented on #195
@kxait you could do something like
[code]
in your `pubspec.yaml`. It's my fork which works fine (at least for me no bugs occurred). If you don't like to depend on someone else repository directly (as it could change without your knowledge at any point in time) you can just copy / fork my fork and depend on this.
But I would assume this is fixed in the near future with an official release :).

[2020-01-17 19:32] kxait commented on #195
Thanks so much, I needed a quick fix and didn't really know how to do this. Hoping on the update soon!

[2020-01-17 19:39] Boehrsi commented on #195
@kxait no problem :), but I would generally not push releases with dependencies like this. For testing and unblocking development it's nice, but as I'm not the maintainer of the project and don't know all internal flows of the plugin, my fix could be not as stable as this plugin normally is. Please be aware.

[2020-01-17 19:47] kxait commented on #195
Thanks for letting me know, but I'm just working on a hobby project :)
By the way, is an issue with flutter unexpectedly dropping and quitting after selecting a file in any way related to this?

[2020-01-17 20:50] Boehrsi commented on #195
Hmm, I didn't had something similar, so can't tell sorry. Yeah, for a hobby project I would assume that temp solution should be fine :).

[2020-01-17 21:48] miguelpruivo commented on #195
I’ll be working on this during the weekend so you can expect a pubspec release until Sunday.

Sorry guys, time has been short.

[2020-01-17 23:41] kxait commented on #195
@Boehrsi has this been working for you? I can't get around the issue where the app crashes after exiting out of the file picker (regardless if file was chosen or not), reproduced this in the example app and on different devices (different AVDs too). Keep in mind this is on your fork, not the official repo so I'm not going to submit an issue.

[2020-01-18 10:12] Boehrsi commented on #195
@kxait sorry for the problems, I've just tested it again in my project without problems. If you checkout my fork (it contains an adjusted example app), does this work for you?

[2020-01-18 13:26] kxait commented on #195
@Boehrsi some progress: I modified my AndroidManifest.xml in line with the one with your fork, the changes:

- removed application android:name
- removed activity android:name and android:launchMode
- added activity android:name
- modified activity meta-data android:name and android:value

The file picker no longer crashes the app upon exiting it, but now my DefaultCacheManager is throwing Missing

[2020-01-18 15:12] kxait commented on #195
Figured it out. Activity parameter android:name can be either `".MainActivity"` or `"io.flutter.embedding.android.FlutterActivity"` for the app to launch, the cache works with `.MainActivity` and the picker makes the app crash, but `io.flutter.embedding.android.FlutterActivity` causes the app to crash with:
`MissingPluginException(No implementation found for method getDatabasesPath on channel com.

[2020-01-18 16:07] Boehrsi commented on #195
It seems like the other mentioned plugins aren't ready for the v2 embedding yet. In general this means only v1 embedding is possible for you. As plugins using v2 *should be backward compatible*, but if a plugin only is v1 compatible, v2 can't be used.
The strange thing are the problems you having with my fork, as I tested it with the v1 and v2 embedding, both without problems, so it should work.

[2020-01-19 23:03] rlee1990 opened #198 "Issue with audio files on iOS"
When using this to get audio files on iOS they all end up empty even though it has the file path.  The audio files are there on the device and play outside the app.

Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.12.13+hotfix.5, on Microsoft Windows [Version 10.0.18362.592], locale en-US)

[√] Android toolchain - develop for Android devices (Android SDK

[2020-01-19 23:08] rlee1990 commented on #198
Here is a log of the path when I get the file
`flutter: ipod-library://item/item.mp3?id=7047353994216599616`

[2020-01-19 23:08] rlee1990 commented on #198
Using iPhone xr

[2020-01-20 00:48] miguelpruivo commented on #198
@rlee1990 Ok, it seems that the file might need to be cached to somewhere else (eg. Documents path) before being able to be used within your app.

This needs to be done on plugin's side. I'll have to take a look when I have some time. Thank you.

[2020-01-20 00:49] miguelpruivo commented on #196
Closing this as a dup of #195. You can follow the discussion there.

[2020-01-20 00:49] #196 closed

[2020-01-20 00:52] miguelpruivo commented on #195
Guys, just to let you know that I didn't forget this and I was hoping to have some time by the weekend but it turns out that I didn't.

I'm aware that this is a high priority issue that might be affecting a few users and I'll try to solve it even before Wednesday (maybe tomorrow) because otherwise only by the next week (due to Flutter Europe event).

I'll keep you updated.

Thank you!

[2020-01-20 11:03] miguelpruivo commented on #187
Any news on this @guit4eva ?

[2020-01-20 11:03] miguelpruivo commented on #183
Have you managed to solve this @Renatinaveen ?

[2020-01-20 11:04] miguelpruivo commented on #165
Since there's no further details on this, I'll assume that it has been solved for you.

Feel free to re-open if you still experience any issue related to this.

Thank you.

[2020-01-20 11:04] #165 closed

[2020-01-20 11:05] miguelpruivo commented on #152
Since there's no further details on this, I'll assume it has been fixed. Feel free to re-open if you still experience any issue with this.

Thank you.

[2020-01-20 11:05] #152 closed

[2020-01-20 11:05] miguelpruivo commented on #193
@GeertJohan do you know what might be?

[2020-01-20 11:06] miguelpruivo commented on #191
Did it worked for you @dvasea1 ? If so, feel free to close this.

Thank you.

[2020-01-20 11:19] miguelpruivo commented on #183
@Renatinaveen which permissions are you asking for? Because so far, all the permissions should be handled within the plugin itself (iOS doesn't require runtime permissions, only entitlements and Android are asking for it).

[2020-01-20 11:23] Renatinaveen commented on #183
Android I didn't have any issues. I was asking permissions for storage and
photos. In iOS it wasn't asking for permissions it was directly opening
files or photos if I choose to open something.

On Mon, 20 Jan, 2020, 16:49 Miguel Ruivo, <notifications@github.com> wrote:

[2020-01-20 12:37] miguelpruivo commented on #183
@Renatinaveen that's because you already had the entitlements in your info plist. I don't see that as an issue. Do you wanted to _explicitly_ ask for permissions? Is that it?

[2020-01-20 12:41] Renatinaveen commented on #183
I have added the entitlements in info.plist yeah. But when the user
installed the app and when he clicks on the image upload button it should
ask for permission right? That was not happening it just directly take the
user to photos app.

On Mon, 20 Jan, 2020, 18:07 Miguel Ruivo, <notifications@github.com> wrote:

[2020-01-20 12:49] miguelpruivo commented on #183
@Renatinaveen yeah it should on the first access, but if for some reason they’re being granted access, that’s because the permissions were already given somehow.

[2020-01-20 12:51] Renatinaveen commented on #183
So what should I do now? For Android I wasn't having any issues for iOS
alone I have this. And I am working live project so I used permission
handler package and continued. If you got any solution please let me know.

On Mon, 20 Jan, 2020, 18:19 Miguel Ruivo, <notifications@github.com> wrote:

[2020-01-20 13:48] miguelpruivo commented on #183
Well... if you have permissions already I wouldn’t bother in forcing them.

Which iOS version are you testing under?

[2020-01-20 14:03] Renatinaveen commented on #183
iOS 13

When I install app and check permissions nothing will be visible and I open
app do the Operation and check the permissions again it'll be there and
allowed. And If I disable there and go back to app and perform operation
nothing happens.

Using permission handler when I install app I can see what permissions the
app requires.

On Mon, 20 Jan, 2020, 19:18 Miguel Ruivo, <notifications@github

[2020-01-20 22:47] miguelpruivo commented on #183
I'm not sure if I have clearly understand what's happening with you, yet, after all this debate. Let's break it down.

If you completely delete the app, install it, and access the files that you want to access, what happens? You can access it without being asked for permissions? Is that it?

[2020-01-21 00:07] miguelpruivo commented on #172
I'm closing this since no further info was been given in the meantime. Feel free to re-open it if you have more details.

Thank you.

[2020-01-21 00:07] #172 closed

[2020-01-21 00:43] miguelpruivo commented on #195
@Boehrsi I've spent some time around this and it looks like it will take a bit more time that I expected in order to properly implement it. Just need a few more details from you, since you have further worked into it.

From what I saw, `FlutterPluginBinding`  replaces `Registrar` in V2, but does that mean that V2 is _only_ used in Android apps that are trying to embed Flutter in? What were you try

[2020-01-21 01:30] eriklueth commented on #183
Hey,
for me its the same on android 10.0.0 with Flutter Channel dev, v1.13.0. When I call await FilePicker.getFile(fileExtension: 'pdf') it does nothing. In the console it prints:
I/FilePicker(13680): Checking permission: android.permission.READ_EXTERNAL_STORAGE
I/FilePicker(13680): Requesting permission: android.permission.READ_EXTERNAL_STORAGE
but doesn't ask for permissions. Also uninstalled th

[2020-01-21 01:40] miguelpruivo commented on #183
@eriklueth what if you try in a different device or go into the settings manually of the app and grant permission? Android 10 introduced some nuances that were already addressed in later versions.

Also, make sure you’re running the latest plugin version.

Thank you.

[2020-01-21 01:48] eriklueth commented on #183
I'am running your latest version. On android 10 I can't give the permission manually, if it isn't defined in the Android Manifest. Should I add it there? In your setup documentation it says nothing about it. I will try with the emulator with Android 9 in a second.

[2020-01-21 01:49] miguelpruivo commented on #183
@eriklueth just add the permission manually (to read and write external memory) on your manifest and give it a shot.

[2020-01-21 02:01] eriklueth commented on #183
Tried it, but also doesn't work. Not even showing in the app permission area in settings, to grant it manually. Haven't really looked into android 10 until now, but looks like it works different now.

[2020-01-21 07:48] Boehrsi commented on #195
@miguelpruivo sure no problem :).

- `FlutterPluginBinding` replaces `Registrar` is true for user who embed via V2, if v1 is used the Registrar part should stay. That's the reason why I kept the `registerWith` class in my PR (https://github.com/Boehrsi/plugins_flutter_file_picker/commit/64596b1d117757d63e86fc8141cdf9062399bfa6#diff-8f1f188de7002bd224459770dd4781f2L41) it should provide backward co

[2020-01-21 07:57] Renatinaveen commented on #183
Yes, that's exactly what's happening.

On Tue, 21 Jan, 2020, 04:17 Miguel Ruivo, <notifications@github.com> wrote:

[2020-01-22 09:57] guit4eva commented on #187
Still waiting... After over a month and 4 attempts at payment (four different banks and cards) for the developer account due to a problem on Apple's side, I've had to do a wire transfer - now waiting for that to be finalized. What a mission!

[2020-01-22 21:56] xal commented on #183
@Renatinaveen Did you use multi-file selection on iOS? In this case library open simple file chooser without access to photo library
@miguelpruivo Could you add an exception for multi-select audio/video on ios before implementation will be implemented? I can PR If you want. It is not easy to understand what going wrong. It is easy to miss one line about this in readme

[2020-01-22 22:46] miguelpruivo commented on #183
Yes I’ll add it @xal

[2020-01-23 10:39] Renatinaveen commented on #183
No i am not using the multiple selection.

On Thu, Jan 23, 2020 at 4:16 AM Miguel Ruivo <notifications@github.com>
wrote:

[2020-01-26 17:39] jpainam opened #199 "calling await FilePicker.getFile() reset the textFormFields"
Hi, calling `await FilePicker.getFile()` on button pressed resets the previous textFormfield. I even tried to set the `initialValue` of textFormfield, but it didn't work.
Any one facing the same issue here?
[code]

[2020-01-26 18:09] miguelpruivo commented on #199
@jpainam with your description this seem to have nothing related with the plugin itself. That’s because you have your `TextFormField` in a `StatelessWidget` and because returning from the picker may trigger a new frame, it can result in loosing the `TextFormField`s text.

This should happen with any other widget/plugin that would schedule a new frame. As a solution, if your `TextFormField` isn’t i

[2020-01-26 21:32] jpainam commented on #199
My `TextFormField` is inside a `StatefullWidget`. Replacing your pluging with any other plugin such as `image_picker` from the flutter team didn't reset my `textformfield`. That why i opened the issue here. If no one has experienced the same issue, then  We can close this issue. I

[2020-01-26 22:31] miguelpruivo commented on #199
@jpainam there must be something somewhere else then.

This is the kind of issue that can’t be related at all with the plugin because it only gets you the path of the file(s) without scheduling any new frame.

Does that happen on iOS, Android or both? Are you using a custom `TextEditingController`?

[2020-01-27 10:59] jpainam commented on #199
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/1701705/73169443-07e9f000-4137-11ea-890e-871797a48040.gif)
No custom `TextEditingController`. I just tried with a fresh flutter app `The counter app`. Here a gif showing the result.
Here the code
[code]

[2020-01-27 11:19] miguelpruivo commented on #199
Thank you. Could you please answer to my previous questions? That'd help.

[2020-01-27 11:22] jpainam commented on #199
I just tried this on a real device Android. not on iOS
No custom `TextEditingController`

[2020-01-27 11:24] miguelpruivo commented on #199
Could you please try in an iOS emulator and/or other Android?

Thank you.

[2020-01-27 11:43] jpainam commented on #199
I got the same results on an android emulator. sorry, I don't have an environment set up for iOS.

[2020-01-27 11:47] jpainam commented on #199
Check this gif. The behavior is different on an emulator. The content of the textfield remained for the first time. Second time, the content is cleared.
![untitled](https://user-images.githubusercontent.com/1701705/73172354-c4df4b00-413d-11ea-84f2-a191d5ebd747.gif)

[2020-01-27 12:27] miguelpruivo commented on #199
I’ll take a look and see if I can reproduce it.

Thank you.

[2020-01-31 23:34] rlee1990 commented on #99
@miguelpruivo any chance that a web version might be coming soon?

[2020-01-31 23:55] miguelpruivo commented on #99
@rlee1990 I would like to, but I can’t promise you a date. There are a few things on the pipeline that I’d like to implement first.

[2020-01-31 23:57] rlee1990 commented on #99
@miguelpruivo I understand. Web is still in beta anyway for the time being what @guiguan suggested works so I will use that for now.

[2020-02-01 00:10] miguelpruivo commented on #99
@rlee1990 I might add web support in the next release anyhow, since it should be quite easy to include it anyway.

I’ll keep you updated.

[2020-02-01 00:11] rlee1990 commented on #99
@miguelpruivo thanks once I have some free time I'd love to help if possible.

[2020-02-01 18:48] miguelpruivo commented on #99
@rlee1990 @guiguan and some others that wanted web support, I've drafted the implementation and I believe that can be handled right away (even though is inserted on the same plugin to make it easier as of now).

Would you mind to please give it a try on one of your web projects that required it by using a reference to the `web-support` branch instead:
[code]
and then use the method:
[code]
Which w

[2020-02-02 10:29] alby97 commented on #99
+1 for #68

[2020-02-03 15:18] philliping opened #200 "App crash on iOS when tapping a cloud file multiple times"
**Describe the bug**
When selecting a file from cloud storage (Google Drive) using the file picker `FilePicker.getFilePath(type: FileType.ANY)`  multiple taps of a file may cause the app the crash. When uploading using iCloud a loading indicator is shown on the file icon, but using Google Drive no loading indicator is shown to the user. So they may tap multiple times before the file has completed

[2020-02-03 17:02] miguelpruivo commented on #200
What if you wait instead of tapping multiple times? Does that still happen?

[2020-02-03 17:04] philliping commented on #200
If you wait it does not crash, only if you tap multiple times.

[2020-02-03 17:13] miguelpruivo commented on #200
Which file picker version are you at?

[2020-02-03 18:02] philliping commented on #200
`1.4.3+2`

[2020-02-04 02:51] rlee1990 commented on #99
@miguelpruivo sorry for the late reply but I get this error:
`A value of type 'List<File> (where File is defined in D:\nexttech\flutter_windows_v1.5.4-hotfix.2-stable\flutter\bin\cache\pkg\sky_engine\lib\html\html_dart2js.dart)' can't be assigned to a variable of type 'List<File> (where File is defined in D:\nexttech\flutter_windows_v1.5.4-hotfix.2-stable\flutter\.pub-cache\hosted\pub.dartlang.org

[2020-02-04 02:53] rlee1990 commented on #99
Sorry @miguelpruivo it works just gives you those errors.

[2020-02-04 09:36] miguelpruivo commented on #99
@rlee1990 you shouldn’t have to cast because I’m already returning a `List<html.File>`. Anyhow, is it working?

[2020-02-04 11:16] rlee1990 commented on #99
@miguelpruivo it does work and it only makes me cast if I make my list a list of html.File

[2020-02-04 11:21] miguelpruivo commented on #99
@rlee1990 weird. It should be the same object instance. How are you importing your `html.File`?

[2020-02-04 11:32] rlee1990 commented on #99
@miguelpruivo  I import it the way @guiguan suggested

[2020-02-04 12:07] miguelpruivo commented on #99
@rlee1990 I don't get it then. Check answer [above](https://github.com/miguelpruivo/flutter_file_picker/issues/99#issuecomment-581717670), do you have to cast it or not? 😄

[2020-02-04 12:13] rlee1990 commented on #99
@miguelpruivo you do not if you type it like this:
`final List files = await FilePicker.getFilesForWeb(); ` it will work with no issue

[2020-02-04 13:24] miguelpruivo commented on #99
@rlee1990 what's the exception thrown if you do:
[code]

[2020-02-04 14:02] rlee1990 commented on #99
I get this:
`A value of type 'List<File> (where File is defined in D:\nexttech\flutter_windows_v1.5.4-hotfix.2-stable\flutter\bin\cache\pkg\sky_engine\lib\html\html_dart2js.dart)' can't be assigned to a variable of type 'List<File> (where File is defined in D:\nexttech\flutter_windows_v1.5.4-hotfix.2-stable\flutter\.pub-cache\hosted\pub.dartlang.org\universal_html-1.1.12\lib\src\html\api\file.dart

[2020-02-04 15:10] miguelpruivo commented on #99
Hum, I get it @rlee1990. We are using different `File` imports. Just use the same and you should be fine. Are you using: `import 'dart:html' as html;`?

[2020-02-04 15:26] miguelpruivo commented on #200
There was an issue related to this, but should have been fixed by now. Can you replicate it in the example app and emulator? If so, what are you using?

That will help me out on fixing it.

Thank you.

[2020-02-05 20:26] talanaji opened #201 "I can't select images form Gallery"
I try to select images from Gallery to pick multi files,
but it's not work
I can only select one image form Gallery or and folder on my device
but I can select multi images from recent images only
my device is Galaxy Note 8

[2020-02-05 20:45] miguelpruivo commented on #201
Are you holding the files? In some Android versions you need to tap and hold before the multi pick comes out.

[2020-02-06 12:35] Tokenyet opened #202 "Documentation setup on go-flutter"
According to #186
Currently, It's not match for currrent wiki for indicating setup on Desktop.
https://github.com/miguelpruivo/flutter_file_picker/wiki/Setup#desktop-go-flutter

I suggested to change from
[code]

to
[code]

[2020-02-06 13:12] talanaji commented on #201
I know that , I hold before pick
but just select one picture
not multi

[2020-02-06 13:18] miguelpruivo commented on #201
How are you calling it?

[2020-02-06 13:19] miguelpruivo commented on #202
Good catch. Done. Thank you.

[2020-02-06 13:19] #202 closed

[2020-02-06 18:52] talanaji commented on #201
Future openFileExplorer() async {
     try {
      _path = null;
      //if (_multiPick) {
      _paths = await FilePicker.getMultiFilePath(
          type: FileType.IMAGE, fileExtension: _extension);
      //String numofimgs = _path.length.toString();
      // Alert(title: "تم اختيار "+numofimgs, context: context).show();
      setState(() {
        _imgspaths = _paths;
      });
      /*  } else

[2020-02-06 19:35] miguelpruivo commented on #201
Just try to not use `_extension` when you are explicitly providing the type (`FileType.IMAGE`).

[2020-02-06 22:46] talanaji commented on #201
doesn't work

[2020-02-06 22:47] talanaji commented on #201
I also trying to test the original example but didn't work
same problem

[2020-02-10 11:23] erperejildo opened #203 "Accept more than one file extension"
Is this currently possible?

[2020-02-10 11:32] miguelpruivo commented on #203
It’s a work in progress yet. See #99

Thank you.

[2020-02-10 11:32] #203 closed

[2020-02-10 12:25] rshrc commented on #195
@miguelpruivo any updates on this issue?

[2020-02-10 12:39] erperejildo commented on #203
That's referring to getMultiFilePath() (https://github.com/miguelpruivo/flutter_file_picker/issues/68). Will this be available also for getFile()?

[2020-02-10 13:10] miguelpruivo commented on #203
Yeah, sure. When available, it will transversally be supported by all of those methods.

[2020-02-10 13:10] miguelpruivo commented on #201
Have you managed to solve it?

[2020-02-10 13:13] miguelpruivo commented on #195
@rshrc I started a draft on separate branch working on this, but haven't had the time yet to get it done. There are multiple things to handle that can't be missed.

Btw, can one confirm is this affects _only_ those that are interested into embed Flutter modules in Android apps?

cc: @Boehrsi

[2020-02-11 00:42] talanaji commented on #201
no not solved sorry ,,

[2020-02-11 11:45] pedia commented on #99
How about add and argument for `Recent Folder`? Just like
[code]

[2020-02-11 11:48] guit4eva commented on #99
I'm getting the following error:

with:

[code]

[2020-02-11 11:48] miguelpruivo commented on #99
@pedia I'm afraid that would not result in any change on iOS and I want to make this plugin as seamless as possible platform wise.

Might make some sense on Desktop though.

[2020-02-11 13:41] mhmoudsabry commented on #183
iam not using getMultiFilePath
iam using getFilePath
and my ios version is  11.3.1
cannot access gallery to get file
any help ???

[2020-02-11 14:46] miguelpruivo commented on #183
@mhmoudsabry  you must use `getFileType(type: FileType.IMAGE)` explicitly for that.

[2020-02-12 01:36] mhmoudsabry commented on #183
i need to import any file type like pdf  or image how can i??

[2020-02-12 01:47] miguelpruivo commented on #183
You can’t get PDF files from gallery. Either let your user pick a PDF and use `FileType.ALL` or pick an image and use `FileType.IMAGE`. Just ask them first if they want to pick PDF or image.

[2020-02-12 01:50] mhmoudsabry commented on #183
will try and tell you thanks for help

[2020-02-12 01:51] mhmoudsabry commented on #183
i will try and tell you
thanks for help :)

[2020-02-12 02:04] mhmoudsabry commented on #183
how to access on my files foldor and get files from
this is my preview cannot access all my files
https://www.dropbox.com/s/0vjhu1f32yafq4u/t.jpg?dl=0

[2020-02-12 02:13] miguelpruivo commented on #183
That’s correct. On iOS with any you open the file explorer where you can pick files from any cloud (or locally) but not from gallery. For that, you have to use type image. It’s impossible to show both file explorer and gallery at the same time on iOS.

[2020-02-12 02:14] mhmoudsabry commented on #183
i  thought  it is possible and my client asking me for it
https://support.apple.com/library/content/dam/edam/applecare/images/en_US/icloud/ios13-iphone-xs-files-browse-locations-more-edit.jpg

[2020-02-12 02:18] miguelpruivo commented on #183
You are opening exactly the same on your first link. Sometimes local doesn’t comes up because it needs to have some files, try on a real device with files on it. You might have to first enable those locations on the files app itself.

[2020-02-12 07:09] pedia commented on #99
@miguelpruivo Make this an optional argument? There is no harm to iOS.

[2020-02-12 07:13] guit4eva commented on #99
@miguelpruivo Yes, this error occurs when running the web version (Chrome).

[2020-02-12 18:02] ragnor-rs opened #204 "App crashes due to possible thread-safety issues in onActivityResult"
**Describe the bug**
I have an app deployed to production with flutter_file_picker 1.4.3+2 installed. I get crash reports in Crashlytics.

**Issue details**
1. Android
2. 6.0.1, 7.0, 8.1.0, 9
3. FileType.IMAGE

**Error Log**
Stack trace 1:
[code]

Stack trace 2:
[code]

**Flutter Version details**
[code]

**Additional context**
I'm sure that it's flutter_file_picker because
- it's the only plugin

[2020-02-12 18:14] miguelpruivo commented on #204
Hi, on which phone that happens?

[2020-02-12 18:15] miguelpruivo commented on #201
Could you provide a code sample so I could try to replicate? And the running device where you are trying.

Thank you.

[2020-02-12 18:18] ragnor-rs commented on #204
@miguelpruivo

**HUAWEI**
Honor 10
HUAWEI P smart Z
Mate 20 lite
P9 lite

**OPPO**
A1k

**Samsung**
Galaxy Note10+
Galaxy A7 (2018)
Galaxy A30s

**Xiaomi**
Redmi 7
Redmi 6
MIX 2S

**LeMobile**
Le 2

[2020-02-12 18:19] miguelpruivo commented on #204
Are those rooted?

[2020-02-12 18:22] miguelpruivo commented on #204
There have been some devices (not much, as you can see, 1%) that somehow have the `MethodChannel.result` as a `null` reference in a place where it can't ever be. Which somehow make me believe that those must be rooted devices or some roms that handle the Activity lifecycle in a different manner that they should, making it impossible for me to debug & fix.

[2020-02-12 18:23] ragnor-rs commented on #204
Well, not rooted according to Firebase:

Stack trace 1:
<img width="383" alt="Screenshot 2020-02-12 at 21 21 18" src="https://user-images.githubusercontent.com/3357827/74364687-a9cb3700-4ddd-11ea-9467-18dbb4206b4e.png">

Stack trace 2:
<img width="380" alt="Screenshot 2020-02-12 at 21 21 05" src="https://user-images.githubusercontent.com/3357827/74364730-c5ced880-4ddd-11ea-9ed9-2585c7fa28e9.png">

[2020-02-13 13:10] Boehrsi commented on #195
Sorry for the late response. I'm facing this issue in a pure Flutter app, with some native components though.

[2020-02-16 14:46] EddieLi commented on #201
same problem here, when i open file picker, it takes me to icloud file storage instead of photo gallery in iOS, but works fine for android

[2020-02-16 17:21] miguelpruivo commented on #201
@EddieLi like mentioned [in the Wiki](https://github.com/miguelpruivo/flutter_file_picker/wiki/api#filepickergetmultifilepath) currently picking multiple files on iOS gallery isn’t supported, so it falls back to Files app.

This may come in a near future. I have plans to add some new missing (and requested) features on this soon.

Thank you.

[2020-02-17 20:12] Manguelo commented on #200
Not able to replicate this on the simulator, because I don't have access to my Google Drive. On a physical device using the sample app I can replicate it. I'm running Flutter `1.14.6` on an iPhone 11 Pro using iOS 13.3

[2020-02-19 09:49] basnetjiten opened #205 "Application initializing document picker is missing the iCloud entitlement."
I am getting the following error on Xcode for ios vs below 11.0:
Although I set up iCloudKit , iCloudDocuments , Containers and Key-value Storage checked.

Couldn't launch documents file picker. Probably due to iOS version being below 11.0 and not having the iCloud entitlement. If so, just make sure to enable it for your app in Xcode. Exception was: Application initializing document picker is miss

[2020-02-19 10:07] miguelpruivo commented on #205
Based on the exception itself it looks like you are missing the plist entitlements. I would recheck those, clean and build.

[2020-02-19 10:29] basnetjiten commented on #205
I just added these two requirements:
<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>

Now it's complaining about :

Passed in type public.item doesn't conform to either public.content or public.data. If you are exporting a new type, please ensure that it conforms to an appropriate parent type.
*** Assertion failure in -[UIDocumentPickerViewController _co

[2020-02-19 17:39] ened opened #206 "Plugin leaks memory"
**Describe the bug**
Running the plugin in an App that has LeakCanary enabled, the following log will appear:

[code]

This is due to the plugin keeping a static reference to the instance, probably for easier handling of activity results.

**Issue details**
1. Platform (Android/iOS):

Android

2. OS version

10

**Flutter Version details**

[code]

I'll try to work on a PR this week, this may also

[2020-02-20 16:16] deacon78 commented on #99
@miguelpruivo
Could you add the file save dialog functionality ?
I am looking for a way to export a file and let the user save it wherever he wants to.
The idea is to open the native file explorer and the user save the file where he wants.
For exemple Google Drive if he wants to...

The package " https://pub.dev/packages/flutter_file_dialog" open the dialog to save a file, but it make the app cras

[2020-02-20 21:30] talanaji commented on #201
See ,
when I choose photo from green arrow as shown  in image below , I can pick multi images , but if I choose photo from red arrow I can pick only one image
I test it in another android device its the same problem

https://drive.google.com/file/d/1j1xIvdoYz7Eiim9B9-da-obdHhknvMQ3/view?usp=sharing

[2020-02-20 23:39] miguelpruivo commented on #201
@talanaji that’s probably because Google photos is only allowing single picks despite of having multi pick enabled. Even though the Android intent contains it, it’s possible that some providers may ignore it, unfortunately, and there’s not much you can do. 😞

[2020-02-21 10:47] miguelpruivo commented on #206
I'm not sure if this is going to be worth right now @ened as I'm already working in a refactor on Android side to make it compatible to Android add 2 app.

Anyway, thank you. I'll leave this open for now.

[2020-02-21 10:51] miguelpruivo commented on #205
Have you managed to solve it @basnetjiten?

[2020-02-21 10:53] miguelpruivo commented on #187
Still on hold @guit4eva?

[2020-02-21 10:54] miguelpruivo commented on #191
Since no further response has been given, I'll close this for now. Feel free to reopen it if you still have an issue related to this.

Thank you....

[2020-02-21 10:54] #191 closed

[2020-02-21 10:57] basnetjiten commented on #205
No luck!!! It works well above Ios version 10/11

[2020-02-21 11:37] cormalenv opened #207 "Theme/Colors: text not visible due to theme colors."
Text of files/folder and search bar very difficult to read due to theme colors (on certain devices).

1. Platform (Android/iOS) - Android
2. OS version - 8.1.0
3. File type (filter) - Any
4. Steps to reproduce -

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      home: Scaffold(
        body: RaisedButton(
          child: Text('R

[2020-02-21 11:48] miguelpruivo commented on #199
Hi, I've tried to reproduce your issue and it indeed happens but so it does with [image_picker](https://pub.dev/packages/image_picker#-readme-tab-) as well.

Replacing this line:
[code]
with
[code]
results in the exact same issue, which is not actually an issue liked suspected in my [previous answer](https://github.com/miguelpruivo/flutter_file_picker/issues/199#issuecomment-578527694).

You need

[2020-02-21 11:48] #199 closed

[2020-02-21 14:04] ened commented on #206
Hi @miguelpruivo do you work on this in a private branch or something public? I'd be happy to review a WIP branch and check for the issue myself.

[2020-02-21 15:01] miguelpruivo commented on #207
Hi @cormalenv this is related to your device's app theme (check your Android styles) and not the plugin itself. The plugin only calls the native picker and doesn't override any kind of style on it.

[2020-02-21 22:10] cormalenv commented on #207
Hi @miguelpruivo. I'm guessing we cannot override this. We just have to force users to change their theme. Thanks for the clarity.

[2020-02-21 22:10] #207 closed

[2020-02-22 11:39] miguelpruivo commented on #206
@ened it's not public yet. But I'm adding [V2 support](https://flutter.dev/docs/development/packages-and-plugins/plugin-api-migration) which I believe that might remove that leak you are pointing out.

I'll keep you updated and tell you when the branch is up on origin.

Thank you!

[2020-02-22 12:09] miguelpruivo commented on #204
This might be happening due to a leak on activity lifecycle. I'm already working on a V2 support that might get rid of it. I'll keep you updated. I'm closing this as the discussion related to it is on #195.

Thank you!

[2020-02-22 12:09] #204 closed

[2020-02-25 05:47] deacon78 commented on #99
flutter_file_picker does not prevent picking files with another extension when using the filter on extension.

[2020-03-02 14:20] freshcodestechnology commented on #198
Any Updates on this issue ?

[2020-03-03 16:33] miguelpruivo commented on #198
@freshcodestechnology soon! :)

[2020-03-04 21:25] ened commented on #206
@miguelpruivo how is the V2 support doing? Do you need help / will you accept a PR?

[2020-03-04 22:04] miguelpruivo commented on #206
@ened it's a work in progress. Currently I'm also refactoring some things along the way, just hand't the time yet to finish it. Do you have something already set up?

[2020-03-06 19:05] ppcapel commented on #99
Is it possible to set the Image Quality, as we have in image_picker package?

[2020-03-06 22:55] miguelpruivo commented on #99
@ppcapel that image quality you’re referring to is for the camera capture image quality. Since this plugin doesn’t use camera at all (only picking files) I would say that it doesn’t make much sense here.

The same goes for the image picker, I believe that image quality is only applied when taking new pictures and not from those picked from gallery.

[2020-03-07 15:43] ppcapel commented on #99
@miguelpruivo in the image_picker the quality can be set to picked images too...
It works very well. It helps a lot to manage firebase storage upload sizes...

  /// The `imageQuality` argument modifies the quality of the image, ranging from 0-100
  /// where 100 is the original/max quality. If `imageQuality` is null, the image with
  /// the original quality will be returned. Compression is only

[2020-03-09 07:47] AndroidNils opened #208 "Sometimes app the crashes (Android)"
**Describe the bug**
Crashlytics sends us reports, that sometimes the app is crashing (caused by FilePicker Plugin).

**Issue details**
1. Platform (Android/iOS): Android
2. OS version: Android 9; Samsung Galaxy Note 8

**Error Log**
`Fatal Exception: java.lang.IllegalStateException: Reply already submitted
       at io.flutter.embedding.engine.dart.DartMessenger$Reply.reply(DartMessenger.java:35)

[2020-03-09 17:27] guit4eva commented on #164
Hey there, has there been any updates with this? Unfortunately it still doesn't seem to be working correctly on iOS :/

[2020-03-09 18:42] miguelpruivo commented on #164
@guit4eva do you have files in your phone under files app? This may need an additional permission if so.

[2020-03-09 18:44] guit4eva commented on #164
@miguelpruivo Yes, there are files under the Files app. I can only access images using getFile, not getMultiFile

[2020-03-09 18:46] miguelpruivo commented on #164
@guit4eva I've been working on V2 integration (which is not immediate) with some refactoring on the Android side so this needs to come next on the pipeline.

Sorry, the time has not been much lately. 😞

[2020-03-09 19:58] miguelpruivo commented on #195
Just FYI I have plans for releasing V2 support with some improved Android implementation in the next days.

I’ll keep you updated.

[2020-03-09 20:34] guit4eva commented on #164
That will really be great if you could include the iOS part in the next release - the poor chaps with iPhones have to select one image at a time if they want to add media ha ha 🙂 Well done though on an excellent package, it looks like it is really helping a lot of people 👍🏼

[2020-03-09 22:17] miguelpruivo commented on #164
@guit4eva thank you. I’ll definitely do so. Just need sometime to get it all done. There are other things such as multi extension filter that people have been asking for a while now too.

[2020-03-10 15:27] ened commented on #206
It should be straightforward. Perhaps upload what you have to a develop branch and I can take a look there.

[2020-03-10 15:28] crtl commented on #99
It would be nice to add `FileType.CAMERA` to allow making a photo or video with the camera and return it.
[image_picker](https://pub.dev/packages/image_picker) has support for Camera input but does not support video.

[2020-03-10 15:41] duzenko commented on #164
Just use another plugin for this

[2020-03-10 16:00] miguelpruivo commented on #206
@ened thank you, it's almost done, but I'm also refactoring some things along the way, that's why it took a bit more. :) I have plans to have it published by this week. Right now I'm working only on a local branch.

Yesterday I posted a comment regarding this on #195, but this two issues should be in sync with each other.

[2020-03-10 16:04] miguelpruivo commented on #208
This should be fixed along with the addition of Android V2 Support which is due to be published sometime this week. You can follow #196 for more details.

Closing.

[2020-03-10 16:04] #208 closed

[2020-03-10 16:08] miguelpruivo commented on #200
Is this still happening as of now?

[2020-03-10 16:09] #201 closed

[2020-03-10 16:15] miguelpruivo commented on #99
@crtl I understand. Early versions of file picker had camera support, due to direct integration with image_picker, but then, it would force users that use file_picker to pick files, despite of using camera or not, to have the camera entitlements when publishing to the store and that could result in undesired install permissions. Also, that would require two plugins to be synced with each other, wh

[2020-03-10 18:15] Manguelo commented on #200
Yes

[2020-03-14 17:41] miguelpruivo commented on #195
V2 embedding support was added and published with [1.5.0](https://pub.dev/packages/file_picker#150).

Have in mind, that along with it, now `FileType` has been refactored to match camelCase enum Dart guideline, so you'll need to refactor your code to match accordingly (eg. `FileType.ALL` now is `FileType.all`).

Thank you all for being patient. 🎉

[2020-03-14 17:41] #195 closed

[2020-03-14 17:43] miguelpruivo commented on #206
V2 embedding support was added and published with [1.5.0](https://pub.dev/packages/file_picker#150).

You should haven't this issue by now.

As a side note, have in mind, that along with it, now FileType has been refactored to match camelCase enum Dart guideline, so you'll need to refactor your code to match accordingly (eg. FileType.ALL now is FileType.all).

Thank you for being patient. 🎉

[2020-03-14 17:43] #206 closed

[2020-03-14 17:53] #183 closed

[2020-03-14 17:53] miguelpruivo commented on #187
@guit4eva any news on this?

[2020-03-14 17:54] miguelpruivo commented on #193
@AlienwareHe any news on this?

[2020-03-14 17:55] miguelpruivo commented on #205
@basnetjiten which type of file are you trying to filter?

[2020-03-15 08:37] Marcosmaliki commented on #204
I still have this issue with the current version (1.5.0) on Huawei y9

[2020-03-15 08:42] TesfahunK opened #210 "App Exits after picking a file"
i recently upgraded to v 1.5 , tried picking a file(multiple), then app exits without no error message or exception , i thought it was related to multiple files ,but its the same for single file, the previous version(1.4.3+2 ) works just fine ,

[2020-03-15 08:46] Hopheylalal commented on #210
Same problem!

[2020-03-15 09:07] Marcosmaliki commented on #210
same problem but with an deprecation error message

[2020-03-15 09:57] SeifKaroui commented on #210
Same problem here.
Even when picking just one file.

[2020-03-15 10:26] miguelpruivo commented on #204
@Marcosmaliki please post your logs about this.

There are some Android OEM Roms that break the activity protocols and make it somehow hard to handle/cover all the possibilities.

That exception could never happen because it shouldn’t be null where it does.

[2020-03-15 10:28] miguelpruivo commented on #210
Could you please check your adb logcat and then post the logs?

I need further details to help me check what might have cause it.

Thank you!

[2020-03-15 11:10] miguelpruivo commented on #210
Btw, @TesfahunK @Marcosmaliki @SeifKaroui did you update the `FileType` with camelCase after updating? You shouldn't be able to build anyway.

I've been strongly trying to replicate this on emulator/device but it is working as intended, both on release and debug builds.

[2020-03-15 12:21] miguelpruivo commented on #210
Ok, further update: I found the issue and I'm already working on it.

You should get some logs like this anyway:
[code]

[2020-03-15 13:26] RashminDungrani commented on #210
same problem !
and not working flutter clean or full restart ...

[2020-03-15 13:59] miguelpruivo commented on #210
Ok, found the issue and it's actually directly related to the Flutter engine and not the plugin itself where it calls `onActivityResult()` twice when it shouldn't, as mentioned [here](https://github.com/flutter/flutter/issues/49365) and [here](https://github.com/flutter/flutter/issues/49105).

This fix is landed on Flutter for versions above 1.14.6, like pointed [here](https://github.com/flutter/f

[2020-03-15 14:26] miguelpruivo commented on #210
Added a temporary workaround for it and landed on pub.dev for [1.5.0+1](https://pub.dev/packages/file_picker#1501).

Please, run a `flutter clean` and let me know if it worked for you.

Thank you all.

[2020-03-15 14:32] miguelpruivo commented on #204
@Marcosmaliki could you please try with the temporary workaround that I added right now, please?

Just replace it with: `file_picker: 1.5.0+1`.

Basically, there is an issue with Flutter engine for V2 embedded that has only landed a fix on `master`, `dev` and `beta` channels.

[2020-03-15 16:14] viplifes opened #211 "Invalid MethodChannel name on IOS"
v1.5.0+1
on IOS MethodChannel name is - file_picker
https://github.com/miguelpruivo/flutter_file_picker/blob/master/ios/Classes/FilePickerPlugin.m#L19

on flutter MethodChannel name is - miguelruivo.flutter.plugins.file_picker
- https://github.com/miguelpruivo/flutter_file_picker/blob/master/lib/file_picker.dart#L16

[2020-03-15 16:35] miguelpruivo commented on #211
@viplifes good catch, I've updated it on Android forgot on iOS. In a few minutes it will be fixed.

Thank you.

[2020-03-15 16:56] miguelpruivo commented on #211
Done. Fixed with [1.5.0+2](https://pub.dev/packages/file_picker#1502).

Thank you.

[2020-03-15 16:56] #211 closed

[2020-03-15 23:05] SeifKaroui commented on #210
Thanks for your efforts.
It's working now 😃

[2020-03-16 00:07] #210 closed

[2020-03-16 07:45] Marcosmaliki commented on #210
Thank you. All working perfectly. We should buy you coffee ☕

[2020-03-16 09:30] erluxman opened #212 "Cannot select Audio from Android."
So I was trying to fetch audio files from android but It says the channel method is not implemented. What am I missinng?

**Issue details**
1. Platform (Android)
2. OS version 10
3. File type (audio)
4. Steps to reproduce

Just do `FilePicker.getFile(type: FileType.audio)`
**Error Log**

[2020-03-16 17:06] miguelpruivo commented on #212
@erluxman which file picker version are you using? Try with the latest one and let me know if it worked for you (1.5.0+2). There were some minor hotfixes.

[2020-03-17 08:50] erluxman commented on #212
I can confirm that I am using the latest one ^1.5.0+2.

[2020-03-17 09:16] AlienwareHe commented on #193
i compact the two splitter ("  "  and the ":") to resolve it temporarily, thanks to attention my question~

[2020-03-18 16:06] miguelpruivo commented on #212
@erluxman got to take a look.

Thanks!

[2020-03-18 16:07] miguelpruivo commented on #205
Closing due to no further info, let me know if you still have an issue with this.

[2020-03-18 16:07] #205 closed

[2020-03-19 18:08] yostrokon opened #213 "Can't find a valid activity to handle the request."
When using whatever package to request the permission on storage i receive this error
E/FilePickerDelegate(22922): Can't find a valid activity to handle the request. Make sure you've a file explorer installed.

await PermissionHandler().requestPermissions([PermissionGroup.storage]);

or on later check for permissions in another part of the app - the plugin screen opens

**Issue details**
1. Platfo

[2020-03-20 04:13] yostrokon commented on #213
Steps to reproduce
pubspec.yaml
  permission_handler: any

the source
import 'package:flutter/material.dart';
import 'package:permission_handler/permission_handler.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      home: PermissionWidget()
    );
  }
}

class PermissionWidget extends Statef

[2020-03-20 19:48] miguelpruivo commented on #213
@yostrokon is this solved? You mentioned that everything works as expected in your last message. I’m not quite sure if it does or not.

However, make sure you are running the latest version. Since V2 Android support was added, it’s quite hard to have those kind of exceptions because _all_ entry points should be covered.

[2020-03-20 20:07] yostrokon commented on #213
solved by moving to 1.4.3+2

[2020-03-21 00:07] miguelpruivo commented on #213
@yostrokon the plugin is made in a way that you don't need to explicitly ask for storage permissions in your app. All required permissions are handled from the plugin itself.

Could there be a conflict with it?

Moving down a version is not actually a definite solution since 1.5.0 introduces important additions for Android (V2 embedded).

Thanks.

[2020-03-21 03:58] yostrokon commented on #213
Yes, this is a very nice, but part of my app have functionality to save files to the local storage for the later use. User may never use the part with the file picker, but will use the part with the download and save where i have to ask for permission.

[2020-03-22 01:10] cobwebos opened #214 "Module 'file_picker' not found"
**Describe the bug**
A clear and concise description of what the bug is. If the issue happens to be on Android, please make sure that it also happens with a different device/simulator and/or version.

**Issue details**
1. Platform: iOS
2. OS: >=8.0
3. File type: any
4. Steps to reproduce

**Error Log**
Please, post the _full_ console log of your issue, if applicable.

//
//  Generated file. Do not

[2020-03-22 09:51] miguelpruivo commented on #214
@cobwebos there aren’t here enough details provided to help you.

At first, it looks like a bad build only and doesn’t point out anything to file picker actually.

I’d ask you to do a `Flutter clean` and then make sure you are using the latest version (`file_picker: 1.5.0+2`) and rebuild again with `Flutter run -v. If it still fails, I can try to help you with the output from that build.

[2020-03-22 09:53] miguelpruivo commented on #213
This is not the first time it conflicts with Permission Handler. I’ll have to take a look. Thanks.

[2020-03-22 11:11] cobwebos commented on #214
my flutter app  project pubspec.yaml :

name: cobwebos_cloud_app
description: A new Flutter project.
version: 1.0.0+1
environment:
    sdk: '>=2.1.0 <3.0.0'
dependencies:
    flutter:
        sdk: flutter
    cupertino_icons: ^0.1.2
    provider: ^4.0.4
    dio: ^3.0.9
    #json_util: ^0.5.1
    file_picker: ^1.5.0+2
    path_provider: ^1.6.5
    cached_network_image: 2.0.0

dev_dependencies:

[2020-03-22 11:14] cobwebos commented on #214
xcode build error
![flutter-file_picker-error](https://user-images.githubusercontent.com/40165707/77248039-5e743600-6c71-11ea-97b7-c3a4ac1e69a9.jpeg)

Module 'file_picker' not found

[2020-03-22 11:15] yostrokon commented on #213
It's not permission handler only, i tried with other packages with the same result;

[2020-03-22 11:17] cobwebos commented on #214
flutter run -v

error
 [ +285 ms] Could not find the built application bundle at build/ios/iphonesimulator/Runner.app.
[   +1 ms] Error launching application on iPhone 11 Pro Max.
[   +2 ms] "flutter run" took 47,185ms.

#0      throwToolExit (package:flutter_tools/src/base/common.dart:28:3)
#1      RunCommand.runCommand (package:flutter_tools/src/commands/run.dart:509:7)
<asynchronous suspension>

[2020-03-22 11:33] cobwebos commented on #214
String path = await FilePicker.getFilePath(type: FileType.any);

[2020-03-23 00:22] miguelpruivo commented on #213
There are people having this issue with permission handler but it looks like a leak from it (when you cancel the request). You can see the discussion regarding this [here](https://github.com/Baseflow/flutter-permission-handler/issues/84#issuecomment-602298326).

Plugins asking for same intents may have collisions and it’s up to all of them to handle the requests properly, otherwise it won’t be eas

[2020-03-23 10:18] miguelpruivo commented on #214
Could you please run the example provided with the plugin?

What happens if you run through `flutter run` instead of Xcode?

[2020-03-23 11:39] miguelpruivo commented on #187
Closing due to inactivity. Feel free to reopen if the issue still persist with latest version.

Thank you.

[2020-03-23 11:39] #187 closed

[2020-03-24 02:53] #193 closed

[2020-03-24 17:08] miguelpruivo commented on #213
@yostrokon an user might have found the solution for this issue as described [here](https://github.com/Baseflow/flutter-permission-handler/issues/84#issuecomment-603046729).

Feel free to reopen this if the issue still persist after applying the linked solution.

Thank you!

[2020-03-24 17:08] #213 closed

[2020-03-24 20:24] miguelpruivo commented on #169
Does this still happen with V2 embedded support? (file_picker: 1.5.0+2)

Thank you.

[2020-03-25 05:27] dokinkon commented on #169
@miguelpruivo It still happen on my Android10 device (pixel3)
with file_picker 1.5.0+2
java.io.FileNotFoundException: /storage/emulated/0/SendAnywhere/Square_LDAC_v1.1.8_DFU_1068.HEX: open failed: EACCES (Permission denied)

[2020-03-25 13:21] gilvangobbato opened #216 "PlatformException(already_active, Image picker is already active, null) - After request permission"
It's very strange, but when I start the application for the first time and it ask my to permission and after permit, the file picker open to me to record a audio.
After that, if I try to add any file ocurs the error

**Issue details**
1. Platform Android
2. OS version 7.1.1
3. Anyone
4. Steps to reproduce
* add to pubspac.yalm file_picker: ^1.5.0+2
* when starts the app, send request permission, l

[2020-03-25 14:54] miguelpruivo commented on #169
@dokinkon ok, might have forgot something that _should_ fix your issue. Please, add the following
[code]
to your `<application>` of your Android manifest file.

It should look like this:
[code]
And let me know if it worked for you. If so, this should be added onto the Wiki.

This happens because Android 10 (Q) or above, require new scoped file system and won't work with legacy unless this flag is

[2020-03-25 14:55] miguelpruivo commented on #216
Hum, this is odd. How are you picking the file?

[2020-03-25 14:56] miguelpruivo commented on #214
Any news on this?

[2020-03-25 16:50] gilvangobbato commented on #216
Maybe could be this the problem... In this case I'm using image_picker plugin

`ImagePicker.pickImage(
          source: ImageSource.gallery,
          maxWidth: 1024,
          maxHeight: 1024,
        )`

I'm changing to use only file_picker, maybe it will resolve, so, I can't use both

[2020-03-25 17:02] AirborneEagle commented on #99
@miguelpruivo
I my flutter app is already in production. We are adding a feature that requires file uploading (csv files specifically) on the web. I tried what you suggested above
[code]
[code]

to no avail.  It fails to compile with this error:
[code]

I am happy to contribute to this package, and would like to do so right away.  The best other option I have is to use another dart package that wa

[2020-03-25 17:07] gilvangobbato commented on #216
I've tried, and de error keep, I don't understand how is possible that it is opening a audio record?!?!
It's strange

if I back to version 1.4.3+2 all is ok

[2020-03-25 17:45] miguelpruivo commented on #216
@gilvangobbato you shouldn't have any issue using both. Actually, I recommend you to do so if you need to use camera or multi file gallery picking, for example.

However, you didn't answer my previous question: how are you using the FilePicker? Could you please post your code?

Thank you.

[2020-03-25 17:48] miguelpruivo commented on #99
@AirborneEagle as pointed [here in the CHANGELOG](https://pub.dev/packages/file_picker#150) 1.5.0 introduced a breaking change that is renaming the enum for camelCase instead of upper case, thus, you _must_ indeed refactor your code as well.

That web-support branch is unstable, but I've plans to introduce web support and already wrapped the code, although, not as complete as mobile version in the

[2020-03-25 17:52] gilvangobbato commented on #216
Woow, sorry, you are rigth!
For example in this case
[code]

or this

[code]

[2020-03-25 18:23] miguelpruivo commented on #216
@gilvangobbato does this happen with Android, iOS or both?

[2020-03-25 18:32] gilvangobbato commented on #216
Android, I'm not using iOS yet.

[2020-03-25 18:33] miguelpruivo commented on #216
Ok. I'll take a look. That's really odd anyway, I'm not sure if I'm going to be able to replicate it.

[2020-03-25 23:43] hsalazarl commented on #216
I have the same issue here, I am using the FilePicker.getFile() method, like this:

`return FloatingActionButton(
      onPressed: () async {
          var file = await FilePicker.getFile();
          print(">>> ${file.path}");
      }
    );
`
As you can see, I am calling it inside the _onPressed_ of the FloatingActionButton. The file picker gets opened, and I can select a file, but it never retu

[2020-03-25 23:56] gilvangobbato commented on #216
I'll try to build an application to help you

[2020-03-26 00:24] gilvangobbato commented on #216
So, I did and in the following example is possible to reproduce the error.
[https://github.com/gilvangobbato/file_demo.git](url)

flutter doctor -v

[2020-03-26 00:44] miguelpruivo commented on #216
@hsalazarl this seems to not be related with this issue but something else. If your print clause never gets called that’s probably because an exception is being thrown somehow.

Wrap it with a try catch clause and let me know what it prints. Nevertheless, Android 10 requires legacy storage enabled on your manifest file or else won’t work. I must add it to the wiki.

@gilvangobbato thank you! I’ll

[2020-03-26 00:48] hsalazarl commented on #216
@miguelpruivo agreed. I think my specific problem has to do with navigation. Because when I select the file, the _FilePicker_ goes away, and it does not return with the _File_. But if at that moment I click _Stop_ on AndroidStudio, the app closes but reveals the FilePicker. That's why on a second attempt to use it, it says that it is still active.

[2020-03-26 00:56] miguelpruivo commented on #216
@hsalazarl I recommend you to run the example provided with the plugin and see if it works fine for you. If it does, then you should recheck your app’s logic for picking the file and make sure you don’t trigger multiple picks at once, regardless of it being protected from the plugin anyway.

[2020-03-26 01:20] GiovaniTrevisol93 commented on #216
I have the same problem

[2020-03-26 02:24] miguelpruivo commented on #216
@gilvangobbato just noticed that your error is actually related to ImagePicker and not FilePicker.

@GiovaniTrevisol93 could you provide more details? The more we have, the better it gets to fix. Thanks!

[2020-03-26 11:41] gilvangobbato commented on #216
Yes, the error is on ImagePicker, but if I back the FilePicker version to 1.4.3+2 all is ok. So what I mean is that probably has some interference each other.
I didn't try to back ImagePicker version, but I can do it to see the reaction.

[2020-03-26 11:45] AndroidNils commented on #164
Which one?

[2020-03-26 12:07] miguelpruivo commented on #169
@dokinkon have you already tried? Nevertheless, added it to the [docs](https://github.com/miguelpruivo/flutter_file_picker/wiki/Setup#--android).

Let me know so we can further close this issue. Thank you!

[2020-03-26 12:21] ovideozn commented on #169
@miguelpruivo Sorry but how does adding the legacy flag help with closing this issue? As mentioned before, the legacy flag is only a temporary workaround, which will stop working as soon as Android 11 is released, regardless of the target SDK version. Any solution relying on the legacy flag is just a temporary solution.

[2020-03-26 12:29] miguelpruivo commented on #169
@ovideozn no one knows if it will be deprecated on Android 11 or not, sometimes deprecated API's work until later versions. However, a problem at a time. Flutter needs absolute paths to handle Files, there's _no way_ a Dart `File` will use Android URI's.

I've been drafting a solution for it by wrapping it in a custom class that could manage both absolute paths and URI's, but iOS will always behav

[2020-03-26 12:39] ovideozn commented on #169
@miguelpruivo Fair enough.

Would the solution I mentioned above not work though?

and

I still think this is better than creating a custom class that wraps everything, as it would either have to extend `File`, which would require long term maintenance, or it wouldn't extend `File` in which case it will be difficult to work with in projects that already use `File`s extensively.

[2020-03-26 12:43] miguelpruivo commented on #169
@ovideozn first one will work, however, I'm not sure if some devs will starting open issues because the paths are not real but copies instead — which already happened when URI can't be resolved to a path and a temporary copy has to be made.

Second one, will match my purposed solution and that's probably the way to go. But I can agree that having files through a URI only and an optional method, su

[2020-03-26 16:29] duzenko commented on #164
https://pub.dev/packages/multi_image_picker works for me

[2020-03-26 16:39] ArpitAwasthiQV opened #217 "FilePicker.getMultiFile(type: FileType.image) does not return list of images"
I was trying to get multiple images
List<File> files = List();
files = await FilePicker.getMultiFile(type: FileType.image);

but i only get one image.
I also tried getting multiple pdf files and it successfully return a list

[2020-03-26 16:40] miguelpruivo commented on #217
@ArpitAwasthiQV are you on iOS or Android?

[2020-03-26 16:41] ArpitAwasthiQV commented on #217
android

[2020-03-26 16:42] miguelpruivo commented on #217
@ArpitAwasthiQV tap and hold on image files when you are selecting them.

[2020-03-26 16:42] ArpitAwasthiQV commented on #217
@miguelpruivo I'm selecting multiple images but still it returns only one file

[2020-03-26 16:45] miguelpruivo commented on #217
@ArpitAwasthiQV which version of Android are you on? Does that happen on both device and simulator?

[2020-03-26 16:48] ArpitAwasthiQV commented on #217
android version 9. device - samsung galaxy j6.
Im using this device for testing. not using simulator.
Havent even tried it on ios device yet.

[2020-03-26 16:49] miguelpruivo commented on #217
iOS doesn't support multiple picking from gallery as of now, that's why I asked.

Nevertheless, that shouldn't happen at all. Could you please try with:

a) Simulator or other device;
b) With the example app provided with the plugin;

Thanks!

[2020-03-26 16:54] ArpitAwasthiQV commented on #217
So it seems that the problem is with the samsung device. tested it on lg g7 thinq and working perfectly.

[2020-03-26 17:12] miguelpruivo commented on #217
@ArpitAwasthiQV some Samsungs break some of the Android guidelines. This is a no-issue as far as I'm concerned, otherwise would happen in other devices with same Android version (that's why I asked you for trying in a different device).

[2020-03-26 17:25] #217 closed

[2020-03-26 19:20] iamsabet opened #218 "getMultiFile() Returns Null ( , and getMultiFilePath) [Desktop hover run darwin ]"
hi im using flutter beta
and flutter_file_picker 1.5.0+2
and building with Hover go for mac os

using .getFile , .getFilePath methods are ok

but .getMultiFile() , .getMultiFilePath() , does not work , Returns NULL
only on desktop  (Mac OS)

[2020-03-26 19:38] miguelpruivo commented on #216
@gilvangobbato would you mind checking and trying the purposed on [this answer](https://github.com/Baseflow/flutter-permission-handler/issues/84#issuecomment-603046729) on a similar issue with PermissionHandler plugin? Someone found a cause and a solution.

Thank you.

[2020-03-26 20:33] pureimpro opened #219 "[FilePicker] Platform exception: PlatformException(multiple_request, Cancelled by a second request, null)"
**Describe the bug**
A clear and concise description of what the bug is. If the issue happens to be on Android, please make sure that it also happens with a different device/simulator and/or version.

**Issue details**
1. Platform : IOS 13.3 on Simulator iPhone11 pro max + iPhone8
2. OS version : MacOS Catalina 10.15
3. File type (filter) : `audio`
4. Steps to reproduce

1- add this code to your f

[2020-03-26 21:50] miguelpruivo commented on #219
@pureimpro maybe I should document that as well. I'm afraid that it will only work when you have Music app installed with actually some content. Mind to try on a real device?

Thank you!

[2020-03-26 23:27] gilvangobbato commented on #216
So, thank you, I did the steps, this error (PlatformException) stops, but it continues open audio record.
I will ask for some help in that plugin.

Thanks

[2020-03-27 00:21] pureimpro commented on #219
thank you @miguelpruivo for your quick response !
Unfortunately I do not own any IOS physical device.
You are right, I do not have any audio content on my Virtual MacOs.
I tried to download a mp3 sample from the internet, and ITunes plays it nicely. But the console still complains about missing "com.apple.Music.MediaPicker".
What do you advice me to do in such a case ? Is it a plugin problem or a

[2020-03-27 01:21] miguelpruivo commented on #219
@pureimpro don’t worry. Picking áudio requires actually a music app with not DRM audio protected files on it so they can be picked. I’d try on a real device just to make sure whenever possible.

Also, make sure you didn’t forget about the audio entitlement that is required for such type picking.

[2020-03-27 01:24] miguelpruivo commented on #216
The audio is something that I must take a look on. As for the exception itself, I’ll make sure I add it on the documentation as well because this is not the first time someone comes across this. It looks like you need to migrate your app to be compatible with V2 embedding, that’s why.

Thank you.

[2020-03-27 10:54] gilvangobbato commented on #216
Thank you.

[2020-03-27 10:55] #216 closed

[2020-03-27 10:55] guit4eva commented on #164
Unfortunately this seems to have limitations with selecting which folder to scan for images

[2020-03-27 16:42] pureimpro commented on #219
@miguelpruivo thank you for your hints ! After googling a while, I just discovered that IOS Simulators do **NOT** have access to appStore and have just a minimal application set, excluding music app :(
Picking audio in a simulator is therefore impossible, with any flutter plugin, I think.
I did not find a website providing "IOS simulator music app friendly" download.
If you know one of them, let m

[2020-03-28 02:21] miguelpruivo commented on #219
@pureimpro the thing is that picking audio from iOS is restricted to official Apple Music app, regardless of the files being yours, as they’re also imported to it. That means that there’s no way that other player would solve it anyway.

I’m closing this as it’s not probably an issue, but feel free to reopen it if you try on a real device and the problem persists. Other than that, we can further co

[2020-03-28 02:21] #219 closed

[2020-03-28 21:44] AirborneEagle commented on #99
Thank you. 👍
I look forward to it, and if there are ways I may be able to help, let me know.

[2020-03-29 18:29] miguelpruivo commented on #212
@erluxman I've looked into it and I must say that it is almost impossible for this issue to happen as the method AUDIO has always been [there](https://github.com/miguelpruivo/flutter_file_picker/blob/e35b6aae601f1ffd9ba52a30d1c8c4e8ac25e92e/android/src/main/java/com/mr/flutter/plugin/filepicker/FilePickerPlugin.java#L171).

However, it could have been an issue with some cache/build between version

[2020-03-29 19:30] miguelpruivo commented on #198
@freshcodestechnology I was looking into this and it does seem that you are using an iPod, am I correct?

[2020-03-29 19:34] miguelpruivo commented on #214
Closing due to inactivity. Feel free to reopen if you still experience an issue related to it. Thank you.

[2020-03-29 19:34] #214 closed

[2020-03-29 19:34] freshcodestechnology commented on #198
Hello

Can you explain in detail ?

[2020-03-29 19:35] miguelpruivo commented on #198
@freshcodestechnology which device and iOS version are you using for picking the audio files?

[2020-03-29 19:36] freshcodestechnology commented on #198
Iphone X

[2020-03-29 19:37] miguelpruivo commented on #198
And iOS version?

[2020-03-29 19:48] miguelpruivo commented on #216
@gilvangobbato just found what was causing your record audio issue when opening the picker, you are using `FileType.any` with `csv` custom extension. You _must_ use `FileType.custom` when providing a custom extension.

However, it might be a good a idea for me to throw an exception when someone provides a custom format and selects other than `FileType.custom` to prevent this kind of scenarios.

Th

[2020-03-29 22:27] miguelpruivo commented on #200
Hi, I've managed to found the cause and confirm that it does actually happened when multiple tapping the same file from a 3rd party provider on iOS.

The fix has landed with [1.5.1](https://pub.dev/packages/file_picker#151).

Thank you for reporting!

[2020-03-29 22:27] #200 closed

[2020-03-30 04:58] erluxman commented on #212
@miguelpruivo  sadly  No  I haven't been able to, what is the proper way to clear the cache of previous versions?

`flutter clean`?

Have you tried it to select music file in Android till now?

[2020-03-30 09:46] miguelpruivo commented on #212
@erluxman yes. Without an issue. The thing is that your error seems impossible to be thrown as it always have that method.

Would you mind to run the example app provided with the plugin and see if it still happens?

To clear the cache you should have a .pub_cache folder in your Flutter directory (if you are on Mac or Linux).

[2020-03-30 10:53] gilvangobbato commented on #216
Thank you for your help, but I think that the problem is my device, I tried but didn't solve.
So, I've tested in other devices and it worked correctly and the issue is after request permisson and confirm, seriously, this is VERY strange, lol.
I created an issue for permission_handler plugin to see if someone could help me.

But thanks for your attention.

[2020-03-30 12:15] miguelpruivo commented on #198
@freshcodestechnology bump

[2020-03-30 16:37] DenchikBY opened #221 "NumberFormatException in getForApi19"
Hi! Sometimes I get exception like that when id isn't int, but file's name.

![Selection_344](https://user-images.githubusercontent.com/5912200/77937839-90af1480-72bd-11ea-985d-221f1338e55f.jpg)

https://github.com/miguelpruivo/flutter_file_picker/blob/8eb61af343b988bf0c523263199c53f6bfd2480b/android/src/main/java/com/mr/flutter/plugin/filepicker/FileUtils.java#L72

[2020-03-31 22:17] shlima commented on #154
waiting for this a lot !

[2020-04-01 10:17] romathebest commented on #24
hi, any news about the fix? I still have this issue on version 1.5.0+2

[2020-04-01 11:10] DenchikBY opened #222 "NullPointerException on Cursor.close()"
Hi! Please add null check.

![Selection_346](https://user-images.githubusercontent.com/5912200/78130668-6a56b980-7422-11ea-9670-1a498b52c850.jpg)

https://github.com/miguelpruivo/flutter_file_picker/blob/8eb61af343b988bf0c523263199c53f6bfd2480b/android/src/main/java/com/mr/flutter/plugin/filepicker/FileUtils.java#L170

[2020-04-01 11:29] miguelpruivo commented on #24
@romathebest not yet, there are a couple of things on the line to be made, however, this plugin uses the supported UTI's, I'm not quite sure why it wouldn't support some files. Which type are you trying and in which platform/device? Thank you.

[2020-04-01 11:31] miguelpruivo commented on #222
Good catch, I wonder why no one has never come across this. Thank you @DenchikBY.

[2020-04-01 11:32] miguelpruivo commented on #221
I wonder why the name is being used as id, which doesn't makes much sense. How can I replicate this?

[2020-04-01 12:22] DenchikBY commented on #221
I don't know, just saw it in crashlytics logs.

As solution I think you can not use `ContentUris.withAppendedId` and just append id to uri:
`Uri.parse(contentUriPrefix).buildUpon().appendPath(id).build();`

[2020-04-01 13:02] sathishmscict commented on #212
Android 10
Nokia 6.1 plus device
"AUDIO" type not working

[2020-04-01 14:12] miguelpruivo commented on #212
@sathishmscict could you please post your logs when you try selecting it? Thank you!

[2020-04-02 07:34] romathebest commented on #24
I am trying to show only .db files with SQLite data. Android 10 - Samsung s9 sm g960f

[2020-04-02 12:21] Adem68 commented on #24
I'm using 1.5.1 version. I can't show only kml and gpx files with `custom` parameter.

`FilePicker.getFilePath(type: FileType.custom, fileExtension: 'GPX');`
`FilePicker.getFilePath(type: FileType.custom, fileExtension: 'KML');`

Library gives platform exception;

`Platform exception: PlatformException(Unsupported file extension, Make sure that you are only using the extension without the dot, (ie

[2020-04-02 16:03] romathebest commented on #24
@Adem68 it's not working for a while, this issue opened more then a year ago
Right now you can use only FileType.any for files with your custom extensions

[2020-04-02 16:52] Adem68 commented on #24
Thx for reply @romathebest i tried with FileType.any then not worked.

[2020-04-02 17:19] miguelpruivo commented on #24
@Adem68 you need to use `FileType.any` and don't specify an extension at all. That's on the Wiki.

[2020-04-03 10:39] Blasanka opened #223 "The plugin file_picker could not be built due to the issue above with Flutter 1.12.13+hotfix.9"
My project is migrated to AndroidX and worked earlier with Flutter version `1.12.13+hotfix.7` and FilePicker version `1.4.3+2`

Flutter Doctor output:
[code]

Error log:

[code]

[2020-04-03 11:06] miguelpruivo commented on #223
@Blasanka this might sound dumb, but have you tried to `flutter clean` and then `flutter build` again after upgrading?

I highly doubt that a hotfix could introduce breaking changes at plugin's implementation, but...

[2020-04-03 11:11] Blasanka commented on #223
Yes, even  `pub cache repair` did not work.

[2020-04-03 11:13] miguelpruivo commented on #223
@Blasanka this looks like project related, otherwise I would say it would not work for _everyone_ as it's complaining to dependencies not found. I'm still at hotfix.8, could you downgrade to hotfix.8 and let me know if it works for you?

Could it be that hotfix.9 introduced breaking changes?

[2020-04-03 11:16] Blasanka commented on #223
Same issue with the eariler version `^1.4.3+2`.

[2020-04-03 11:17] miguelpruivo commented on #223
@Blasanka no, I'm suggesting `1.5.1` and Flutter stable version 1.12.13+hotfix.8

[2020-04-03 11:25] Blasanka commented on #223
Im on it. Can I know your Dart SDK version? My project version is `sdk: ">=2.6.0 <3.0.0"`

[2020-04-03 11:26] miguelpruivo commented on #223
This is where I'm at currently:
[code]

[2020-04-03 15:22] ElaineSchwner opened #224 "FlieType.audio is - doesn't work"
**Describe the bug**
getFile with FileType doesn't work on iOS.

  Future<File> getFile() async {
    File file = await FilePicker.getFile(type: FileType.audio);
    return file;
  }

**Issue details**
1. iOS
The same dode works on Android

**Error Log**
flutter: [FilePicker] Platform exception: PlatformException(multiple_request, Cancelled by a second request, null)
2020-04-03 12:24:20.769179-030

[2020-04-03 15:43] rrifafauzikomara opened #225 "V/FA ( 3102): Inactivity, disconnecting from the service"
**Describe the bug**
I Already implemented this library with the flow `click the button, show permission and also accepted, open the storage, pick the pdf file, then showing the path and file name into a screen`

But after I picking the `pdf file`, it's now showing the path and file name and showing the log like this:

[code]

Then I try to click the button `again`, it's now showing the storage an

[2020-04-03 16:10] miguelpruivo commented on #224
Well, the error seems clear here @ElaineSchwner, looks like multiple requests are being made at once.

Could you please try on the plugin's example app? Thank you.

[2020-04-04 01:08] laurij95 opened #226 "csv file type doesn't work"
**Describe the bug**
I wanted to be precise in the type of file a user can select but when I put
'_path = await FilePicker.getFilePath(type: FileType.custom, fileExtension: 'csv'); ', it does not work because even type .csv files are greyed out

**Issue details**
Flutter on Android Studio
Trying to access file on phone storage and google drive via emulator

[2020-04-04 03:53] erlangp opened #227 "please Don't expose data with Log.i Log.e"

[2020-04-04 05:11] pmrajani commented on #204
Any news when this will fix? can't able to open File-picker on latest verson for Huawei  device.

[2020-04-04 06:55] klokoleva opened #228 "how to add 2 extention in FileType.CUSTOM"
dear teams,
kindly help me to train how to allowed 2 extention after file epolorer opened..

this schema..
1. i clik button 'choose file'
2. open file explorer with 2 extentention file (PDF and image)
3. only PDF and image showing (others like apk file is hidden)

thankyou

[2020-04-04 07:09] rrifafauzikomara commented on #225
Hi @miguelpruivo please help me with this issue

[2020-04-04 08:01] miguelpruivo commented on #226
Closing as a dup of #24.

[2020-04-04 08:01] #226 closed

[2020-04-04 08:03] miguelpruivo commented on #227
Hi, may I know the details for requesting this one? There isn’t any sensitive data exposed with it at least that I’m aware of.

Actually the logs exposed most of the times are just handy steps or uris of what’s happening and definitely can help on debug/release builds.

Thank you.

[2020-04-04 08:05] miguelpruivo commented on #228
Hi. This is a requested feature that will be added soon.

Closing as this is being followed on #199

Thank you!

[2020-04-04 08:05] #228 closed

[2020-04-04 08:06] miguelpruivo commented on #225
Hi, actually can’t get the steps to reproduce this issue.

Would you mind to help?

Thank you.

[2020-04-04 08:21] miguelpruivo commented on #204
Yes @pmrajani this should be fixed on 1.5.1 as it has already V2 embedded support.

Clean your project and update the dependency.

Thank you!

[2020-04-04 10:23] erlangp commented on #227
BuildConfig.DEBUG :)

[2020-04-04 11:11] miguelpruivo commented on #227
@erlangp once again, logger.d should only appear on debug builds and .i on both with relevant information for both release and debug.

Also, I believe that you could turn off the logs for debug/release builds on your own build config settings and let up to the developer to decide.

Is there any particular reason why you would want to remove them at all?

[2020-04-04 11:29] rrifafauzikomara commented on #225
Actually this is my issue and then I hope you can help me 😃

[2020-04-04 11:42] miguelpruivo commented on #225
Yes, but how can I reproduce it?

[2020-04-04 21:03] miguelpruivo opened #229 "[Feature] Web Support"
# Motivation
Currently web support is one of most requested features for file_picker.

Have in mind that features are still being added and you need to be on Flutter branches that currently have web support as well (eg. `beta`, `dev`, `master`).

Update: early implementation of this is already available with [file_picker_web](https://pub.dev/packages/file_picker_web)

[2020-04-05 17:37] oumi commented on #223
I had a similar a problem, i tried to downgrade the flutter version to  1.12.13+hotfix.8 . But i still have the same error.
The result of building with file_picker: ^1.4.0:
`Deprecated Gradle features were used in this build, making it incompatible with Gradle 6.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/5.1.1/userguide/command_line_interfa

[2020-04-05 18:25] miguelpruivo commented on #223
@oumi there must be something on your machine that results in this. Maybe gradle version incompatibility? I’m trying to figure what but I can’t seem to be able to replicate the issue as it always builds successfully.

Mind to try the example project provided with the plugin?

Thank you.

[2020-04-05 22:04] #222 closed

[2020-04-05 22:31] miguelpruivo commented on #223
@oumi mind to try the solution described [here on the Wiki troubleshooting](https://github.com/miguelpruivo/flutter_file_picker/wiki/Troubleshooting#android)? Thank you.

[2020-04-05 22:32] miguelpruivo commented on #225
@rrifafauzikomara mind to try the solution described [here on the Wiki troubleshooting](https://github.com/miguelpruivo/flutter_file_picker/wiki/Troubleshooting#android)? Thank you.

[2020-04-05 22:35] miguelpruivo commented on #99
As of now, with version [1.6.0 released just now](https://pub.dev/packages/file_picker#160) you can start filtering multiple extensions at once. There are breaking changes, so have in mind that from now on you'll need to provide an `List` of file types instead of a single one with `FileType.custom`.

Example:
[code]

Web support is coming soon as well (already in progress).
Thank you.

[2020-04-05 22:35] miguelpruivo commented on #190
As of now, with version [1.6.0 released just now](https://pub.dev/packages/file_picker#160) you can start filtering multiple extensions at once. There are breaking changes, so have in mind that from now on you'll need to provide an `List` of file types instead of a single one with `FileType.custom`.

Example:
[code]
Thank you.

[2020-04-05 22:36] miguelpruivo commented on #42
@SJente as of now, with version [1.6.0 released just now](https://pub.dev/packages/file_picker#160) you can start filtering multiple extensions at once. There are breaking changes, so have in mind that from now on you'll need to provide an `List` of file types instead of a single one with `FileType.custom`.

Example:
[code]
Thank you.

[2020-04-05 22:36] miguelpruivo commented on #27
@ChiefWiggum as of now, with version [1.6.0 released just now](https://pub.dev/packages/file_picker#160) you can start filtering multiple extensions at once. There are breaking changes, so have in mind that from now on you'll need to provide an `List` of file types instead of a single one with `FileType.custom`.

Example:
[code]
Thank you.

[2020-04-05 22:36] miguelpruivo commented on #114
@omuomugin as of now, with version [1.6.0 released just now](https://pub.dev/packages/file_picker#160) you can start filtering multiple extensions at once. There are breaking changes, so have in mind that from now on you'll need to provide an `List` of file types instead of a single one with `FileType.custom`.

Example:
[code]
Thank you.

[2020-04-05 22:37] miguelpruivo commented on #222
Fixed and deployed with [1.6.0](https://pub.dev/packages/file_picker#160) that also supports multiple file extensions at once.

Thank you!

[2020-04-05 22:39] miguelpruivo commented on #198
Closing due to inactivity. Feel free to reopen if you still have any issue related to this. Thank you!

[2020-04-05 22:39] #198 closed

[2020-04-05 22:40] miguelpruivo commented on #218
Hi @iamsabet, have you managed to solve it?

[2020-04-05 22:41] #99 closed

[2020-04-05 22:44] omuomugin commented on #114
Thanks for the feature. It’s super cool :+1:

[2020-04-06 03:39] ChiefWiggum commented on #27
Awesome, thank you. We'll give it a try in a few days.

[2020-04-06 09:42] miguelpruivo commented on #228
This has already been added @klokoleva. Check version 1.6.0.

Thank you!

[2020-04-06 10:37] rrifafauzikomara commented on #225
@miguelpruivo okay I will try this night

[2020-04-08 09:35] namchuai commented on #224
@miguelpruivo The plugin's example app has the same error.

flutter: [FilePicker] Platform exception: PlatformException(multiple_request, Cancelled by a second request, null)
flutter: Unsupported operationPlatformException(multiple_request, Cancelled by a second request, null)

When file type is choosen, for example, from image.

[2020-04-08 09:56] miguelpruivo commented on #224
@namchuai that's actually an error to expect, as you can see in the error description, it was thrown due to a second request being made — when you tap again, which isn't actually supposed.

The `FileType.audio` opens the music app and `won't` work on simulator. You need to try on a real device and have in mind that won't let you pick DRM protected files as well.

If you need to pick your own music

[2020-04-08 11:08] leedstyh opened #232 "Got error after upgrading to 1.6.0"
**Describe the bug**

I'm using `hover` to run on windwos

Failed to open dialog, but print these message:

[code]

Prior version works fine.

**Issue details**
My code

[code]

**Error Log**
Please, post the _full_ console log of your issue, if applicable.

**Screenshots and/or video**
If applicable, add screenshots or video to help explain your problem.

**Flutter Version details**
[code]

**Add

[2020-04-08 11:18] miguelpruivo commented on #232
@leedstyh thank you. I know what it is, fixing it right now.

[2020-04-08 11:48] miguelpruivo commented on #232
@leedstyh deployed [1.6.2](https://pub.dev/packages/file_picker#162) with a fix for that. You can now also use multiple extension filters when using `FileType.custom`. Just file a new issue related to that if you find any problem.

Thank you.

[2020-04-08 11:48] #232 closed

[2020-04-08 12:16] namchuai commented on #224
Thanks for very quick reply and clear explaination.

[2020-04-08 13:36] DebugTheCode commented on #201
That would be a very nice feature. I hope you'll integrate it very soon. Thanks in advance.

[2020-04-08 13:45] miguelpruivo opened #233 "[Feature] Select multiple images/videos from gallery app on iOS"
Self explanatory.

[2020-04-08 13:45] miguelpruivo commented on #201
Please, follow #233 to track this. Thanks!

[2020-04-08 13:48] DebugTheCode commented on #233
Great. Awaiting for updates :)

[2020-04-08 13:58] miguelpruivo opened #234 "[Feature] Support scoped storage on Android"
# Motivation
[Scoped storage](https://developer.android.com/training/data-storage#scoped-storage) was introduced with API 29 and was motived to abstract devs from directly handling absolute paths.

I'm aware that as convenience, having absolute paths allows you to instance a `File` object directly on Flutter and handle it from there, however, this is not always possible and cached files (copies) a

[2020-04-08 13:58] miguelpruivo commented on #169
Closing in favor of #234.

[2020-04-08 13:58] #169 closed

[2020-04-08 13:59] miguelpruivo commented on #225
Did it work for you @rrifafauzikomara?

[2020-04-08 14:01] miguelpruivo commented on #212
Closing due to inactivity. Feel free to reopen if you still experience the same issue @sathishmscict.

[2020-04-08 14:01] #212 closed

[2020-04-08 14:02] miguelpruivo commented on #218
@iamsabet mind to try with `file_picker: 1.6.2`? Thank you.

[2020-04-09 05:11] jamesdixon commented on #233
@miguelpruivo thanks for this awesome package!

Interestingly enough, I landed here because I was looking for this very feature 😄

Do you have any idea of the perceived effort involved for this?

Cheers.

[2020-04-09 10:07] phillausofia commented on #223
I have the same issue.

When building the app I get an error specifying that FilePickerDelegate.java uses a deprecated API. And when I want to show the window to select the file, I get the following error:

[code]

Plug-in version: 1.6.2 My Flutter version:

[code]

In the GeneratedPluginRegistrant.java I can't find the plugin. I tried the solution from the Wiki section, and multiple cleans and bu

[2020-04-09 10:25] miguelpruivo commented on #233
@jamesdixon thanks! Actually, I'm afraid that not much. I was thinking on also supporting compression parameters hence the delay, but for the time being, I guess I'll implement it right away so people can start picking multiple pictures/videos from gallery with original quality and leave the compression for now (after all, there are other packages that can be used to compression afterwards with a

[2020-04-09 10:30] DebugTheCode commented on #233
There are some compression libraries (that use native compression) that are very easily to use and therefor also good to combine with your package. Compression straight out of your package would be a nice feature tho.
Let me know where I can buy you a cup of coffee.

[2020-04-09 10:33] miguelpruivo commented on #223
@phillausofia looks like you are still invoking `FilePicker.ANY` instead of `FilePicker.any` so I believe that this is some cached package issue (from previous versions).

Make sure you are calling using camelCase enum.

[2020-04-09 12:03] phillausofia commented on #223
Eventually I found the glitch:

the previous developer copied the file_picker.dart file from the plugin and added it directly to the code, so all the classes where imported from that file. I've deleted that file and all the previous cached versions of the plug-in (there were quite a few) and now it works.

________________________________
From: Miguel Ruivo <notifications@github.com>
Sent: Thursda

[2020-04-09 15:06] jamesdixon commented on #233
@miguelpruivo sweet! Yes, honestly, the multiple picking feature is something that it seems a lot of people are looking for. There are a couple of other libraries that do it, but your library is the cleanest and most versatile with regards to picking files, so having multi-select would be 🔥

More than happy to help where I can!

By the way, saw you're from Portugal. My wife and I had a trip planne

[2020-04-09 22:58] miguelpruivo opened #235 "[Feature] Support picking folders"
Self explanatory. Although this might only be possible on Android.

[2020-04-10 18:45] AdamBCo opened #236 "No implementation found for method ANY on channel miguelruivo.flutter.plugins.filepicker"
I am using file_picker: ^1.6.2 and getting the following error when calling await FilePicker.getFile():

[FilePicker] Unsupported operation. Method not found. The exception thrown was: MissingPluginException(No implementation found for method ANY on channel miguelruivo.flutter.plugins.filepicker)

**Issue details**
1. Platform (Android/iOS) - Android
2. Platform OS version - 10
3. Flutter Version

[2020-04-10 19:08] irdeveloper89 opened #237 "errors when build apk"
When I whant to build Apk  i get this errors

[code]

[2020-04-10 19:09] miguelpruivo commented on #236
Hi, this is the same issue as the one posted and answered [here](https://github.com/miguelpruivo/flutter_file_picker/issues/223#issuecomment-611456834).

Basically, you have something cached, because upper case enums don’t exist since 1.5.0, that’s why it’s not finding the implementation. You need to use `FileType.any`.

Check the linked answer.

[2020-04-10 19:10] miguelpruivo commented on #237
Hi, check [this](https://github.com/miguelpruivo/flutter_file_picker/wiki/Troubleshooting#issue).

[2020-04-10 19:29] irdeveloper89 commented on #237
I did all the steps and even made a new project, but there errors stil

[2020-04-10 22:24] miguelpruivo commented on #236
@AdamBCo let me know if it fixed for you and feel free to close afterwards.

Thank you.

[2020-04-11 09:26] irdeveloper89 commented on #237
I did everything,  created a new project and moved my project files in the new project, Update flutter, but the error is still

If I use the file picker package  alone  I can build apk but if I Use it in my project I get errors

[code]

[2020-04-11 11:00] gaoyong06 opened #238 "can't"
Thanks to the author, complete such a useful plugin.

The feature I want to implement is this:
1. after entering the album, If you select a picture for the first time after entering the album, you can select up to 9 pictures.

2.  if the first time you select a video, only 1 video can be selected.

3.  If the selected file is selected before you enter the album again after selecting it (whether it

[2020-04-11 11:33] miguelpruivo commented on #237
@irdeveloper89 this sounds like you haven’t created a project with Android X support.

Create so by doing: `flutter create --androidx {name}` and then copy your project contents (pubspec, lib etc) into there.

Thanks.

[2020-04-11 11:53] miguelpruivo commented on #238
Hi and thank you @gaoyong06.

I'm not quite sure if I understood what you are asking for, but I'm afraid that what you requesting is not possible, due to limitations of explorers. File picker doesn't render a custom view but instead calls native platforms (iOS & Android) to launch a native view with OEM pickers, those are stateless and won't keep a reference for the next launch.

As for the limit

[2020-04-11 11:53] #238 closed

[2020-04-11 11:58] miguelpruivo commented on #233
@jamesdixon thank you! It turns out that I've been working on the implementation for this since yesterday and I thought that it would be out-of-the-box but then found out that on iOS, the `ImagePickerViewController` doesn't allow you to pick multiple items, thus, I'm working around that — probably will use a good iOS lib with the features I need or else will have to create my own. Nevertheless, I

[2020-04-11 16:55] DCubix commented on #146
Hello I'm using the latest version and I'm having the **exact same** issue.
I'm using iOS 13.3 on a Simulator which is iPhone 11 Pro Max.

The file selection opens up normally but it does not return to the app when we select the file...

[2020-04-11 18:47] miguelpruivo commented on #146
@DCubix which version of the plugin are you using? And also what are the FileType that you are using.

The only time it could result in that behavior is if you select files from a provider (such as Dropbox or Google Drive) and don’t give it enough time to load the file (there is no loading progress for 3rd party providers, unfortunately).

[2020-04-12 01:35] erlangp commented on #227
Thanks for your response @miguelpruivo sir..
For me personally, usually I comment on all the Log code that is on android (to not expose in the logger). But I send the error log directly to the server using error reporter like ACRA..

[2020-04-12 01:35] #227 closed

[2020-04-12 02:37] gaoyong06 opened #239 "can't select multiple pictures"
Thank you very much to the author for completing such a useful plugin, I want to complete the following features.

1. Open the mobile album, if you choose the video is, you can only select 1 video, the other can not choose.
2. Open  the mobile album If you select a picture, choose up to 9 pictures.
3. When you select a picture (or video) to re-enter the album, it's still selected.
4. Click on the

[2020-04-12 02:53] miguelpruivo commented on #239
Dup of #238

[2020-04-12 02:53] #239 closed

[2020-04-12 13:18] DCubix commented on #146
@miguelpruivo I'm using version 1.6.2, and using a custom FileType. (Trying to open a PDF file).

[2020-04-12 14:32] miguelpruivo commented on #146
@DCubix would are you picking from iCloud or 3rd party provider?

[2020-04-13 03:01] cavinpabua commented on #223
I have the same problem with **Flutter 1.12.13+hotfix.9 ** and **file_picker 1.6.2** . I can't build now

[2020-04-13 09:33] miguelpruivo commented on #223
@cavinpabua post your logs please.

[2020-04-13 09:58] CyberGhost007 opened #240 "File not selecting"
After allowing permission for the first time, the different screen is opening and the file is not picking for the first time.

[2020-04-13 10:12] miguelpruivo commented on #240
@CyberGhost007 hi. Please, provide the details given on the issue template.

Which platform? Plugin version? Logs? Steps to reproduce? Does that happen on example app?

Thank you.

[2020-04-13 10:19] CyberGhost007 commented on #240
Plugin version: ^1.6.2
Platform: Android

STR: I created one class which opens the file picker to pick document. But for first time it's asks for permission. After allowing it opens different screen(Audio recording) when I press back it shows recent files(Which is correct) but when I tab on that file, it's not picking it. But next time when I run that class. It's working as expected

[2020-04-13 13:11] miguelpruivo commented on #240
This seem to be related to #236. I wasn’t able to replicate it but it seems that migrating your project to fully support V2 Is a must and could help.

Check the troubleshooting for android on this project’s wiki and let me know if it worked for you.

[2020-04-13 15:00] jamesdixon commented on #233
@miguelpruivo thanks for the update! Did you end up picking an existing iOS library?

Yes, we're definitely planning on rebooking our trip for next spring. Stay safe!

[2020-04-13 17:48] marchellodev opened #241 "Error on building flutter go application"
Cannot build the flutter go application, using the latest versions of hover and flutter_file_picker

[code]

[2020-04-13 17:49] miguelpruivo commented on #241
Thank you @marchellodev, that was due to a quick refactor, I'll deploy a fix later today. Sorry for the inconvenience.

[2020-04-13 18:12] sagarzala123 opened #242 "FileType not works as expected."
I am getting issue in FileType.

[code]

The picker dialog shows '**Photos**' option in drawer menu and it enable to pick pictures. But I have passed extension '**pdf**'.

![Screenshot_1586801425](https://user-images.githubusercontent.com/13331874/79146734-735f6780-7de0-11ea-8c82-fcd446733fa5.png)

![Screenshot_1586801433](https://user-images.githubusercontent.com/13331874/79146745-76f2ee80-7de0-1

[2020-04-13 19:09] miguelpruivo commented on #242
Hi. I’d say that this is almost impossible, unless somehow the picture had an extension of pdf 😁 anyway, could you please post the logs while picking?

Thank you!

[2020-04-13 22:47] miguelpruivo commented on #240
Any news on this?

[2020-04-14 01:55] cavinpabua commented on #223
I have the exact same logged errors as @oumi but with version 1.6.2

[2020-04-14 06:20] sagarzala123 opened #243 "java.lang.IllegalArgumentException: Invalid column latitude"
[code]

[2020-04-14 09:48] miguelpruivo commented on #237
Did it worked for you @irdeveloper89?

[2020-04-14 09:48] miguelpruivo commented on #225
Closing due to inactivity. Feel free to reopen if this issue still persist. Thank you.

[2020-04-14 09:48] #225 closed

[2020-04-14 09:49] #224 closed

[2020-04-14 09:51] miguelpruivo commented on #223
@cavinpabua this looks like the project needs to me migrated to support v2 (probably that’s a project that started sometime ago). Check the [troubleshooting](https://github.com/miguelpruivo/flutter_file_picker/wiki/Troubleshooting) section on the Wiki for Android.

[2020-04-14 12:34] romathebest commented on #24
@miguelpruivo I have checked code. There is getMimeTypeFromExtension() on android and it has limited extensions support. It changed in each version of android. For example, you can check list for [android 7](http://aosp.opersys.com/xref/android-7.1.2_r11/xref/libcore/luni/src/main/java/libcore/net/MimeUtils.java)

I think there should be work around not to use it and set extensions manually

[2020-04-14 14:00] miguelpruivo commented on #24
@romathebest sure, that's what this issue is all about, actually.

[2020-04-14 21:11] hpoul opened #244 "Android: Saving back to the selected file"
Right now, especially on later android versions the file cannot be resolved to a local path, but has to be fetched by the content provider / URI and so the file picker plugin has to create a cached version of it.
but ..

1. The Plugin does not communicate to the caller that the file is just a cached copy of the original file.
2. The dart code has absolutely no way to change the original file.

It

[2020-04-14 23:58] miguelpruivo commented on #244
Hi @hpoul! You are completely right and I’ve already created an issue with feature purposely regarding this that I’ll implement in a near future. Check #234.

I welcome you to post any suggestions/questions there.

Thank you!

Closing as a dup of #234.

[2020-04-14 23:58] #244 closed

[2020-04-15 04:44] cavinpabua commented on #223
@miguelpruivo I started this project just last month and upon seeing the troubleshooting section all is in order. I have v2 still the error persist. I'm focusing on **error: cannot find symbol import androidx.lifecycle.DefaultLifecycleObserver;** maybe it gives some lead

[2020-04-15 05:25] hpoul commented on #244
@miguelpruivo thanks for your fast response. I have actually seen the other issue before, but it sounded to be a bit of a broader scope.. :) thanks, will follow the other issue.

[2020-04-15 08:07] hpoul commented on #234
Out of curiosity, do you already have any plans how to implement this (API wise), or have you started?
I'm thinking about having a go on it as well.. I have a few user reports ([@AuthPass](https://github.com/authpass/authpass/)) because of that problem and not much to solve it without touching the plugin.

[2020-04-15 08:57] miguelpruivo commented on #223
@cavinpabua this os odd as if it were because of that, it should happen to _everyone_ that uses the plugin (including myself).

Could you please run the example app provided with the package and let me know if it worked for you?

Thank you.

[2020-04-15 10:36] marchellodev commented on #241
Hello, @miguelpruivo, any updates?

[2020-04-15 10:48] miguelpruivo commented on #241
Sorry, just hadn't the time yet @marchellodev. I'll try it today.

[2020-04-15 11:19] phucgaoxam commented on #242
I got the same problem too on Android 10

[2020-04-15 12:52] CyberGhost007 commented on #240
`   docFile = await FilePicker.getFile(
                            type: FileType.custom,
                            allowedExtensions: ['pdf', 'doc', 'docx'],
                          );`

[2020-04-15 12:52] CyberGhost007 commented on #240
I am using like this

[2020-04-15 13:01] miguelpruivo commented on #242
@phucgaoxam also with pdf only?

[2020-04-15 20:55] miguelpruivo commented on #242
@phucgaoxam @sagarzala123 I tried to further investigate about this and it turns out that I can't replicate it at all, when selecting ['pdf'] only, on Android 10, with `FileType.custom` it displays _only_ pdf files.

I would kindly ask you for some logs when picking the files. Thank you.

[2020-04-15 21:06] miguelpruivo commented on #243
Hi, the file had probably an invalid metadata, thus the exception. Anyway, just wrapped it with a try-catch to protect such from happening while resolving the name.

Thank you!

[2020-04-15 21:07] #243 closed

[2020-04-15 21:57] miguelpruivo commented on #241
@marchellodev I looked into this today but actually found a limitation on Go side that I'm already working on.

For now, I suggest you to use a version that doesn't support multiple file picking, such as 1.5.0+2.

Sorry for the inconvenience, I'll keep you updated.

[2020-04-15 21:59] miguelpruivo commented on #240
Hi, can't replicate it. Would you mind to record a video on that happening with the example app? Or it doesn't happen in the example?

Thank you.

[2020-04-15 22:00] miguelpruivo commented on #236
I'll assume you've managed to fix it. Closing due to inactivity. Feel free to reopen if you still have any question related to this.

Thank you!

[2020-04-15 22:00] #236 closed

[2020-04-15 22:01] miguelpruivo commented on #223
@cavinpabua after further investigation, and based on your logs, you are using a cached version of 1.5.1. Please, update the plugin to the latest version and see if it still happens for you (you might need to completely remove the cache from your .pub_cache folder).

Thank you.

[2020-04-16 01:50] cavinpabua commented on #223
@miguelpruivo I have moved my version 1.6.2 and still got the error below:

C:\Users\user\AppData\Roaming\Pub\Cache\hosted\pub.dartlang.org\file_picker-1.6.2\android\src\main\java\com\mr\flutter\plugin\filepicker\FilePickerPlugin.java:10: error: cannot find symbol
import androidx.lifecycle.DefaultLifecycleObserver;
                         ^

I also have repeatedly deleted the pub.dartlang.org fol

[2020-04-16 02:00] cavinpabua commented on #237
@miguelpruivo I have followed and created using `flutter create --androix {name}` and migrated the whole project and the problem still persists as like in my [comment](https://github.com/miguelpruivo/flutter_file_picker/issues/223#issuecomment-614367888)

[2020-04-16 02:38] cavinpabua commented on #223
After some investigation with reference to [stackoverflow](https://stackoverflow.com/questions/55819499/androidx-lifecycle-defaultlifecycleobserver-not-found) and [android jetpack](https://developer.android.com/jetpack/androidx/releases/lifecycle#java)
I manually added the following to flutter_file_picker android/build.gradle and reduced the error from 12 to 1 error:

**ERROR**
`C:\Users\user\AppD

[2020-04-16 07:47] ifanchu opened #245 "File picker not showing cloud files but only photo gallery"
**Describe the bug**
On iOS, I followed the setup and the picker came up correctly but there is no way to show cloud files like iCloud, Google Drive, and etc. Tried this on both simulator and actual devices. I must be missing some very basic configuration here...please help.

**Issue details**
1. Platform (Android/iOS) iOS
2. Platform OS version: 13.3.1
3. File type (filter) — when applicable: Ima

[2020-04-16 08:44] miguelpruivo commented on #223
@cavinpabua thank you for the effort. Like I said, you shouldn’t need that dependency at all, otherwise it would be happen to all plugin users including myself since V2 support was added.

We need to dig in the origin cause. Have you checked [this]( https://github.com/miguelpruivo/flutter_file_picker/wiki/Troubleshooting#b-possible-solution)?

[2020-04-16 08:51] miguelpruivo commented on #245
Hi @ifanchu, no problem. Like mentioned in the [wiki](https://github.com/miguelpruivo/flutter_file_picker/wiki/API#filters), when using `FileType.image` on iOS, it will open the photos app and not the files app, that’s why you can’t see it.

You need to use either `FileType.any` or, if you still want to restrict to images only, `FileType.custom` and provide a list of image extensions that you want

[2020-04-16 08:51] #245 closed

[2020-04-16 09:04] bohrasankalp commented on #241
Is this the reason it's ending with missing plugin exception on the flutter-desktop version?

[2020-04-16 09:05] cavinpabua commented on #223
@miguelpruivo  yes my whole project is in androidx now.
my project:

**android/app/build.gradle**
compileSdkVersion 28
targetSdkVersion 28

**android/gradle.properties**
org.gradle.jvmargs=-Xmx1536M
android.enableR8=true
android.useAndroidX=true
android.enableJetifier=true

[2020-04-16 09:53] miguelpruivo commented on #223
This is one of those Android mysterious things @cavinpabua, it's not easy specially when I can't replicate it, but I might have found something relevant.

If this is not happening to everyone, leads me to the conclusion that it has to be with Flutter engine itself differences on different versions — and so it seems, like in this [open issue](https://github.com/flutter/flutter/issues/52530).

Basic

[2020-04-16 09:56] miguelpruivo commented on #241
@bohrasankalp no, this is only for versions above 1.5.0+2 and will thrown an error due to invalid method calls.

For that missing plugin exception looks like you forgot to `hover init` before calling `hover run` (check the [steps](https://github.com/miguelpruivo/flutter_file_picker/wiki/Setup#--desktop-go-flutter) for installation.

[2020-04-16 09:57] miguelpruivo commented on #237
Closing as dup of #223.

[2020-04-16 09:57] #237 closed

[2020-04-16 10:01] miguelpruivo commented on #234
@hpoul yes, I have been drafting something but's not yet on origin, this is on my top priorities alongside with #229 and #233, so that's probably next on the line.

[2020-04-16 10:13] cavinpabua commented on #223
@miguelpruivo  Tried `flutter clean` and `flutter channel master` with `flutter upgrade` and upon rebuilding the issue still remains. You mentioned that you're on Mac, I will try to make some virtual machine with Ubuntu Linux and will try to build my project in there. I will get back on this thread.

[2020-04-16 10:21] miguelpruivo commented on #223
@cavinpabua that's quite an effort, but should point us toward the right direction if that works.

Thank you.

[2020-04-16 13:09] CyberGhost007 commented on #240
Okay sure,

[2020-04-16 13:19] CyberGhost007 commented on #240
https://photos.app.goo.gl/a8q5KGDrsZdHaNsa6

Check this video

[2020-04-16 15:08] miguelpruivo commented on #240
@CyberGhost007 this is really weird but I really would like to help you! Could you please all the logs you got until that point?

Thank you.

[2020-04-16 16:18] ifanchu commented on #245
Thank you very much, I feel embarrassed that I missed this, thank you again for your timely response. It works now.

[2020-04-16 16:40] CyberGhost007 commented on #240
Sure

[2020-04-16 17:13] ifanchu commented on #245
So if I use

`image = await FilePicker.getFile(type: FileType.custom, allowedExtensions: ['jpg', 'png', 'HEIC']);`

It will open Files but not Gallery, so I can't get both here? Like starting with gallery and able to navigate up to Files?

[2020-04-16 20:09] miguelpruivo commented on #245
@ifanchu that's right. On iOS you can't switch between Files app and Gallery, they are two different system apps.

[2020-04-16 20:38] webertim commented on #229
@miguelpruivo You should adjust the

to
`ref: web-support`

[2020-04-16 21:28] miguelpruivo commented on #229
Hi, what's the reason behind this @webertim?

[2020-04-16 21:29] webertim commented on #229
When I tried to include the package with the underscore it didn't work, because your branch name is actually web-support @miguelpruivo

[2020-04-16 21:37] miguelpruivo commented on #229
Oh, my bad, thanks @webertim.

[2020-04-16 21:38] webertim commented on #229
No problem :)

[2020-04-17 05:10] cavinpabua commented on #223
@miguelpruivo  I took me sometime to setup the environment but the issues still persist. The logs are as follows:

/home/cavin/Downloads/flutter_linux_v1.12.13+hotfix.9-stable/flutter/.pub-cache/hosted/pub.dartlang.org/file_picker-1.6.2/android/src/main/java/com/mr/flutter/plugin/filepicker/FilePickerPlugin.java:10: error: cannot find symbol
import androidx.lifecycle.DefaultLifecycleObserver;

[2020-04-17 08:50] miguelpruivo commented on #223
@cavinpabua does that happen when you run the example app from the plugin?

[2020-04-17 09:59] cavinpabua commented on #223
@miguelpruivo  aaaaand yeah it the example app from the plugin builds without a problem.
I just wonder why me and @oumi have the same problem where in fact we just use the plugin as usual.
I also want to mention that my project android language is Kotlin while the example app, I believe, is in Java. Could it be a reason?

[2020-04-17 11:24] miguelpruivo commented on #241
@marchellodev @bohrasankalp issues were addressed and file picker can again be used with Go, with multiple file extension support, see [1.6.3](https://pub.dev/packages/file_picker#163).

Please, be aware that on Darwin (MacOS) multiple extensions won't work (I'll add to Wiki) as of now, on Windows/Linux if someone find something please report me as I didn't have a chance to try on those environmen

[2020-04-17 11:24] #241 closed

[2020-04-17 11:25] miguelpruivo commented on #218
@iamsabet this should now be fixed with `1.6.3`, as some issues were found on Go side of plugin's implementation.

Please, report if you find something else.
Thanks!

[2020-04-17 11:25] #218 closed

[2020-04-17 11:47] marchellodev commented on #241
@miguelpruivo, the latest version still doesn't work

[code]

[2020-04-17 12:28] miguelpruivo commented on #241
@marchellodev sorry, you are correct. I've only tested on MacOS, that's why I couldn't find that I forgot the new args for the other platforms. Already deployed `1.6.1+1` with a fix. Let me know if it's working for you.

Nevertheless, don't forget to clean up your cache (it should be under `~/go/pkg/mod/github.com/miguelpruivo/flutter_file_picker/`

Thanks.

[2020-04-17 12:41] miguelpruivo commented on #223
@cavinpabua hum, could it be related? I don't know. But I'll try to create an empty project with Kotlin as Android support and see if I can replicate it (I wish I could, worse that errors, are those that you can't replicate in order to implement a fix).

[2020-04-18 10:28] SureShDood opened #246 "[Feature] Multi file pick to set length to be fetch."
I encourage you to add new suggestions that you think that can make file_picker even a better package.

_**Note:**_: Before creating a new suggestion, make sure it isn't already listed. Filter by [suggestion] tag.

[2020-04-18 11:52] marchellodev commented on #241
@miguelpruivo I can't find this update on github, how can I add it to hover?

[2020-04-18 12:01] pmrajani commented on #245
@miguelpruivo i need to open Photo app while i set like this

`image = await FilePicker.getFile(type: FileType.custom, allowedExtensions: ['jpg', 'png', 'HEIC', 'mp4']);`

How to do this?

[2020-04-18 13:10] miguelpruivo commented on #245
@pmrajani thats not currently supported and it would require a custom view for photos app on iOS side to make it achievable.

If you want to pick photos from gallery you need to use `FileType.image` and extensions will be ignored. Sorry for any inconvenience.

[2020-04-18 13:38] DCubix commented on #146
@miguelpruivo Nope, I'm just trying to pick a file from the phone's internal storage

[2020-04-18 15:26] miguelpruivo commented on #146
@DCubix would you mind to record a video? Thanks!

[2020-04-18 17:30] DCubix commented on #146
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/5081992/79644724-c0449480-8178-11ea-884f-b1db70b51083.gif)

[2020-04-18 17:33] DCubix commented on #146
![Gravacao-de-Tela-2020-04-18-as-1](https://user-images.githubusercontent.com/5081992/79644778-1d404a80-8179-11ea-9008-be75f313a39b.gif)

[2020-04-18 17:52] miguelpruivo commented on #146
Hum, thanks @DCubix. This looks sort like a glitch from the simulator. Does that happen on a real device? What if you try in a different folder?

[2020-04-18 19:46] DCubix commented on #146
@miguelpruivo ah that might be the problem... I unfortunately have no iOS 13 device to test

[2020-04-19 01:37] oumi commented on #223
Sorry for not replying before.
Now, i downloaded for the second time the example of @miguelpruivo and it worked without doing anything else (the same example didn't work two weeks before). And i used the last version of file picker on my project also and it worked. I have to say also that i'm using windows. I don't know what's new in this last version...
Any way, many thanks guys!!.
If you need me

[2020-04-19 04:30] bohrasankalp opened #249 "Open selective path with optional argument"
I am now sure if it could be an enhancement, Is it possible to pass a selective path while opening folder? Let me more explanatory, `file_picker` open base path depending on OS. If the option could be pass to reach a selective folder and open, and fallback to the base path.

like expected to open `/home/user/some-folder/` and case if it doesn't exist open folder `/home/user` current behavior?

[2020-04-19 08:39] hpoul commented on #234
that is great to hear, so i'll just wait it out.. one thing, do you know that the same exact problem exists on iOS devices? Right now the plugin uses: `UIDocumentPickerModeImport` when opening `UIDocumentPickerViewController`. This basically only returns a copy in the applications `Inbox` directory. As far as I understand it, to be able to read and (re)write. it, one would have to use `UIDocumentP

[2020-04-19 09:49] miguelpruivo commented on #223
This still looks like cache issues conflicts to me @oumi, which makes it harder to address. Have you updated your Flutter version in the meantime? Thanks!

[2020-04-19 09:52] miguelpruivo commented on #249
Hi, thanks for your suggestion, but I’m not sure if I understood it properly.

I can’t really see how’d it happen to never have a path, as it’s up to the system to decide which starting path will be (based on type is iOS). On Android it’s just an intent. I don’t really specify a starting folder anywhere.

[2020-04-19 09:55] miguelpruivo commented on #234
@hpoul good point. Anyway, I’m not sure if that will be necessary on iOS side as you _always_ an absolute path to handle. That makes it easier for Dart to manipulate a `File` object directly.

[2020-04-19 12:18] hpoul commented on #234
not sure what you mean exactly.. as I see it, both the iOS and android plugin would need to pass back to the caller two informations 1. file path containing content 2. some opaque token to identify the original loaded file by the plugin (for refreshing the content in the future, as well as writing back to it) - on android this is a content provider URI, on iOS this is a secure bookmark URL.

[2020-04-19 12:55] braysonjohn148 opened #250 "Absolute file path:/data/user/0/<app id>/cache/8636 Cache has no extension, so i cannot get the file extension"
**Describe the bug**
When i do:

 File file = await FilePicker.getFile(type: FileType.ANY);
file.path.toString().split('.').removeLast().toString())

Its bringing null. What can i do

**Issue details**
1. Platform (Android/iOS)

[2020-04-19 13:12] miguelpruivo commented on #250
Hi, you can use `split('\').last` instead. That should give you the file name. However, this might be related to #234.

[2020-04-19 13:12] #250 closed

[2020-04-19 13:16] miguelpruivo commented on #246
This might be a good suggestion, however, on Android it will force `minSdk` version to increase to 18 (currently 16 is min supported).

[2020-04-19 14:45] oumi commented on #223
Actually, last week i tried a lot of things like upgrading gradle (now i have 5.6.4 version) and i don't think that i did anything else.
May be the combination of the new version of the plugin and the gradle 5.6.4 worked.
Anyway, this is the result of my flutter doctor:

[√] Flutter (Channel unknown, v1.12.13+hotfix.8, on Microsoft Windows [VersiÃ³n 10.0.18362.778], locale es-ES)
    • Flutter ver

[2020-04-19 14:56] braysonjohn148 commented on #250
The string that comes has no the extension at the end, so how can i split it

[2020-04-19 14:58] braysonjohn148 commented on #250
notesdoc.path.toString().split('.').removeLast(); Still i cannot get the file extension. Because the absolute path has not extension at the end

[2020-04-19 22:48] miguelpruivo commented on #240
@CyberGhost007 sorry to bother, but do you have the logs? That could really help me to follow the stack trace of what's happening that could result in the picker launching the audio recorder (although to me, it looks like the result intent is being picked from the audio recorder — wrongly) and it's not actually related to the File Picker.

Does that device have a custom Android rom?

[2020-04-19 22:49] miguelpruivo commented on #242
Any news on this @phucgaoxam or @sagarzala123?

[2020-04-19 23:09] miguelpruivo commented on #221
Fixed with 1.6.3+2.

After further investigation it looks like some files (specially those from Downloads folder) after Android Q can't be handled properly and scoped storage (see #234) should be the way to go — you can see [here](https://github.com/Yalantis/uCrop/issues/318) a similar issue and it's discussion.

For now, there's no immediate way to probably retrieve the absolute file path for tho

[2020-04-19 23:09] #221 closed

[2020-04-19 23:10] miguelpruivo commented on #223
@cavinpabua would you mind to set your gradle version to 5.6.4 to see if it might be related and actually provide a fix? 🕵️‍♂️

Thanks @oumi.

[2020-04-20 06:01] sagarzala123 commented on #242
Please check this video : https://youtu.be/WxLt7In88XE

[2020-04-21 09:49] jeansoula commented on #245
Hi @miguelpruivo !

For me it is totally the opposite, on my simulator device I arrive instantly on Icloud drive... But I want to have access to camera and pictures from gallery.

Here is my command:
`final List<File> files = await FilePicker.getMultiFile(type: FileType.image);`

Ios Simulator version : 13.4.1

Where did I make a mistake ?

_ps: I followed the tutorial in the wiki._

[2020-04-21 09:52] miguelpruivo commented on #245
Hi @jeansoula, liked pointed [here on the Wiki](https://github.com/miguelpruivo/flutter_file_picker/wiki/API#filepickergetmultifilepath), when using multiple picker on iOS, it will _always_ open the Files app as currently is not supported multiple picks from gallery app. If you want to open gallery, just use `getFile` instead.

There's an ongoing issue that you can follow that will add multiple pi

[2020-04-21 09:58] jeansoula commented on #245
Thank you for your fast answer ! 👍
I will be waiting your next release soon ;)

[2020-04-21 13:23] marchellodev commented on #223
@miguelpruivo
The same issue here
[code]

gradle 5.6.4
in `flutter_file_picker/example` everything works fine

[2020-04-21 13:39] miguelpruivo commented on #223
If example works fine, maybe you can try to see what dependencies have differences on both? Looks like an Android dependencies issue to me.

[2020-04-21 18:56] marchellodev commented on #223
I've switched to 1.4.3+2 and now everything works.
I haven't noticed much difference between android folder in example and android folder in my project. The main difference is that my project uses kotlin.

[2020-04-21 18:58] miguelpruivo commented on #223
@marchellodev it looks like this is affecting users with Kotlin projects, I'll keep you updated. Switching to 1.4.3 you'll be losing a lot of new features such as multiple file extension filters and so on, but if you don't need them as of now, stick with it for now.

[2020-04-21 20:07] CyberGhost007 commented on #240
D/FlutterView(15233): Detaching from a FlutterEngine: io.flutter.embedding.engine.FlutterEngine@3c65552
D/SurfaceView(15233): 227862187 updateRequestedVisibility, mViewVisibility:true, mWindowVisibility:false, mWindowStopped:true by android.view.SurfaceView.onWindowVisibilityChanged:292 android.view.View.dispatchWindowVisibilityChanged:13971 android.view.ViewGroup.dispatchWindowVisibilityChanged:1

[2020-04-21 20:08] CyberGhost007 commented on #240
@miguelpruivo Sorry for the delay. Here are the logs.

[2020-04-22 06:30] atheist1 commented on #223
I have the similar issue when i add `android:requestLegacyExternalStorage="true" ` this line to Androidmainfest.xml.The logs are as follows:
[code]

[2020-04-22 09:26] miguelpruivo commented on #223
@atheist1 also on a Kotlin project?

[2020-04-22 21:32] miguelpruivo commented on #233
@jamesdixon yes, it's already on the go. I'm adding BSImagePicker since that after researching and see details of more than 5 different good options available, this one seems to be the most reliable as far as it concerns to iCloud picking, different albums, picking limits and so on.

Also, is one of the few that still has a decent support, having myself issued a PR [here](bsimage picker ios) and [

[2020-04-23 07:11] zhangruiyu opened #252 "I want to select multiple audio files, but I can only choose one at present"
I want to select multiple audio files, but I can only choose one at present
code:
List<File> file = await FilePicker.getMultiFile(
                    type: FileType.custom,
                    allowedExtensions: ['mp3', 'm4a', 'wav', 'aac']);

[2020-04-23 07:56] atheist1 commented on #223
I am not sure about it, I am a new developer to flutter.
but i guess it is a pure flutter project cause it's created by android studio on `start a new flutter project`  choice.
And its build with no error if i don't add the `android:requestLegacyExternalStorage="true"` but i can pick pdf file on android Q.

[2020-04-23 09:22] miguelpruivo commented on #252
If this is on Android, you need to tap and hold when selecting on some devices in order to open the start the multi picker.

[2020-04-23 22:22] predme opened #253 "Files accessed via Seafile Cloud is not possible to write to"
Before creating an issue, make sure that you are on the latest `file_picker` version and that there aren't already any similar opened inssues. Also, check if it isn't described on the [Wiki](https://github.com/miguelpruivo/flutter_file_picker/wiki), specially on [Troubleshooting](https://github.com/miguelpruivo/flutter_file_picker/wiki/Troubleshooting) page.

Also, sometimes a simple `flutter clea

[2020-04-24 14:23] hpoul commented on #234
fyi, i tried to add support for writable storage to the plugin, but it felt like your plugin was made for a completely different purpose (ie. importing files into the app, rather than "opening" them for manipulation).. So i've gone the route of implementing only exactly that in a [separate plugin](https://github.com/hpoul/file_picker_writable/).. it's sole purpose is to let the user choose a file

[2020-04-24 15:20] miguelpruivo commented on #234
That's nice to hear @hpoul, I actually have plans to add it into the file_picker as well, just hadn't the time yet with all of other requested features/issues and the time I have to maintain it (as I'm the only maintainer of the plugin).

I'll probably take a look into yours when implementing it.

Thank you!

[2020-04-25 18:09] miguelpruivo commented on #233
Ok, the feature has landed on pub.dev with [1.7.0](https://pub.dev/packages/file_picker#170). 🎉

Have in mind that currently filtering with different albums is not supported (already issued a PR for the BSImagePicker for exposing that to ObjC as well). As soon as it's available, I'll add it. Picking single files remains the same, using the iOS SDK image picker instead, just for reliability purpose

[2020-04-25 18:11] DebugTheCode commented on #233
@miguelpruivo Great! Thanks for the update.

[2020-04-25 18:14] miguelpruivo commented on #253
Hi @predme, and yes, most of the times, specially in later Android SDKs, files will be cached as they don't want us to use absolute file paths to handle it — instead, they want use to use scoped storage with URI's but that doesn't allow users to open descriptors using `File` object on Dart side, which is most of the time desirable. So, because of that, I've a planned feature that I have already an

[2020-04-25 18:14] #253 closed

[2020-04-26 11:55] aadarsh-patel opened #254 "Deprecated API"
**Describe the bug**
During build of the app.  I am getting the following warning on debug console.

Note: Recompile with -Xlint:deprecation for details.

**Issue details**
1. Android (Oneplus 6)
2. Android Pie
3. Filetype.custom

I am using the 'file_picker' package in this way,
`_selectedFiles = await FilePicker.getMultiFile(
      type: FileType.custom,
      allowedExtensions: ['sfb'],
    );`

[2020-04-26 12:24] miguelpruivo commented on #254
Thank @aadarsh-patel that's actually _not an issue_, it's due to the fact that it's using an old method API to retrieve the absolute file paths whenever possible — follow feature proposal #234.

Anyway, that shouldn't have any impact on your app, it's just a deprecation warning.

Thank you!

[2020-04-26 12:24] #254 closed

[2020-04-26 17:10] jamesdixon commented on #233
@miguelpruivo fantastic! Will give this a try. Thank you for your work 🙌

[2020-04-26 17:13] miguelpruivo commented on #233
@jamesdixon I'm actually right now working on this, I wasn't satisfied with the provided result of BSImagePicker, so I'm replacing it with DKImagePicker which actually provides more customization, allows camera and so on. Also, I can make it ready for albums and videos right now as DKImagePicker exposes everything to Objective-C already.

Last but not least, it requires a minimum version of iOS 8.

[2020-04-26 17:14] jamesdixon commented on #233
@miguelpruivo ah, okay nice! I was actually just logging a bug. Was seeing that when you first load the gallery, it's blank. Subsequent loads work just fine.

I'll wait for this new version then.

Cheers.

[2020-04-26 17:16] miguelpruivo commented on #233
Yes, also on that one I had to manually handle iCloud files (and also add the progress bar loading on the UI) which cluttered a bit the readability of the obj-c implementation of the plugin. I'll keep. you updated!

[2020-04-26 17:55] jeansoula commented on #233
Hi !

I would like to try it but I had got an error :

[code]

Somebody knows how to solve it ?

Regards

[2020-04-26 18:44] Dreamersoul opened #255 "cannot build ios version 1.7.0"
when i build the application i get the following error:
[code]

[2020-04-26 18:47] miguelpruivo commented on #255
Thats because since 1.7.0 introduced a new feature and you need to set minimum version of 10.0 on iOS. That's on the changelog and Wiki as well.

Nevertheless, that new feature (see #233) will be replaced with a new one and you will be able to have iOS 8.0 as minimum again. For now, if you don't want to change versions, just stick with 1.6.3+2.

[2020-04-26 18:47] #255 closed

[2020-04-26 18:50] Dreamersoul commented on #255
thank you, that fixes it 👍

[2020-04-26 20:52] miguelpruivo commented on #233
@jamesdixon and others in this thread, it's done. I believe that now is more reliable and you can also have the freedom to pick from different albums and use both `FileType.image` and `FileType.video`. Any feedback is appreciated.

I've added a simple modal loading dialog while exporting the assets from the picker and it can actually take a bit if you select a lot that are stored on iCloud as they

[2020-04-26 20:52] #233 closed

[2020-04-27 05:13] CyberGhost007 commented on #240
@miguelpruivo  Any updates on this?

[2020-04-27 06:30] ethael commented on #229
thanks a lot for all your effort put into this. do you have at least some rough estimations when this feature can be released?

[2020-04-27 08:43] miguelpruivo commented on #229
@ethael I believe that shortly. You can already have a sneak peek from the `web-support` branch, it’s not yet available because I’m hardly trying to have it all bundled within the same package instead of 3 different ones — usually, they create an interface, a web plugin and a mobile one, but I’d rather have it all in one place.

[2020-04-27 11:04] DebugTheCode commented on #233
@miguelpruivo Thanks for the quick fix. I would like to suggest to make the loading dialog a widget I can manually insert like:
`FilePicker.getMultiFile(type: FileType.image, loadingDialog: Container(),);` Or something like that.

Also, is it correct that there's no option to let the user pick multi images and videos from the Photos app on iOS?

[2020-04-27 11:44] miguelpruivo commented on #233
@DebugTheCode the loading is being made on the iOS native side and not Flutter's. So thats not actually possible, but I can provide a way for a custom loading, just want to keep it simple.

As for your question, currently is not possible, but I can add a `FileType.media` for that use case, probably that's a good option.

[2020-04-27 11:46] DebugTheCode commented on #233
@miguelpruivo Ah, I understand! FileType.media would be a good solution!

[2020-04-27 11:48] miguelpruivo commented on #233
@DebugTheCode I'll add it later today.

Thank you.

[2020-04-27 11:49] miguelpruivo commented on #252
@zhangruiyu have you managed to solve this?

[2020-04-27 11:54] DebugTheCode commented on #24
As a suggestion, if you want to manually check what codec a file is, you can use the ffmpeg library (https://pub.dev/packages/flutter_ffmpeg). For some things it may be an overkill to use it, but it's very reliable.

[2020-04-27 12:15] ethael commented on #229
After that pull request of mine I realized, that the web implementation is "not yet implemented". But thanks anyway :) Just for fun I tried to link that handle method to getFilePath. The picker is shown, but then a type mismatch. Let me please know when you'll have something testable, I will gladly test it if needed.

[2020-04-27 13:20] miguelpruivo commented on #24
@DebugTheCode I'm familiar with ffmpeg, however, it's an heavy package to be bundled with and also has restrictions on minor iOS version for Flutter (I believe iOS 11). I think that it should be up to the user to use whatever he wants because some may want to add compression, check codecs and so on while others don't.

[2020-04-27 13:22] DebugTheCode commented on #24
@miguelpruivo I agree. That's why I warned for the possible overkill.

[2020-04-27 15:10] Niubaobao opened #257 "suggest"
When upgrading, please consider backward compatibility. Every time this component is hung, it will affect the user experience

[2020-04-27 15:12] miguelpruivo commented on #257
@Niubaobao what do you mean? It supports all iOS versions (supported by Flutter, since 8.0).

[2020-04-27 17:33] jamesdixon commented on #233
@miguelpruivo nice! I'm working on integrating this but ran into an error. Seems like there may be a conflict with [flutter_image_cropper](https://github.com/hnvn/flutter_image_cropper)?

When I try and build, I am getting an error about a missing .h file from that package. This didn't happen before 1.7.1, so I'm wondering if there's an issue. Would you mind installing it on your end to see if you

[2020-04-27 21:52] miguelpruivo commented on #233
@DebugTheCode already added `FileType.media` as demanded. It's live on 1.8.0. 🙂

@jamesdixon indeed they must be conflicting somehow, as both packages use TOCropViewController — I wish there was a way to specify subdependencies that I want to include from my pod's subspecs, but that's not actually possible (not that I know), because I don't actually need the cropper at all.

Were you previously us

[2020-04-27 22:16] jamesdixon commented on #233
@miguelpruivo yes, I was using `use_frameworks!` previously. I was curious if `DKImagePicker` is even using that dependency as I didn't see cropping mentioned in its feature set.

Unfortunately, `flutter_image_cropper` is the best implementation I've seen, so trying to determine a workaround.

[2020-04-27 23:36] miguelpruivo commented on #233
I don’t like the idea of having conflicts with other packages dependencies as well @jamesdixon, so let me know if you find a way!

[2020-04-28 01:42] Niubaobao commented on #257
非常抱歉，应该不是你那边的问题，我在打包ios执行 pod install的时候发现找不到flie_pick最新版本的，导致无法打包，所以我现在是锁住了flie_pick的版本。等后面再看看吧

[2020-04-28 01:43] Niubaobao commented on #257
I'm really sorry that it should not be your problem. When I was packing Ios to perform pod install, I found that I could not find the latest version of flutter_file_picker, so I cannot pack it. Therefore, I have locked the version of flutter_file_picker, and I will have a look at it later

[2020-04-28 01:43] #257 closed

[2020-04-28 07:22] DebugTheCode commented on #233
@miguelpruivo Great! I came across (probably) a bug. When I use `FileType.custom` with `allowedExtensions` it throws the following error: `Unhandled Exception: Exception: If you are using a custom extension filter, please use the FileType.custom instead.`

This is what I'm calling: `await FilePicker.getFile(type: FileType.custom, allowedExtensions: ['mp3']);`

Hope this is enough information for y

[2020-04-28 08:41] miguelpruivo commented on #257
No problem. If you are using the latest version don’t forget to add the `use_frameworks!` on your iOS/Podfile.

[2020-04-28 08:43] miguelpruivo commented on #233
@DebugTheCode yeah, that shouldn’t happen. Which platform are you on? iOS?

[2020-04-28 08:51] DebugTheCode commented on #233
@miguelpruivo Yes on iOS. Also tested it on Android: same error.

[2020-04-28 08:54] miguelpruivo commented on #233
@DebugTheCode what if you use specify than just one type?

[2020-04-28 08:56] DebugTheCode commented on #233
@miguelpruivo What do you mean? Also tried is with more than one extension in the array. Still the same. It worked before the 1.8.0

[2020-04-28 09:01] DebugTheCode commented on #233
I think I see the issue in your code. On line 69 in file_picker.dart you're checking for uppercase CUSTOM. In the new version you've made everything lowercase. Maybe this is it?

[2020-04-28 09:20] miguelpruivo commented on #233
Yes, good catch. I was afraid of missing some @DebugTheCode. Refactored to make it more clean as I don't need to maintain a switch case for handling types now.

I'm deploying a 1.8.0+1 with a fix for it in a few minutes. Thanks!

[2020-04-28 09:32] miguelpruivo commented on #233
@DebugTheCode done. It should be all fine now. Let me know if you find something else — actually, feel free to file and issue for it.

Thanks!

[2020-04-28 11:54] jagmit commented on #223
Joining this thread with the same issue.

<details>
  <summary>What I'm using:</summary>

[code]
</details>

<details>
  <summary>The issue when building my application for android:</summary>

[code]
</details>

What I've already checked/tried:
* My application is migrated to androidX
* and has to changes required for Android V2 embedded
* I've run `flutter clean`and `flutter pub cache repair`
* P

[2020-04-28 11:56] miguelpruivo commented on #223
@jagmit if I have the time, today I'll create a sample project with Kotlin and see if I can replicate it. If so, then that's the main lead. I'll keep in touch.

[2020-04-28 11:57] #249 closed

[2020-04-28 11:58] miguelpruivo commented on #240
@CyberGhost007 I still have to look into it. I'll keep you updated.

[2020-04-28 11:58] miguelpruivo commented on #252
I'll assume you've managed to solve it. If not, feel free to reopen it with more details. Thank you.

[2020-04-28 11:58] #252 closed

[2020-04-28 12:02] CyberGhost007 commented on #240
Perfect, thanks

[2020-04-28 13:46] jagmit commented on #223
Just tried with transforming my MainActivity from Kotlin to Java and the issue is still there.
Same with pointing my manifest directly to the `FlutterActivity` coming from Flutter itself like:

[code]

[2020-04-28 14:39] miguelpruivo commented on #223
@jagmit I believe that it must be some config property, we just need to find which one. Because running the plugin on Java projects works just fine.

[2020-04-29 03:03] jamesdixon opened #259 "[Feature] Cleaning up files after use"
Hi, not a suggestion but not a bug either, maybe more of a question?

I noticed that on iOS (haven't looked at Android) that files are saved using `NSTemporaryDirectory()`. I realize this is cleaned up periodically via the OS but I'd like to be able to clear this after usage as many of the users of my phones tend to have low storage to begin with, which ends up in more support requests for me 😄

T

[2020-04-29 08:13] MayIGetKepler opened #260 "getMultiFilePath can not pick file"
getMultiFilePath can not pick file
this api work only when I specify `type: FileType.custom`, but if the length of allowedExtensions is large than 1, it can not pick any file too .

* Platform macOs Mojave 10.14.6

* code :
`    await FilePicker.getMultiFilePath();
`
* result :
![picker](https://user-images.githubusercontent.com/45789654/80573485-a0dc2000-8a32-11ea-8297-a97301307d39.png)
* Flutter

[2020-04-29 10:05] miguelpruivo commented on #260
@MayIGetKepler thank you! We are aware of this issue on the Go side implementation for Darwin architectures (MacOS), we need to further look into but as of now you should have no issues on Windows or Linux.

[2020-04-29 10:38] shahnawazahmed88 opened #261 "FileSystemException: Cannot retrieve length of file,(OS Error: No such file or directory, errno = 2)"
Getting, Unhandled Exception: FileSystemException: Cannot retrieve length of file, path = '/private/var/mobile/Containers/Data/Application/0C1997E5-5243-494E-85EA-830E3248CC97/tmp/com.vassar.bluis-Inbox/https:%2Ffoodlicensing.fssai.gov.in%2FREG%2FRG_ViewReceipt.aspx?ReqID=68198366.pdf' (OS Error: No such file or directory, errno = 2)

in Android its working fine but in iOS 13.4 real device getting

[2020-04-29 10:49] miguelpruivo commented on #261
@shahnawazahmed88 does that happen with all files or just that one? May I ask you to try with another one? Thanks.

[2020-04-29 11:01] shahnawazahmed88 commented on #261
Yeah I tried with another pdf file "A Sample PDF.pdf", got exception

[VERBOSE-2:ui_dart_state.cc(157)] Unhandled Exception: FileSystemException: Cannot retrieve length of file, path = '/private/var/mobile/Containers/Data/Application/91C0B3B7-2102-49AE-9647-61904A9DB030/tmp/com.vassar.bluis-Inbox/A Sample PDF.pdf' (OS Error: No such file or directory, errno = 2)

[2020-04-29 11:02] miguelpruivo commented on #261
@shahnawazahmed88 that stack doesn't seem to be coming from the plugin itself but with something that you might be doing afterwards.

May I ask you to post the code/lines where you got the exception? Thank you.

[2020-04-29 11:10] shahnawazahmed88 commented on #261
I am not getting line number after this exception occurs, check here complete logs

2020-04-29 16:29:55.398581+0530 Runner[4401:1425062] [VERBOSE-2:ui_dart_state.cc(157)] Unhandled Exception: FileSystemException: Cannot retrieve length of file, path = '/private/var/mobile/Containers/Data/Application/91C0B3B7-2102-49AE-9647-61904A9DB030/tmp/com.vassar.bluis-Inbox/A Sample PDF.pdf' (OS Error: No suc

[2020-04-29 11:24] redbayoub commented on #242
same issue here BLL-L21

I/FilePickerDelegate(31042): [SingleFilePick] File URI:content://media/external/images/media/196334
E/FilePickerUtils(31042): Getting for API 19 or abovecontent://media/external/images/media/196334
E/FilePickerUtils(31042): NO DOCUMENT URI - CONTENT: /external/images/media/196334
I/FilePickerDelegate(31042): Absolute file path:/storage/emulated/0/DCIM/Camera/IMG_20200416_1

[2020-04-29 12:15] miguelpruivo commented on #261
@shahnawazahmed88 can you post your code where you call the picker? It looks like you are creating a `File` instance with a wrong path.